:host {
  display: block;
}

.zx-stats-section-skeleton__value {
  height: var(--zx-stats-section-skeleton-value-height);
  width: var(--zx-stats-section-skeleton-value-width);
}

.zx-stats-section-skeleton__label {
  height: var(--zx-stats-section-skeleton-label-height);
  width: var(--zx-stats-section-skeleton-label-width);
}

.zx-stats-section-skeleton__title {
  height: var(--zx-stats-section-skeleton-title-height);
  width: var(--zx-stats-section-skeleton-title-width);
}

.zx-stats-section-skeleton__chart {
  height: var(--zx-stats-section-skeleton-chart-height);
  width: var(--zx-stats-section-skeleton-chart-width);
}
