:host {
  display: block;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: var(--input-height);
  border: var(--border-width-thin) solid var(--input-border-color);
  background-color: var(--input-bg);
  color: var(--input-text);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: var(--input-line-height);
  outline: none;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    border-color: var(--input-border-focus-color);
  }

  &.ng-invalid.ng-touched {
    border-color: var(--input-border-error-color);
  }

  &.zx-input--sm {
    height: var(--input-sm-height);
    padding: var(--input-padding);
    font-size: var(--input-sm-font-size);
    font-weight: var(--input-sm-font-weight);
    line-height: var(--input-sm-line-height);
  }

  &[type='number'].zx-input--sm {
    width: 64px;
    text-align: center;
  }
}

