<ng-container *ngIf="user$ | async as user">
  <zx-button
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    color="transparent"
    [square]="true"
    [ariaLabel]="(user.userName !== 'anonymous' ? 'login.user-menu-label' : 'login.trigger-label') | translate"
    [attr.aria-expanded]="popoverOpen"
    (click)="togglePopover($event)"
  >
    <svg-icon name="person" class="lt-icon"></svg-icon>
  </zx-button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="popoverOpen"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayHasBackdrop]="true"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    (backdropClick)="closePopover()"
    (overlayKeydown)="onOverlayKeydown($event)"
  >
    <zx-header-popover class="lt-popover" (click)="$event.stopPropagation()">
      @defer (when popoverOpen) {
        <zx-login-popover-content></zx-login-popover-content>
      }
    </zx-header-popover>
  </ng-template>
</ng-container>
