<zx-page-layout *ngIf="vm$ | async as vm">
  <h1 zxPageHeader appHeading="display">{{ 'menu.parties' | translate }}</h1>
  <zx-toggle
    *ngIf="viewToggleOptions$ | async as viewToggleOptions"
    zxPageHeader
    size="sm"
    [options]="viewToggleOptions"
    [value]="viewMode"
    (valueChange)="setViewMode($event)"
  ></zx-toggle>
  <zx-nav-chips [chips]="yearChips(vm.selectedYear)"></zx-nav-chips>
  <zx-parties-list-skeleton
    *ngIf="vm.parties === null"
    [viewMode]="viewMode"
  ></zx-parties-list-skeleton>
  <zx-parties-list
    *ngIf="vm.parties !== null"
    [parties]="vm.parties"
    [viewMode]="viewMode"
  ></zx-parties-list>
</zx-page-layout>
