<zx-stack *ngIf="vm$ | async as vm" spacing="lg">
  <h1 appHeading="headline">{{ 'menu.parties' | translate }}</h1>
  <zx-inline align="center" justify="between" [wrap]="true">
    <zx-inline gap="xs" [wrap]="true">
      <zx-button
        *ngFor="let year of years"
        size="xs"
        [color]="vm.selectedYear === year.toString() ? 'primary' : 'transparent'"
        [href]="'/parties/' + year"
      >{{ year }}</zx-button>
    </zx-inline>
    <zx-toggle
      *ngIf="viewToggleOptions$ | async as viewToggleOptions"
      size="sm"
      [options]="viewToggleOptions"
      [value]="viewMode"
      (valueChange)="setViewMode($event)"
    ></zx-toggle>
  </zx-inline>
  <zx-parties-list-skeleton
    *ngIf="vm.parties === null"
    [viewMode]="viewMode"
  ></zx-parties-list-skeleton>
  <zx-parties-list
    *ngIf="vm.parties !== null"
    [parties]="vm.parties"
    [viewMode]="viewMode"
  ></zx-parties-list>
</zx-stack>
