<div class="settings-dialog">
  <button mat-icon-button (click)="close()" class="settings-dialog__close">
    <mat-icon>close</mat-icon>
  </button>

  <mat-dialog-content>
    <zx-stack spacing="lg">
      <div class="settings-section">
        <h3 zxHeading3 class="settings-section__title">{{ 'settings.theme' | translate }}</h3>
        <zx-toggle
          [options]="themeOptions"
          [value]="currentTheme"
          (valueChange)="onThemeChange($event)"
        ></zx-toggle>
      </div>
    </zx-stack>
  </mat-dialog-content>
</div>
