:host {
  display: block;
}

.zx-stats__kpi-value {
  color: var(--zx-stats-kpi-value-color);
}

.zx-stats__kpi-slash {
  color: var(--zx-stats-kpi-separator-color);
  font-weight: 400;
}

.zx-stats__kpi-skeleton-value {
  height: var(--zx-stats-kpi-skeleton-value-height);
  width: var(--zx-stats-kpi-skeleton-value-width);
}

.zx-stats__kpi-skeleton-label {
  height: var(--zx-stats-kpi-skeleton-label-height);
  width: var(--zx-stats-kpi-skeleton-label-width);
}
