<zx-panel *ngIf="!mounted" [appInViewport]="!mounted" (inViewport)="onInViewport()">
  <zx-picture-grid-skeleton *ngIf="tabs.hasPictures; else nonPictureWorks" [count]="6"></zx-picture-grid-skeleton>
  <ng-template #nonPictureWorks>
    <zx-tune-table-skeleton *ngIf="tabs.hasTunes; else softwareWorks" [count]="10"></zx-tune-table-skeleton>
  </ng-template>
  <ng-template #softwareWorks>
    <zx-prods-list-skeleton [count]="6"></zx-prods-list-skeleton>
  </ng-template>
</zx-panel>

<zx-tabs *ngIf="mounted" [initialActiveIndex]="initialTabIndex">
  <zx-tab
    *ngIf="tabs.hasPictures"
    [label]="'author-details.works.graphics' | translate"
    [href]="gfxHref">
    <ng-template zxTabContent>
      <zx-author-graphics-tab [elementId]="elementId" [urlBase]="gfxHref"></zx-author-graphics-tab>
    </ng-template>
  </zx-tab>

  <zx-tab
    *ngIf="tabs.hasTunes"
    [label]="'author-details.works.music' | translate"
    [href]="musicHref">
    <ng-template zxTabContent>
      <zx-author-music-tab [elementId]="elementId" [urlBase]="musicHref"></zx-author-music-tab>
    </ng-template>
  </zx-tab>

  <zx-tab
    *ngIf="tabs.hasProds"
    [label]="'author-details.works.software' | translate"
    [href]="softwareHref">
    <ng-template zxTabContent>
      <zx-author-software-tab [elementId]="elementId" [urlBase]="softwareHref"></zx-author-software-tab>
    </ng-template>
  </zx-tab>
</zx-tabs>
