<zx-page-layout>
  <h1 zxPageHeader appHeading="display">{{ 'firstpage.title' | translate }}</h1>
  <zx-button zxPageHeader color="secondary" (click)="openConfig()">
    <svg-icon name="settings" class="fp-config-icon"></svg-icon>
  </zx-button>

  <zx-picture-gallery-host></zx-picture-gallery-host>

  <ng-container *ngFor="let entry of modules$ | async">
    <ng-container
      *ngComponentOutlet="entry.component; injector: entry.injector"
    ></ng-container>
  </ng-container>
</zx-page-layout>
