<zx-stack
  spacing="md"
  [appInViewport]="!loaded && !loading"
  (inViewport)="onInViewport()"
>
  <ng-container *ngIf="loading || (loaded && mentions.length > 0)">
    <h2 appHeading="headline">{{ 'prod-details.mentions' | translate }}</h2>

    <zx-comment-skeleton *ngIf="loading" [count]="2"></zx-comment-skeleton>

    <zx-press-mentions-list
      *ngIf="loaded && mentions.length > 0"
      [articles]="mentions"
      [readLinkLabel]="'prod-details.readArticle' | translate">
    </zx-press-mentions-list>
  </ng-container>
</zx-stack>
