<div
  class="prod-mentions-section"
  [appInViewport]="!loaded && !loading"
  (inViewport)="onInViewport()"
>
  <ng-container *ngIf="loading || (loaded && mentions.length > 0)">
    <h2 zxHeading2 class="prod-mentions-section__title">{{ 'prod-details.mentions' | translate }}</h2>

    <zx-skeleton *ngIf="loading" variant="comment" [count]="2"></zx-skeleton>

    <div *ngIf="loaded && mentions.length > 0" class="prod-mentions-section__list">
      <zx-article-preview
        *ngFor="let article of mentions; trackBy: trackById"
        [title]="article.title"
        [url]="article.url"
        [snippetHtml]="article.introduction || null"
        [authors]="article.authors"
        [publication]="article.publication"
      ></zx-article-preview>
    </div>
  </ng-container>
</div>
