<zx-stack spacing="xl">
  <zx-breadcrumbs [loading]="true"></zx-breadcrumbs>

  <zx-grid [desktopColumns]="'2'" [mobileColumns]="'1'" gap="xl" align="start">
    <zx-skeleton-bone class="tds__player"></zx-skeleton-bone>
    <zx-stack spacing="md">
      <zx-skeleton-bone class="tds__title"></zx-skeleton-bone>
      <zx-skeleton-bone class="tds__line"></zx-skeleton-bone>
      <zx-skeleton-bone class="tds__line"></zx-skeleton-bone>
      <zx-skeleton-bone class="tds__line"></zx-skeleton-bone>
    </zx-stack>
  </zx-grid>
  <zx-grid [desktopColumns]="'2'" [mobileColumns]="'1'" gap="lg" align="start">
    <zx-skeleton-bone class="tds__panel"></zx-skeleton-bone>
    <zx-skeleton-bone class="tds__panel"></zx-skeleton-bone>
  </zx-grid>
</zx-stack>
