<div class="zx-picture-gallery-overlay" *ngIf="active">
  <button
    *ngIf="canZoom"
    type="button"
    class="zx-picture-gallery-zoom-toggle"
    (click)="toggleZoom($event)"
  >
    <svg-icon [name]="galleryService.zoomEnabled() ? 'zoom-out' : 'zoom-in'"></svg-icon>
  </button>

  <div class="zx-picture-gallery-zoom-area" *ngIf="canZoom && galleryService.zoomEnabled()">
    <lib-ngx-image-zoom
      [thumbImage]="thumb || src"
      [fullImage]="src"
      [zoomMode]="'hover'"
      [magnification]="3"
      [enableScrollZoom]="true"
    ></lib-ngx-image-zoom>
  </div>
</div>
