@use "shared/vars" as vars;

.form {
  display: flex;
  gap: vars.$padding-lg;

  align-items: center;
}

.description {
  font-size: vars.$font-sm;
  margin-bottom: vars.$padding-md;
}

.error {
  color: vars.$error-color;
}

.parser-top {
  margin-bottom: vars.$padding-xl;
}

.results-controls {
  display: block;
  margin-bottom: vars.$padding-xl;

  input {
    margin-right: vars.$padding-sm;
  }
}
