@import "shared/vars";

.form {
  display: flex;
  gap: $padding-lg;

  align-items: center;
}

.description {
  font-size: $font-sm;
  margin-bottom: $padding-md;
}

.error {
  color: $error-color;
}

.parser-top {
  margin-bottom: $padding-xl;
}

.results-controls {
  display: block;
  margin-bottom: $padding-xl;

  input {
    margin-right: $padding-sm;
  }
}
