<div class="parser-top">
  <div class="description">{{ 'parser.description' | translate}}</div>
  <div class="form">
    <input type="file" (change)="fileChanged($event)"/>
    <button mat-raised-button color="primary" type="button" (click)="load()"
            [disabled]="!!error">{{'parser.upload' | translate}}</button>
  </div>
  <mat-spinner *ngIf="loading" diameter="100" strokeWidth="10"></mat-spinner>
  <div *ngIf=error class="error">{{ error }}</div>
</div>
<div class="results" *ngIf="data">
  <label class="results-controls">
    <input type="checkbox" class="" [formControl]="notFoundOnly">{{ 'parser.not-found-only'  | translate }}
  </label>
  <app-parsed-file [notFoundOnly]="notFoundOnly.value" class="result-item" *ngFor="let file of data" [data]="file"></app-parsed-file>
</div>
