:root {
  /* Debug */
  --debug-padding: var(--space-8) var(--space-16);
  --debug-font-size: var(--font-xs);
  --debug-bg: var(--white);
  --debug-border-color: var(--gray4);
  --debug-color: var(--gray5);
}
