:root {
  /* Languages */
  --language-item-font-size: var(--font-md);
  --language-item-padding: var(--padding-sm);
  --language-item-margin: var(--margin-xs);
  --language-item-hover-bg: var(--background-transparent);
}
