:root {
  /* LinkList Module */
  --linklist-bg: var(--secondary-bg);
  --linklist-padding: var(--space-16);
  --linklist-item-color: var(--text-color);
  --linklist-item-margin-bottom: var(--space-12);
  --linklist-image-wrap-margin-right: var(--space-32);
}

