:root {
  /* Login Module */
  --login-header-padding-bottom: var(--space-20);
  --login-header-font-size: var(--font-md);
  --login-header-button-color: var(--warning-800);
  --login-remember-margin-bottom: var(--space-8);
}

