:root {
  /* Main Menu */
  --mainmenu-margin: 0 var(--margin-lg);
  --mainmenu-item-padding: var(--padding-sm);
  --mainmenu-item-margin: 0 var(--margin-xs);
  --mainmenu-item-font-size: var(--font-md);
  --mainmenu-item-hover-bg: var(--background-transparent);
  --mainmenu-popup-bg: var(--zx-panel-bg);
  --mainmenu-popup-font-size: var(--font-md);
}

