:root {
  /* Mentions */
  --mentions-margin: var(--space-32) 0;
  --mentions-articles-gap: var(--space-16);
  --mentions-article-description-margin-top: var(--space-8);
  --mentions-article-description-font-size: var(--font-sm);
  --mentions-article-description-max-width: 800px;
  --mentions-article-description-color: var(--secondary5);
}
