:root {
  /* Party Module */
  --party-compos-margin: var(--space-32) 0;
  --party-compos-item-margin-bottom: var(--space-32);
  --party-details-logo-max-width: 320px;
  --party-details-logo-margin-left: var(--space-16);
  --party-details-logo-margin-bottom: var(--space-16);
}
