:root {
  /* Playlist Controls */
  --playlist-controls-popup-bg: var(--secondary8);
  --playlist-controls-item-hover-bg: var(--secondary7);
  --playlist-controls-item-padding: var(--space-4) var(--space-8);
  --playlist-controls-item-font-size: var(--font-xs);
}
