:root {
  /* Press Article */
  --pressarticle-list-item-margin-bottom: var(--space-24);
  --pressarticle-list-right-font-size: var(--font-sm);
  --pressarticle-list-right-gap: var(--space-16);
  --pressarticle-list-description-margin-top: var(--space-8);
  --pressarticle-list-description-font-size: var(--font-sm);
  --pressarticle-list-description-max-width: 800px;
  --pressarticle-list-description-color: var(--gray5);
  --pressarticle-layout-gap: 20px;
  --pressarticle-mentions-gap: var(--space-48);
  --pressarticle-mentions-margin-bottom: var(--space-32);
  --pressarticle-mentions-header-margin-bottom: var(--space-8);
  --pressarticle-search-title-margin-top: var(--space-32);
  --pressarticle-search-items-gap: var(--space-32);
  --pressarticle-search-item-margin: var(--space-16);
}
