:root {
  /* Radio & Authorship */
  --radio-icon-size: 42px;
  --radio-icon-margin-right: var(--space-8);
  --radio-button-font-size: var(--font-sm);
  --radio-button-margin-right: var(--space-8);
  --radio-button-line-height: 22px;
  --radio-columnmodule-content-line-height: 42px;
  --authorship-form-margin-bottom: var(--space-16);
  --authorship-form-title-max-width: 210px;
  --authorship-form-title-margin-right: var(--space-16);
  --authorship-form-roles-width: 280px;
  --authorship-form-roles-height: 140px;
  --authorship-form-remove-margin-right: var(--space-16);
  --authorship-form-remove-font-size: var(--font-sm);
  --authorship-form-input-margin-right: var(--space-16);
  --authorship-form-input-max-width: 210px;
}
