:root {
  /* Search Module */
  --search-header-right: var(--space-16);
  --search-header-top: var(--space-16);
  --search-header-controls-margin-left: var(--space-8);
  --search-button-color: var(--warning-200);
  --search-emphasized-color: var(--warning-600);
}

