:root {
  /* Search Module */
  --search-header-right: var(--space-16);
  --search-header-top: var(--space-16);
  --search-header-controls-margin-left: var(--space-8);
  --search-button-color: var(--yellow-light);
  --search-emphasized-color: var(--yellow);
}
