:root {
  /* Search Module */
  --search-header-right: var(--content-padding);
  --search-header-top: var(--space-16);
  --search-header-controls-margin-left: var(--space-8);
  --search-emphasized-color: var(--warning-400);
}

