:root {
  /* Stats */
  --stats-section-gap: var(--gap-lg);
  --stats-section-margin-bottom: var(--margin-xl);
  --stats-chart-bg: var(--secondary-100);
}

.dark-mode {
  --stats-chart-bg: var(--white);
}

