:root {
  /* Tabs */
  --zx-tab-button-margin-right: var(--space-16);
  --zx-tab-button-font-size: var(--font-lg);
  --zx-tab-button-active-bg: var(--secondary-400);
  --zx-tab-button-active-text: var(--secondary-100);
}
