:root {
  /* User Component */
  --user-name-gap: var(--space-4);
  --user-icon-size: 10px;
  --user-icon-size-sm: 11px;
  --user-icon-color-supporter: var(--white);
  --user-icon-color-vip: var(--yellow);
  --user-icon-color-volunteer: var(--white);
  --user-badges-gap: var(--space-16);
  --user-badge-width: 100px;
  --user-badge-image-size: 80px;
  --user-badge-image-margin-bottom: var(--space-4);
}
