:root {
  /* Vote Component */
  --vote-user-vote-color: var(--gray5);
  --vote-user-vote-delimiter-color: var(--gray6);
  --vote-active-color: var(--danger6);
  --vote-plus-minus-hover-bg: var(--gray7);
  --vote-plus-minus-hover-border: 1px solid var(--gray6);
  --vote-plus-minus-hover-radius: var(--radius-sm);
}
