:root {
  /* Vote Component */
  --vote-user-vote-color: var(--secondary5);
  --vote-user-vote-delimiter-color: var(--secondary6);
  --vote-active-color: var(--danger6);
  --vote-plus-minus-hover-bg: var(--secondary7);
  --vote-plus-minus-hover-border: 1px solid var(--secondary6);
  --vote-plus-minus-hover-radius: var(--radius-sm);
}
