:root {
  /* ZX Prod */
  --zxprod-details-video-margin-bottom: var(--space-16);
  --zxprod-details-info-gap: var(--space-16);
  --zxprod-details-info-margin-bottom: var(--space-40);
  --zxprod-details-gallery-margin-bottom: var(--space-40);
  --zxprod-details-releases-margin-bottom: var(--space-40);
  --zxprod-details-description-font-size-mobile: var(--font-sm);
  --zxprod-import-link-margin-bottom: var(--space-8);
  --zxprod-import-link-image-margin-right: var(--space-8);
  --zxprod-details-heading-color: var(--text-color);
  --zxprod-details-heading-font-size: var(--font-lg);
}
