:root {
  /* ZX Music */
  --zxmusic-details-padding: var(--space-16);
  --zxmusic-details-margin: var(--space-16) 0;
  --zxmusic-details-info-playlist-margin-left: var(--space-8);
  --zxmusic-controls-label-margin-left: var(--space-16);
  --zxmusic-details-description-margin: var(--space-16) 0 var(--space-48);
  --zxmusic-details-download-img-margin-right: 5px;
  --zxmusic-controls-full-padding: var(--space-16);
  --zxmusic-controls-full-fixed-left: var(--space-32);
  --zxmusic-controls-full-radius: var(--radius-lg);
  --zxmusic-progress-radius: var(--radius-sm);
  --zxmusic-progress-padding: var(--space-4);
  --zxmusic-controls-buttons-margin-right: var(--space-4);
  --zxmusic-controls-link-margin-left: var(--space-16);
}

.dark-mode {
  --zxmusic-progress-bg: var(--secondary-200);
  --zxmusic-progress-body-bg: var(--secondary-400);
}

.light-mode {
  --zxmusic-progress-bg: var(--secondary-100);
  --zxmusic-progress-body-bg: var(--secondary-200);

  .music_list_original,
  .music_list_tracker,
  .music_list_mp3,
  .music_details_original,
  .music_details_tracker,
  .music_details_mp3 {
    filter: brightness(0);
  }
}


