:root {
  /* ZX Release */
  --zxrelease-layout-gap: 20px;
  --zxrelease-table-header-font-size: var(--font-xs);
  --zxrelease-table-header-color: var(--secondary-500);
  --zxrelease-table-header-padding: var(--space-8) var(--space-16);
  --zxrelease-table-cell-padding: var(--space-4) var(--space-8);
  --zxrelease-table-border-top: 2rem;
  --zxrelease-table-download-gap: var(--space-8);
  --zxrelease-table-font-size-mobile: var(--font-sm);
  --zxrelease-table-description-margin-top: var(--space-8);
  --zxrelease-images-padding: 0 var(--space-8) var(--space-8);
  --zxrelease-table-manuals-margin-top: var(--space-32);
  --zxrelease-short-gap: var(--space-16);
  --zxrelease-short-padding: var(--space-8);
  --zxrelease-short-transition: 0.5s;
  --zxrelease-format-link-icon-margin-right: var(--space-4);
}

