:root {
  /* ZX Item */
  --zxitem-images-gap: var(--space-16);
  --zxitem-image-max-width: 320px;
  --zxitem-image-controls-gap: 5px;
  --zxitem-image-controls-top: var(--space-16);
  --zxitem-image-controls-right: var(--space-16);
  --zxitem-image-button-size: 32px;
  --zxitem-image-button-bg: var(--gray8);
  --zxitem-image-button-border: 1px solid var(--gray7);
  --zxitem-image-button-border-radius: 7px;
  --zxitem-image-button-hover-bg: var(--gray6);
  --zxitem-file-block-margin-bottom: var(--space-8);
}
