.zx-checkbox-field {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.zx-checkbox-field__label {
  line-height: 1;
}
