@if (loading() && !hasLoaded()) {
  <zx-panel>
    <zx-text-skeleton [count]="10" lineHeight="52px"></zx-text-skeleton>
  </zx-panel>
} @else if (hasLoaded()) {
  <zx-panel [title]="'comments.title' | translate">
    <zx-stack spacing="md">
      <zx-stack spacing="md">
        @for (comment of comments(); track comment.id) {
          <div class="latest-comment">
            @if (comment.target) {
              <a [href]="getCommentUrl(comment)" class="latest-comment__link" appText="label" tone="muted-link">
                @if (comment.author) {
                  <zx-user [user]="comment.author" [linkDisabled]="true" [namePrimary]="true" class="latest-comment__author"></zx-user>
                }
                <span appText="label" tone="inherit" class="latest-comment__content">
                  @if (comment.author) {: }
                  <span [innerHTML]="sanitizeHtml(displayContent(comment))"></span>
                </span>
              </a>
            } @else {
              <span class="latest-comment__link" appText="label" tone="muted">
                @if (comment.author) {
                  <zx-user [user]="comment.author" [linkDisabled]="true" [namePrimary]="true" class="latest-comment__author"></zx-user>
                }
                <span appText="label" tone="inherit" class="latest-comment__content">
                  @if (comment.author) {: }
                  <span [innerHTML]="sanitizeHtml(displayContent(comment))"></span>
                </span>
              </span>
            }
          </div>
        }
      </zx-stack>

      @if (allCommentsUrl()) {
        <zx-button color="outlined" size="sm" [href]="allCommentsUrl()">{{ 'comments.all-comments' | translate }}</zx-button>
      }
    </zx-stack>
  </zx-panel>
}
