:host {
  display: block;
}

.latest-comments__title {
  margin-bottom: var(--space-12);
}

.latest-comment {
  line-height: 1.4;
}

.latest-comment__link {
  text-decoration: none;
  color: var(--zx-caption-color);
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.latest-comment__content {
  overflow-wrap: anywhere;
}

.latest-comments__all {
  display: inline-block;
  margin-top: var(--space-12);
  text-decoration: none;
}
