.idea
/design
/htdocs/temporary
/htdocs/trickster-cms
/htdocs/uploads
/htdocs/uploads_releases
/htdocs/userfiles
/htdocs/vendor
/htdocs/project/config/live
/htdocs/crontab
/htdocs/pouet
/htdocs/stats
/htdocs/wos
/db/live
