:host {
  display: block;
}

.zx-subgroups-editor {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.zx-subgroups-editor__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.zx-subgroups-editor__add {
  display: flex;
  align-items: center;
  gap: 8px;
}
