.zx-panel__title {
  margin-bottom: var(--space-12);
}

:host {
  background-color: var(--zx-panel-bg);
  box-sizing: border-box;
  display: block;

  &.zx-panel--elevated {
    box-shadow: var(--zx-panel-shadow);
  }

  &.zx-panel--flat {
    border: var(--zx-panel-border);
  }

  &.zx-panel--radius-sm { border-radius: var(--zx-panel-radius-sm); }
  &.zx-panel--radius-md { border-radius: var(--zx-panel-radius-md); }
  &.zx-panel--radius-lg { border-radius: var(--zx-panel-radius-lg); }
  &.zx-panel--radius-xl { border-radius: var(--zx-panel-radius-xl); }

  &.zx-panel--padding-none { padding: 0; }
  &.zx-panel--padding-sm { padding: var(--zx-panel-padding-sm); }
  &.zx-panel--padding-md { padding: var(--zx-panel-padding-md); }
  &.zx-panel--padding-lg { padding: var(--zx-panel-padding-lg); }
}
