<button
  type="button"
  class="playlist-trigger"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  [attr.aria-label]="'playlist.button_label' | translate"
  [title]="(isAuthenticated$ | async) ? ('playlist.button_label' | translate) : ('playlist.login_required' | translate)"
  (click)="togglePopover($event)"
>
  <svg-icon name="favorite-border" class="playlist-icon"></svg-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="popoverOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="onBackdropClick()"
>
  <div class="playlist-popover" (click)="$event.stopPropagation()">
    <div class="playlist-popover-content">
      <ng-container *ngIf="activePlaylistIds$ | async as activeIds">
        <div class="playlist-list" role="listbox">
          <div
            *ngFor="let item of playlists; trackBy: trackById"
            class="playlist-item"
            [class.playlist-item--active]="isInPlaylist(activeIds, item.id)"
            (click)="togglePlaylist(item.id, activeIds)"
            role="option"
            [attr.aria-selected]="isInPlaylist(activeIds, item.id)"
          >
            <span class="playlist-item-title">{{ item.title }}</span>
            <svg-icon *ngIf="isInPlaylist(activeIds, item.id)" name="check" class="playlist-item-check"></svg-icon>
            <span *ngIf="!isInPlaylist(activeIds, item.id)" class="playlist-item-hint" zxCaption>{{ 'playlist.add_hint' | translate }}</span>
          </div>
        </div>
      </ng-container>

      <div class="playlist-create">
        <zx-input
          size="sm"
          [placeholder]="'playlist.new_placeholder' | translate"
          [(ngModel)]="newPlaylistTitle"
          (keydown.enter)="createPlaylist()"
        ></zx-input>
        <zx-button
          size="sm"
          color="outlined"
          (click)="createPlaylist()"
        >{{ 'playlist.add_submit' | translate }}</zx-button>
      </div>
    </div>
  </div>
</ng-template>
