@use "shared/breakpoints" as breakpoints;

:host {
  display: block;
}

.zx-active-authors__columns {
  columns: 2;

  @include breakpoints.media-breakpoint-up(sm) {
    columns: 3;
  }
  @include breakpoints.media-breakpoint-up(md) {
    columns: 4;
  }
  @include breakpoints.media-breakpoint-up(lg) {
    columns: 5;
  }
  @include breakpoints.media-breakpoint-up(xl) {
    columns: 6;
  }
  @include breakpoints.media-breakpoint-up(xxl) {
    columns: 7;
  }
}

.zx-active-authors__item {
  display: block;
  padding-bottom: var(--zx-active-authors-item-spacing);
  break-inside: avoid;
}
