<ng-container *ngIf="vm$ | async as vm">
  <zx-firstpage-module-wrapper
    titleKey="firstpage.modules.recentParties"
    [viewAllUrl]="vm.viewAllUrl"
    [viewAllLabelKey]="vm.viewAllLabelKey"
    [usePanel]="false"
    [loading]="vm.loading"
    [error]="vm.error"
    [empty]="vm.empty"
  >
    <zx-prods-list-skeleton loadingSkeleton [count]="settings.limit"></zx-prods-list-skeleton>
    <zx-grid desktopColumns="5" mobileColumns="1" gap="lg">
      <zx-party-card *ngFor="let party of vm.items" [party]="party"></zx-party-card>
    </zx-grid>
  </zx-firstpage-module-wrapper>
</ng-container>
