<zx-table size="md" [class.loading]="loading">
  <table>
    <thead>
    <tr>
      <th *ngIf="showRowNumbers" class="col-num"></th>
      <th class="col-title">{{ 'group-browser.columns.title' | translate }}</th>
      <th class="col-type">{{ 'group-browser.columns.type' | translate }}</th>
      <th class="col-realname">{{ 'group-browser.columns.realname' | translate }}</th>
      <th class="col-country">{{ 'group-browser.columns.country' | translate }}</th>
      <th class="col-city">{{ 'group-browser.columns.city' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups; let i = index">
      <td *ngIf="showRowNumbers" class="col-num">{{ rowStartIndex + i + 1 }}</td>
      <td class="col-title">
        <a [href]="group.url">{{ group.title || 'n/a' }}</a>
      </td>
      <td class="col-type">
        <span *ngIf="group.groupType && group.groupType !== 'unknown'">{{ 'group-browser.types.' + group.groupType | translate }}</span>
      </td>
      <td class="col-realname">
        <a *ngIf="group.realGroupUrl; else plainRealName" [href]="group.realGroupUrl">{{ group.realGroupTitle }}</a>
        <ng-template #plainRealName>{{ group.realGroupTitle }}</ng-template>
      </td>
      <td class="col-country">
        <a *ngIf="group.countryUrl; else countryText" [href]="group.countryUrl">{{ group.countryTitle }}</a>
        <ng-template #countryText>{{ group.countryTitle }}</ng-template>
      </td>
      <td class="col-city">
        <a *ngIf="group.cityUrl; else cityText" [href]="group.cityUrl">{{ group.cityTitle }}</a>
        <ng-template #cityText>{{ group.cityTitle }}</ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</zx-table>
