:host {
  display: block;
}

.prod-image {
  display: block;
  position: relative;
  border-top-right-radius: var(--border-radius-xl);
  border-top-left-radius: var(--border-radius-xl);
  overflow: hidden;
  image-rendering: pixelated;
  aspect-ratio: 4 / 3;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.prod-info {
  padding: var(--space-12);
}

.prod-title {
  display: block;
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: var(--space-4);

  &:hover {
    text-decoration: underline;
  }
}

.prod-authors {
  color: var(--text-light-color);
  font-size: var(--zx-caption-font-size);
  margin-bottom: var(--space-4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.prod-meta {
  margin-bottom: var(--space-8);
  min-height: 1.2em;
}

.prod-party {
  font-size: var(--zx-caption-font-size);
  color: var(--text-light-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.prod-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
}

.prod-year {
  color: var(--text-light-color);
  font-size: var(--zx-caption-font-size);
  flex-shrink: 0;
}
