<div *ngIf="loading" class="profile-edit__loading">
  <zx-spinner size="lg"></zx-spinner>
</div>

<form *ngIf="!loading" zxForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <zx-stack spacing="lg">
    <zx-form-field *ngFor="let item of textFields">
      <zx-form-label [for]="'profile-' + item.field">{{ item.labelKey | translate }}</zx-form-label>
      <zx-form-control>
        <zx-input [id]="'profile-' + item.field" [formControlName]="item.field" type="text"></zx-input>
      </zx-form-control>
    </zx-form-field>

    <zx-form-field>
      <zx-checkbox-field formControlName="subscribe" [label]="'profile.subscribe' | translate"></zx-checkbox-field>
    </zx-form-field>

    <zx-form-field>
      <zx-checkbox-field formControlName="showemail" [label]="'profile.show-email' | translate"></zx-checkbox-field>
    </zx-form-field>

    <zx-form-message *ngIf="errorMessage" variant="error">{{ errorMessage | translate }}</zx-form-message>

    <zx-form-actions align="start">
      <zx-button color="primary" type="submit" [disabled]="submitting">{{ 'profile.save' | translate }}</zx-button>
    </zx-form-actions>
  </zx-stack>
</form>
