<td class="release-row__thumb">
    <div *ngIf="release.screenshots.length > 0" class="release-row__thumb-wrap">
      <img
        class="release-row__thumb-img"
        loading="lazy"
        [src]="release.screenshots[0].imageUrl"
        [alt]="release.title"
        [lightbox]="0"
        [gallery]="galleryId"
      />
    </div>
  </td>

  <td class="release-row__title">
    <zx-stack spacing="xs">
      <zx-inline gap="xs" align="baseline">
        <a [href]="release.url" class="release-row__title-link" appText="bodySm" tone="strong">{{ release.title }}</a>
        <span *ngIf="release.isRealtime" class="release-row__realtime" [title]="release.party?.compoLabel || ''" aria-hidden="true">⏱</span>
      </zx-inline>
      <div *ngIf="release.releaseBy.length" class="release-row__releaseby" appText="label" tone="muted">
        <ng-container *ngFor="let group of release.releaseBy; let last = last">
          <a [href]="group.url">{{ group.title }}</a><ng-container *ngIf="!last">, </ng-container>
        </ng-container>
      </div>
      <div *ngIf="release.description" class="release-row__description" appText="bodySm" tone="muted" [innerHTML]="release.description"></div>
    </zx-stack>
  </td>

  <td class="release-row__year">
    <a *ngIf="release.year > 0" [href]="release.url">{{ release.year }}</a>
  </td>

  <td class="release-row__version">{{ release.version }}</td>

  <td class="release-row__type">
    <zx-release-type-badge
      *ngIf="release.releaseType"
      [type]="release.releaseType"
      [label]="release.releaseTypeLabel"
    ></zx-release-type-badge>
  </td>

  <td class="release-row__language">
    <zx-prod-language-links [languages]="release.languages"></zx-prod-language-links>
  </td>

  <td class="release-row__hardware">
    <zx-inline gap="xs" [wrap]="true">
      <a *ngFor="let hw of release.hardware" class="release-row__hardware-item" [href]="hw.catalogueUrl">{{ 'hardware-short.' + hw.id | translate }}</a>
    </zx-inline>
  </td>

  <td class="release-row__format">
    <ng-container *ngFor="let fmt of release.formats; let last = last">
      <a class="release-row__format-link" [href]="fmt.catalogueUrl">
        <ng-container *ngIf="fmt.emoji">{{ fmt.emoji }} </ng-container>{{ fmt.label }}
      </a><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </td>

  <td class="release-row__rating">
    <ng-container *ngIf="release.voting.votes > 0">{{ release.voting.votes | number:'1.0-2' }}</ng-container>
  </td>

  <td class="release-row__downloads">
    <ng-container *ngIf="release.isDownloadable">{{ release.downloadsCount }}</ng-container>
  </td>

  <td class="release-row__plays">
    <ng-container *ngIf="release.isDownloadable">{{ release.playsCount }}</ng-container>
  </td>

  <td class="release-row__actions">
    <zx-inline gap="xs" align="center" [wrap]="true">
      <zx-emulator-play-button
        size="sm"
        [square]="true"
        [ariaLabel]="'release-row.play' | translate"
        [isPlayable]="release.isPlayable"
        [isDownloadable]="release.isDownloadable"
        [playUrl]="release.playUrl"
        [emulatorType]="release.emulatorType"
        [canUploadScreenshot]="canUploadScreenshot"
        [screenshotUploadUrl]="screenshotUploadUrl"
      >
        <svg-icon class="release-row__download-icon" name="play"></svg-icon>
      </zx-emulator-play-button>

<ng-container *ngIf="release.isDownloadable; else externalDownload">
        <zx-button *ngIf="release.downloadUrl"
                   size="sm"
                   color="primary"
                   [square]="true"
                   [ariaLabel]="'release-row.download' | translate"
                   [href]="release.downloadUrl"
                   target="_blank"
                   rel="nofollow">
          <svg-icon class="release-row__download-icon" name="download"></svg-icon>
        </zx-button>
      </ng-container>
      <ng-template #externalDownload>
        <zx-button *ngIf="showPurchaseButton"
                   size="sm"
                   color="secondary"
                   [href]="release.prodExternalLink"
                   target="_blank">
          {{ 'release-row.purchase' | translate }}
        </zx-button>
        <zx-button *ngIf="showOpenLinkButton"
                   size="sm"
                   color="primary"
                   [href]="release.prodExternalLink"
                   target="_blank">
          {{ 'release-row.open-externallink' | translate }}
        </zx-button>
      </ng-template>

    </zx-inline>
  </td>
