<zx-table size="md" [class.loading]="loading">
  <table>
    <thead>
    <tr>
      <th *ngIf="showRowNumbers" class="col-num"></th>
      <th class="col-nick">{{ 'author-browser.columns.nick' | translate }}</th>
      <th class="col-groups">{{ 'author-browser.columns.groups' | translate }}</th>
      <th class="col-realname">{{ 'author-browser.columns.realname' | translate }}</th>
      <th class="col-country">{{ 'author-browser.columns.country' | translate }}</th>
      <th class="col-city">{{ 'author-browser.columns.city' | translate }}</th>
      <th class="col-rating">{{ 'author-browser.columns.musicRating' | translate }}</th>
      <th class="col-rating">{{ 'author-browser.columns.graphicsRating' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authors; let i = index">
      <td *ngIf="showRowNumbers" class="col-num">{{ rowStartIndex + i + 1 }}</td>
      <td class="col-nick">
        <a [href]="author.url">{{ author.title || 'n/a' }}</a>
      </td>
      <td class="col-groups">
        <ng-container *ngFor="let group of author.groups; let last = last">
          <a [href]="group.url">{{ group.title }}</a>
          <ng-container *ngIf="!last">, </ng-container>
        </ng-container>
      </td>
      <td class="col-realname">
        <a *ngIf="author.realNameUrl; else plainRealName" [href]="author.realNameUrl">{{ author.realName }}</a>
        <ng-template #plainRealName>{{ author.realName }}</ng-template>
      </td>
      <td class="col-country">
        <a *ngIf="author.countryUrl; else countryText" [href]="author.countryUrl">{{ author.countryTitle }}</a>
        <ng-template #countryText>{{ author.countryTitle }}</ng-template>
      </td>
      <td class="col-city">
        <a *ngIf="author.cityUrl; else cityText" [href]="author.cityUrl">{{ author.cityTitle }}</a>
        <ng-template #cityText>{{ author.cityTitle }}</ng-template>
      </td>
      <td class="col-rating">
        <span *ngIf="author.musicRating > 0">{{ author.musicRating | number:'1.0-1' }}</span>
      </td>
      <td class="col-rating">
        <span *ngIf="author.graphicsRating > 0">{{ author.graphicsRating | number:'1.0-1' }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</zx-table>
