<ng-container *ngIf="data$ | async as data; else skeleton">
  <zx-stack spacing="sm">
    <h3 appHeading="title">{{ 'prod-details.description' | translate }}</h3>
    <div *ngIf="data.htmlDescription; else plainText" appText="body" tone="primary" [innerHTML]="data.description"></div>
    <ng-template #plainText>
      <div class="prod-description--plain" appText="body" tone="primary">{{ data.description }}</div>
    </ng-template>
  </zx-stack>
</ng-container>

<ng-template #skeleton>
  <zx-stack spacing="sm">
    <zx-skeleton-bone
      *ngFor="let line of skeletonLines; index as i"
      class="prod-description-skeleton__line"
      [style.animation-delay.ms]="i * 80"
    ></zx-skeleton-bone>
  </zx-stack>
</ng-template>
