<zx-stack *ngIf="description === null; else descriptionContent" spacing="sm">
  <zx-skeleton-bone
    *ngFor="let line of skeletonLines; index as i"
    class="prod-description-skeleton__line"
    [style.animation-delay.ms]="i * 80"
  ></zx-skeleton-bone>
</zx-stack>

<ng-template #descriptionContent>
  <zx-stack spacing="sm">
    <h3 appHeading="title">{{ 'prod-details.description' | translate }}</h3>
    <div *ngIf="htmlDescription; else plainText" appText="body" [innerHTML]="description"></div>
    <ng-template #plainText>
      <div class="prod-description--plain" appText="body">{{ description }}</div>
    </ng-template>
  </zx-stack>
</ng-template>
