@use "shared/vars";
@use "shared/mixins";
@use "shared/breakpoints";


$fixedWidth: 256px;
$fixedHeight: 192px;
:host {
  display: block;
}

.zx-prod-internal {
  background: vars.$gray8;
  border-radius: vars.$radius-xl;
  box-shadow: vars.$shadow-md;
}

.zx-prod-images {
  display: block;
  position: relative;
  border-top-right-radius: vars.$radius-xl;
  border-top-left-radius: vars.$radius-xl;
  overflow: hidden;
  image-rendering: pixelated;
  @media (min-width: 1000px) {
    height: $fixedHeight;
  }
  @media (max-width: 999px) {
    padding-top: 75%;
  }
}

:host.inlays {
  .zx-prod-images {
    height: auto;
    padding-top: 100%;
  }
}

.zx-prod-loading {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

.zx-prod-screenshots {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.zx-prod-screenshot {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.zx-prod-screenshot-selected {
  opacity: 1;
}

.zx-prod-screenshots-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 35%);
}

.zx-prod-screenshots-button {
  width: 15%;
  height: 100%;
  display: block;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: vars.$padding-sm;
    left: vars.$padding-xs;
    right: vars.$padding-xs;
    background: vars.$white;
    opacity: 0.7;
    border-radius: vars.$radius-md;
    height: 0.4rem;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.zx-prod-hardware {
  position: absolute;
  top: 2px;
  right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.zx-prod-hardware-opaque {
  .zx-prod-hardware-item {
    opacity: 0.2;
  }

  .zx-prod-hardware-item:hover {
    opacity: 1;
  }
}

.zx-prod-hardware-item {
  position: relative;
  display: block;
  font-size: vars.$font-xs;
  padding: vars.$padding-xxs vars.$padding-xs;
  border-radius: 7px;
  background: vars.$gray8;
  color: vars.$text-white-color;
  margin-bottom: vars.$padding-xs;
  border: vars.$gray7 1px solid;
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}

.zx-prod-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: vars.$font-xl;
  color: vars.$gray6;
  text-transform: uppercase;
}

.zx-prod-bottom {
  padding: vars.$padding-md;
}

.zx-prod-bottom-top {
  display: flex;
  margin-bottom: vars.$padding-sm;
}

.zx-prod-title {
  display: block;
  color: currentColor;
  font-size: vars.$font-lg;
  text-decoration: none;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
  }
}

.zx-prod-cart {
  flex-grow: 0;
  display: flex;
  padding-top: 2px;
  margin-left: 10px;

  svg-icon {
    width: 25px;
    height: 25px;
    display: block;
    transition: opacity 200ms ease-in-out;

    &:focus,
    &:hover {
      opacity: 0.6;
    }
  }

  svg {
    fill: vars.$yellow;
  }
}

.zx-prod-bottom-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: vars.$padding-md;
  gap: vars.$padding-md;

  &:empty {
    display: none;
  }
}

.zx-prod-year {
  @include mixins.pseudo-link;
}

.zx-prod-additional {
  width: 100%;
}

.zx-prod-publisher,
.zx-prod-categories,
.zx-prod-languages,
.zx-prod-parties {
  display: block;
  padding-bottom: vars.$padding-sm;
}

.zx-prod-language {
  @include mixins.pseudo-link;
}

.zx-prod-category {
  @include mixins.pseudo-link;
}

.zx-prod-row {
  display: flex;
  flex-wrap: nowrap;
  font-size: vars.$font-sm;
  border-bottom: 1px solid vars.$gray7;
  padding: vars.$padding-sm 0;
  justify-content: space-between;
  width: 100%;

  &:last-of-type {
    border-bottom: 0;
  }
}

.zx-prod-row-label {
  margin-right: 1rem;
  color: vars.$gray5;
}

.zx-prod-row-value {
  text-align: right;
  flex-grow: 1;
}

.zx-prod-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: vars.$padding-lg;
}

.zx-prod-button {
  &:hover {
    text-decoration: inherit;
  }
}
