@import "shared/vars";
@import "shared/mixins";


$fixedWidth: 256px;
$fixedHeight: 192px;
:host {
  display: block;
}

.zx-prod-internal {
  background: $gray8;
  border-radius: $radius-xl;
  box-shadow: $shadow-md;
}

.zx-prod-images {
  display: block;
  position: relative;
  height: $fixedHeight;
  border-top-right-radius: $radius-xl;
  border-top-left-radius: $radius-xl;
  overflow: hidden;
}

:host.inlays {
  .zx-prod-images {
    height: auto;
    padding-top: 100%;
  }
}

.zx-prod-loading {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

.zx-prod-screenshots {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.zx-prod-screenshot {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.zx-prod-screenshot-selected {
  opacity: 1;
}

.zx-prod-screenshots-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 35%);
}

.zx-prod-screenshots-button {
  width: 15%;
  height: 100%;
  display: block;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: $padding-sm;
    left: $padding-xs;
    right: $padding-xs;
    background: $white;
    opacity: 0.7;
    border-radius: $radius-md;
    height: 0.4rem;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.zx-prod-hardware {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.zx-prod-hardware-item {
  display: block;
  font-size: $font-xs;
  padding: $padding-xs;
  border-radius: 2px;
  background: $white;
  color: $text-color;
  margin-bottom: $padding-xs;
}


.zx-prod-bottom {
  padding: $padding-md;
}

.zx-prod-title {
  display: block;
  color: currentColor;
  font-size: $font-lg;
  margin-bottom: $padding-sm;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.zx-prod-year {
  @include pseudo-link;
  float: right;
  margin: 0 0 $padding-md $padding-md;
}

.zx-prod-additional {
  width: 100%;
}

.zx-prod-publisher,
.zx-prod-categories,
.zx-prod-languages,
.zx-prod-parties {
  display: block;
  padding-bottom: $padding-sm;
}

.zx-prod-language {
  @include pseudo-link;
}

.zx-prod-category {
  @include pseudo-link;
}

.zx-prod-row {
  display: flex;
  flex-wrap: nowrap;
  font-size: $font-sm;
  border-bottom: 1px solid $gray7;
  padding: $padding-md 0;
  justify-content: space-between;
  width: 100%;

  &:last-of-type {
    border-bottom: 0;
  }
}

.zx-prod-row-label {
  margin-right: 1rem;
  color: $gray5;
}

.zx-prod-row-value {
  text-align: right;
  flex-grow: 1;
}

.zx-prod-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: $padding-lg;
}

.zx-prod-button {
  &:hover {
    text-decoration: inherit;
  }
}
