/********************************************************
/*  COMPONENT
/********************************************************/
.button {
  background-color: #424242;
  border: none;
  border-radius: 0.3rem;
  min-height: 36px;
  line-height: 28px;
  padding: 0.2rem 0.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #606060;
  }
}

.delete_button {
  border: #860f0f;
  background: #e51919;
  color: #ffffff;
}