/********************************************************
/*  HEADER BLOCK
/********************************************************/
.header_block {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	min-height: 8em;
	position: relative;
	background-color: @secondary_color;
	z-index: 5;
}

.logo_block {
	position: relative;
	margin-top: 1.2em;
	margin-left: 1.9em;
	color: inherit;
	text-decoration: none;
	display: block;
	float: left;
}

.settings_block {
	position: absolute;
	right: 20em;
	top: 4em;
	font-size: 0.8em;
	.button {
		padding: 0.05em 0.1em;
		line-height: 1.1em;
	}
}