/********************************************************
/*  FORM TABLE
/********************************************************/
.form_table {
	margin-left: 0;
}

.form_table td {
	padding: 0.3em;
}

.form_label {
	width: auto;
	font-size: 0.9em;
	color: #a0a0a0;
}

.form_star {
	font-size: 0.9em;
	color: #a09ecf;
}

.form_field {
	width: auto;
	padding-bottom: 1em;
}

.form_table tr.form_error td {
	color: #f00;
}

.form_table .form_controls {
	text-align: right;
	padding-top: 0.5em;
}

.form_deletefile {
	.button;
	text-decoration: none;
}