/********************************************************
/*  STATS COMPONENT
/********************************************************/
.stats_section_graphs {
  @media (min-width: @screen_breakpoint_xl) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(50% - 1rem)');
    }
  }
}

.stats_sections {
  @media (min-width: @screen_breakpoint_md) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_md) {
      width: e('calc(33% - 1rem)')
    }
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(25% - 1rem)');
    }
  }
}

.stats_section {
  margin-bottom: 3em;
}

.chart_component {
  background: #fff;
  height: 15em;
}