/********************************************************
/*  BASIC SETTINGS
/********************************************************/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main_block {
  position: relative;
  margin: 0 auto;
}

.header_block {
  position: relative;
}

.header_gallery {
}

.clearfix {
  .clearfixin();
}

/********************************************************
/*  COLUMNS
/********************************************************/
.columns_table {
  display: flex;
  gap: var(--space-32);
}

.left_column {
  flex-shrink: 0;
  width: 20%;
  box-sizing: border-box;
}

.center_column {
  position: relative;
  min-width: 0; //required to prevent overlapping
  box-sizing: border-box;
  flex-grow: 1;
}

.right_column {
  flex-shrink: 0;
  width: 20%;
  box-sizing: border-box;
}

@media (max-width: @screen_breakpoint_md_max) {
  .right_column,
  .left_column {
    display: none !important;
  }

  .center_column {
    width: 100%;
  }
}

/********************************************************
/*  UNIFIED VALUES
/********************************************************/
.small, small {
  font-size: 85%
}

.mark, mark {
  padding: .2em;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.text_nowrap {
  white-space: nowrap;
}

.text_lowercase {
  text-transform: lowercase;
}

.text_uppercase {
  text-transform: uppercase;
}

.text_capitalize {
  text-transform: capitalize;
}

.text_not_transform {
  text-transform: none;
}

.overflow_hidden_x {
  overflow-x: hidden;
}

.overflow_hidden_y {
  overflow-y: hidden;
}

.overflow_hidden {
  .overflow_hidden_x;
  .overflow_hidden_y;
}

.display_none {
  display: none !important;
}

.display_block {
  display: block !important;
}

.display_inline_block {
  display: inline-block !important;
}

.display_flex {
  display: flex;
}

.display_inline_flex {
  display: inline-flex !important;
}

/********************************************************
/*  HELPERS
/********************************************************/
.hidden {
  color: transparent;
  visibility: hidden;
  display: none;
}

.hidden_fake {
  color: transparent;
  visibility: hidden;
  height: 0;
  transform: scale(0);
  overflow: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

/********************************************************
/*  MEDIA HIDDEN
/********************************************************/
.hidden_xs {
  @media (max-width: @screen_breakpoint_xs_max) {
    //max 575
    & {
      display: none;
    }
  }
}

.hidden_sm {
  @media (min-width: @screen_breakpoint_sm) and (max-width: @screen_breakpoint_sm_max) {
    //576 - 767
    & {
      display: none;
    }
  }
}

.hidden_md {
  @media (min-width: @screen_breakpoint_md) and (max-width: @screen_breakpoint_md_max) {
    //768 - 991
    & {
      display: none;
    }
  }
}

.hidden_lg {
  @media (min-width: @screen_breakpoint_lg) and (max-width: @screen_breakpoint_lg_max) {
    //992 - 1199
    & {
      display: none;
    }
  }
}

.hidden_xl {
  @media (min-width: @screen_breakpoint_xl) and (max-width: @screen_breakpoint_xl_max) {
    //1200 - 1599
    & {
      display: none;
    }
  }
}

.hidden_xxl {
  @media (min-width: @screen_breakpoint_xxl) {
    //1600
    & {
      display: none;
    }
  }
}