@white: #ffffff;
@black: #000000;
@red: #ff0000;

@button_text_color: @white;
@button_icons_color: @button_text_color;

@trick_bg_color_01: @white;
@trick_bg_color_02: @black;
@trick_bg_color_03: #000615;
@trick_bg_color_04: #484848;
@trick_bg_color_05: #918d90;
@trick_bg_color_06: #bababa;
@trick_bg_color_07: #c1bdc1;
@trick_bg_color_08: #ebecee;
@trick_bg_color_09: #f0f0f0;
@trick_bg_color_10: #eeeeee;
@trick_bg_color_11: #f4f4f4;
@trick_bg_color_12: #f8f8f8;
@trick_bg_color_13: #d02725;
@trick_bg_color_14: #e72c69;
@trick_bg_color_15: #5da1d5;
@trick_bg_color_16: #ffff0f;
@trick_bg_color_17: #fff2f2;

@trick_brd_color_01: @white;
@trick_brd_color_02: @black;
@trick_brd_color_03: #061e37;
@trick_brd_color_04: #808080;
@trick_brd_color_05: #918d90;
@trick_brd_color_06: #a0a0a0;
@trick_brd_color_07: #b7bdc1;
@trick_brd_color_08: #e0e0e0;
@trick_brd_color_09: #e3e3e3;
@trick_brd_color_10: #e5e5e5;
@trick_brd_color_11: #e7e7e7;
@trick_brd_color_12: #eeeeee;
@trick_brd_color_13: #f2013f;
@trick_brd_color_14: #ff8000;

@trick_shadow_01: @black;
@trick_shadow_02: #090000;

@trick_text_color_01: @white;
@trick_text_color_02: @black;
@trick_text_color_03: #333333;
@trick_text_color_04: #000615;
@trick_text_color_05: #606060;
@trick_text_color_06: #7f7f7f;
@trick_text_color_07: #808080;
@trick_text_color_08: #fbfbfb;
@trick_text_color_09: #b50000;
@trick_text_color_10: #d02725;
@trick_text_color_11: #cc0000;
@trick_text_color_12: #f2013f;

@trick_badge_bg_color: #1da552;
@trick_badge_text_color: #f7f7f7;

@trick_border_color: #e5e5e8;
@trick_backlight_color: #1da552;

@trick_required_symbol: '*';
@trick_product_details_delimited: ':';
@trick_amount_minus: arrows_minus; // svg
@trick_amount_plus: arrows_plus; // svg
@trick_nav_icon_previous: arrows_left; // svg
@trick_mobile_menu_marker: arrows_left; // svg
@trick_nav_icon_next: arrows_right; // svg
@trick_back_to_top: arrows_up; // svg
@trick_remove: arrows_circle_remove; // svg
@trick_added: arrows_check; // svg
@trick_basket_close: arrows_close; // svg
@trick_fullscreen_close: arrows_close; // svg
@trick_fullscreen_next: arrows_right_bold; // svg
@trick_fullscreen_prev: arrows_left_bold; // svg
@trick_add: arrows_circle_plus; // svg
@trick_zoom: expand_01; // svg
@trick_search_01: magnifying-glass-icon; // svg
@trick_file_upload: arrows_circle_plus; // svg
@trick_file_upload_logo: basic_upload; // svg
@trick_quickview: eye; // svg

