/********************************************************
/*  CONTENT MODULE COMPONENT
/********************************************************/
.contentmodule_component {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.contentmodule_component:last-of-type {
	margin-bottom: 0;
}

.contentmodule_title {
	position: relative;
}

.contentmodule_content {
	display: block;
	position: relative;
	max-width: 100%;
}