/********************************************************
/*  DEBUG BLOCK
/********************************************************/

.debug_block {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	padding: 10px 20px;
	font-family: Lucida Sans, Courier New, monospace;
	font-size: 11px;
	background-color: @trick_bg_color_01;
	border: 1px solid @trick_brd_color_06;
	color: @trick_text_color_07;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}