/********************************************************
/*  FORM TABLE
/********************************************************/
.form_table {
  margin: 0 auto;
  padding: 0;
  border-style: none;
  border-collapse: collapse;
  width: 100%;
}

.form_table td {
  border-style: none;
  border-collapse: collapse;

}

.form_label {
  text-align: right;
  width: 30%;
  box-sizing: border-box;
}

.form_star {
  color: red;
  max-width: 2%;
  text-align: center;
  box-sizing: border-box;
}

.form_field {
  width: 40%;
  vertical-align: middle;
}

.form_field>.ajaxselect_container,
.form_field>.file_input_container,
.form_field>.input_component,
.form_field>.textarea_component,
.form_field>.select_multiple,
.form_field>.dropdown_block {
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
}

.form_field .select_multiple {
  height: 20em;
}

.form_extra {
  width: 30%;
}

.form_table .form_text {
}

.form_table .form_empty {
}

.form_table .form_error .form_label {
}

.form_table tr.form_empty td {
}

.form_controls {
  text-align: center;
  margin: 1.5em auto 0 auto;
  width: 100%;
}

.form_controls .button {

}

@media (max-width: @screen_breakpoint_md_max) {
  .form_table,
  .form_table > tbody,
  .form_table > tbody > tr {
    display: block;
  }

  .form_table > tbody > tr > td {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 0 0;
    width: auto !important;
  }

  .form_table > tbody > tr > td.form_label {
    display: block;
    text-align: left;
  }

  .form_table > tbody > tr > td.form_field {
    width: 100% !important;
  }

  .form_extra {
    display: none !important;
  }
}

/********************************************************
/*  FORM RESULT MESSAGES
/********************************************************/
.form_result_message {
}

.form_error_message {
  color: @trick_text_color_11;
}

.form_error,
.form_error .form_label {
  color: @trick_text_color_11;
}

