/********************************************************
/*  BUTTONS
/********************************************************/
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    max-width: 100%;
    font: inherit;
    box-sizing: border-box;
    user-select: none;
}

.button_text {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}