/********************************************************
/*  REGISTRATION COMPONENT
/********************************************************/
.registration_form_content {
    margin-bottom: 1.5em;
}

.registration_socialplugins {
    margin-bottom: 1rem;
}

.registration_socialplugins_title {
    margin-bottom: 0.5rem;
}

.registration_socialplugin {
    display: inline-block;
    margin-left: 1em;
    width: 3rem;

    &:first-child {
        margin-left: 0;
    }
}

.registration_socialplugin_icon {
    display: inline-block;
    vertical-align: middle;

    max-width: 100%;
}

.registration_socialplugin_text {
    display: inline-block;
    vertical-align: middle;
}

.registration_socialplugin_cancel {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;

    .icon {
        width: 19px;
        height: 19px;
        cursor: pointer;
    }
}