/********************************************************
/*  LOGIN BLOCK
/********************************************************/
.login_form .input_component {
    margin-bottom: 0.7em;
    width: 100%;
}

.login_form_input.form_error {
}

.login_form_block {
}

.login_form_description {
    margin-bottom: 1.5em;
}

.login_form_description p:last-child {
    margin-bottom: 0;
}

.login_form_input {
}

.login_form_button {
}

.login_form_forgottenpassword {

}

.login_form_bottom {
    margin-top: 1em;
}

.login_remember {
    text-align: left;
    display: block;
    margin-bottom: 1rem;

    label {
        vertical-align: middle;
    }
}

.login_form_popup {
    display: none;
}

.login_form_visible {
    display: block;
}

/********************************************************
/*  LOGIN STATUS
/********************************************************/
.login_status {

}

.login_status_message {
    margin-bottom: 1rem;
}

.login_status_button {

}

.login_status_logout {
}

.login_status_userdata {

}

.passwordreminder_contents {
    margin-bottom: 2em;
}

.form_error {
    font-weight: bold;
}

.passwordreminder_form_msg_success {
    font-style: italic;
}

.login_component {
}

.login_contents {
    text-align: center;
}

.login_form_register {
}

.login_forgottenpassword {
    font-size: 0.95em;
}

.login_socialplugins {
    margin-bottom: 1rem;
}

.login_socialplugins_title {
    margin-bottom: 0.5rem;
}

.login_socialplugin {
    display: inline-block;
    margin-left: 1em;
    width: 3rem;

    .login_socialplugin_icon {
        max-width: 100%;
    }

    &:first-child {
        margin-left: 0;
    }
}