.html_content {
    video {
        max-width: 100%;
    }

    .embed-content.responsive {
        position: relative;

        iframe {
            position: absolute;
            height: 100% !important;
            width: 100% !important;
            top: 0;
        }
    }

    img:not(.cke_reset) {
        max-width: 100%;
        height: auto !important;
    }

    td img:not(.cke_reset) {
        max-width: none;
    }
}