<form zxForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <zx-stack spacing="lg">
    <h1>{{ 'password-reminder.title' | translate }}</h1>
    <zx-form-field *ngIf="!resetMode">
      <zx-form-label for="password-reminder-email" [required]="true">{{ 'password-reminder.email' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-input id="password-reminder-email" formControlName="email" type="email"></zx-input>
        <zx-control-errors [control]="form.controls.email" [messages]="emailMessages"></zx-control-errors>
      </zx-form-control>
    </zx-form-field>
    <ng-container *ngIf="resetMode">
      <zx-form-field>
        <zx-form-label for="password-reminder-password" [required]="true">{{ 'password-reminder.password' | translate }}</zx-form-label>
        <zx-form-control>
          <zx-input id="password-reminder-password" formControlName="password" type="password"></zx-input>
          <zx-control-errors [control]="form.controls.password" [messages]="passwordMessages"></zx-control-errors>
        </zx-form-control>
      </zx-form-field>
      <zx-form-field>
        <zx-form-label for="password-reminder-repeat" [required]="true">{{ 'password-reminder.password-repeat' | translate }}</zx-form-label>
        <zx-form-control><zx-input id="password-reminder-repeat" formControlName="passwordRepeat" type="password"></zx-input></zx-form-control>
      </zx-form-field>
    </ng-container>
    <zx-form-message *ngIf="message" [variant]="success ? 'success' : 'error'">{{ message | translate }}</zx-form-message>
    <zx-form-actions align="start">
      <zx-button color="primary" type="submit" [disabled]="submitting">{{ (resetMode ? 'password-reminder.reset' : 'password-reminder.request') | translate }}</zx-button>
    </zx-form-actions>
  </zx-stack>
</form>
