@use 'functions' as *;

$assetsUrl: "/assets/";
$assetsUrl: "/public/assets/";
$imageAssetsUrl: "#{$assetsUrl}images/";
$svgAssetsUrl: "#{$assetsUrl}svg/";

$grid-breakpoints: (
        xs: 320px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$padding-xxs: var(--space-4);
$padding-xs: var(--space-8);
$padding-sm: var(--space-12);
$padding-md: var(--space-16);
$padding-lg: var(--space-32);
$padding-xl: var(--space-48);
$padding-xxl: var(--space-64);

$white: var(--white);
$gray1: var(--gray1);
$gray2: var(--gray2);
$gray3: var(--gray3);
$gray4: var(--gray4);
$gray5: var(--gray5);
$gray6: var(--gray6);
$gray7: var(--gray7);
$gray8: var(--gray8);
$gray9: var(--gray9);
$red: var(--red);
$black: var(--black);
$green: var(--green);
$orange: var(--orange);
$yellow-light: var(--yellow-light);
$yellow: var(--yellow);
//#ABCBFF
$font-md: rem(14px);
$font-xs: 0.7 * $font-md;
$font-sm: 0.85 * $font-md;
$font-lg: $font-md * 1.25;
$font-xl: $font-md * 1.5;

$radius-md: rem(3px);
$radius-lg: $radius-md*2;
$radius-xl: $radius-lg*2;
$radius-sm: $radius-md*0.5;
$radius-xs: $radius-sm*0.5;

$controls-padding: $padding-sm;
$controls-height: 2.4rem;
$controls-transition-time: 0.25s;
$controls-border-radius: $radius-md;

$text-line-height: 1.8;

$text-color: var(--text-color);
$text-white-color: var(--text-white-color);
$text-light-color: var(--text-light-color);
$error-color: var(--error-color);

$shadow-md: var(--shadow-deep);
$shadow-deep: var(--shadow-deep);
$shadow-thin: var(--shadow-thin);

$animation-md: 300ms;
$animation-sm: 200ms;
$animation-xs: 100ms;
