$assetsUrl: "/assets/";
$assetsUrl: "/public/assets/";
$imageAssetsUrl: "#{$assetsUrl}images/";
$svgAssetsUrl: "#{$assetsUrl}svg/";

$grid-breakpoints: (
        xs: 320px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$text-line-height: 1.8;
