@import 'functions';

$assetsUrl: "/assets/";
$assetsUrl: "/public/assets/";
$imageAssetsUrl: "#{$assetsUrl}images/";
$svgAssetsUrl: "#{$assetsUrl}svg/";

$grid-breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$padding-xxs: 0.125rem;
$padding-xs: $padding-xxs * 2;
$padding-sm: $padding-xs*2;
$padding-md: $padding-sm*2;
$padding-lg: $padding-md*2;
$padding-xl: $padding-md*3;
$padding-xxl: $padding-md*4;

$white: #fff;
$gray1: #edebeb;
$gray2: #dadada;
$gray3: #c7c7c7;
$gray4: #a1a1a1;
$gray5: #8a8a8a;
$gray6: #555555;
$gray7: #333333;
$gray8: #252525;
$gray9: #151515;
$red: #cc0000;
$black: #000000;
$green: #74ba01;
$orange: rgba(255, 104, 38, 1);
$yellow-light: hsl(44, 45%, 80%);
$yellow: hsl(44, 100%, 60%);
//#ABCBFF
$font-md: rem(14px);
$font-xs: 0.7 * $font-md;
$font-sm: 0.85 * $font-md;
$font-lg: $font-md * 1.25;
$font-xl: $font-md * 1.5;

$radius-md: rem(3px);
$radius-lg: $radius-md*2;
$radius-xl: $radius-lg*2;
$radius-sm: $radius-md/2;
$radius-xs: $radius-sm/2;

$controls-padding: $padding-sm;
$controls-height: 2.4rem;
$controls-transition-time: 0.25s;
$controls-border-radius: $radius-md;

$text-line-height: 1.8;

$text-color: $gray8;
$text-white-color: $white;
$text-light-color: $gray4;
$error-color: $red;

$shadow-md: 0 3px 10px 3px rgba(0, 0, 0, 0.27);

$animation-md: 300ms;
