<div class="release-row">
  <a [href]="release.url" class="release-title">{{ release.title }}</a>
  <div class="release-authors" *ngIf="release.authors.length">
    <ng-container *ngFor="let author of release.authors; last as last">
      <a [href]="author.url">{{ author.name }}</a><span *ngIf="!last">, </span>
    </ng-container>
  </div>
  <span class="release-year" *ngIf="release.year" zxCaption>{{ release.year }}</span>
  <span class="release-votes" *ngIf="release.votes > 0" zxCaption>{{ release.votes | number:'1.1-1' }}</span>
</div>
