<ng-container *ngIf="core$ | async as core; else loading">
  <zx-stack spacing="xl" class="prod-details">
    <zx-breadcrumbs
      [categories]="core.categoriesPaths.length ? core.categoriesPaths[0].categories : []"
      [currentTitle]="core.h1">
    </zx-breadcrumbs>

    <h1 appHeading="display">{{ core.h1 }}</h1>

    <zx-inline class="prod-details__hero" gap="xl" align="start" [wrap]="true">
      <zx-youtube-embed
        *ngIf="core.youtubeId"
        class="prod-details__cover"
        [youtubeId]="core.youtubeId">
      </zx-youtube-embed>
      <zx-prod-hero class="prod-details__info" [core]="core"></zx-prod-hero>
    </zx-inline>

    <zx-panel *ngIf="core.tabs.hasScreenshots" padding="md" variant="elevated">
      <zx-prod-screenshots-section [elementId]="core.elementId"></zx-prod-screenshots-section>
    </zx-panel>

    <zx-panel
      *ngIf="core.generatedDescription || core.description || core.instructions || core.tags.length"
      [title]="'prod-details.about' | translate"
      titleLevel="h2"
      variant="elevated">
      <zx-stack spacing="md">
        <div *ngIf="core.generatedDescription" appText="body" [innerHTML]="core.generatedDescription"></div>
        <zx-prod-description
          *ngIf="core.description"
          [description]="core.description"
          [htmlDescription]="core.htmlDescription">
        </zx-prod-description>
        <zx-prod-instructions
          *ngIf="core.instructions"
          [instructions]="core.instructions">
        </zx-prod-instructions>
        <zx-tags-list
          [tags]="core.tags"
          [elementId]="core.elementId"
          [label]="'prod-details.tags' | translate"
          [editAriaLabel]="'tags-quick-form.title' | translate"
          [bordered]="true"
        ></zx-tags-list>
      </zx-stack>
    </zx-panel>

    <zx-tabs
      [initialActiveIndex]="commentId !== null ? getDiscussionTabIndex(core.tabs) : 0">
      <zx-tab *ngIf="core.tabs.hasReleases" [label]="'prod-details.tab.releases' | translate">
        <ng-template zxTabContent>
          <zx-prod-releases-section
            [elementId]="core.elementId"
            [prodUrl]="core.prodUrl">
          </zx-prod-releases-section>
        </ng-template>
      </zx-tab>

      <zx-tab
        *ngIf="core.tabs.hasInlays || core.tabs.hasMaps || core.tabs.hasRzx || core.tabs.hasPictures || core.tabs.hasTunes || core.tabs.hasInstructions"
        [label]="'prod-details.tab.media.title' | translate">
        <ng-template zxTabContent>
          <zx-tabs>
            <zx-tab *ngIf="core.tabs.hasInlays" [label]="'prod-details.tab.media.inlays' | translate">
              <ng-template zxTabContent>
                <zx-prod-inlays-section [elementId]="core.elementId"></zx-prod-inlays-section>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasMaps" [label]="'prod-details.tab.media.maps' | translate">
              <ng-template zxTabContent>
                <zx-prod-maps-section [elementId]="core.elementId"></zx-prod-maps-section>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasRzx" [label]="'prod-details.tab.media.rzx' | translate">
              <ng-template zxTabContent>
                <zx-prod-rzx-section [elementId]="core.elementId"></zx-prod-rzx-section>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasPictures" [label]="'prod-details.tab.media.graphics' | translate">
              <ng-template zxTabContent>
                <zx-prod-pictures-section [elementId]="core.elementId"></zx-prod-pictures-section>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasTunes" [label]="'prod-details.tab.media.music' | translate">
              <ng-template zxTabContent>
                <zx-prod-music-section [elementId]="core.elementId"></zx-prod-music-section>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasInstructions" [label]="'prod-details.tab.media.instructions' | translate">
              <ng-template zxTabContent>
                <zx-prod-instructions-section [elementId]="core.elementId"></zx-prod-instructions-section>
              </ng-template>
            </zx-tab>
          </zx-tabs>
        </ng-template>
      </zx-tab>

      <zx-tab
        *ngIf="core.tabs.hasArticles || core.tabs.hasSeriesProds || core.tabs.isInSeries || core.tabs.hasCompilations"
        [label]="'prod-details.tab.links.title' | translate">
        <ng-template zxTabContent>
          <zx-tabs>
            <zx-tab *ngIf="core.tabs.hasArticles" [label]="'prod-details.tab.links.articles' | translate">
              <ng-template zxTabContent>
                <zx-stack spacing="xl">
                  <zx-prod-articles-section [elementId]="core.elementId"></zx-prod-articles-section>
                  <zx-prod-mentions-section [elementId]="core.elementId"></zx-prod-mentions-section>
                </zx-stack>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasSeriesProds || core.tabs.isInSeries" [label]="'prod-details.tab.links.series' | translate">
              <ng-template zxTabContent>
                <zx-stack spacing="xl">
                  <zx-prod-series-prods-section *ngIf="core.tabs.hasSeriesProds" [elementId]="core.elementId"></zx-prod-series-prods-section>
                  <zx-prod-series-section *ngIf="core.tabs.isInSeries" [elementId]="core.elementId"></zx-prod-series-section>
                </zx-stack>
              </ng-template>
            </zx-tab>
            <zx-tab *ngIf="core.tabs.hasCompilations" [label]="'prod-details.tab.links.compilations' | translate">
              <ng-template zxTabContent>
                <zx-stack spacing="xl">
                  <zx-prod-compilations-section [elementId]="core.elementId"></zx-prod-compilations-section>
                  <zx-prod-compilation-items-section [elementId]="core.elementId"></zx-prod-compilation-items-section>
                </zx-stack>
              </ng-template>
            </zx-tab>
          </zx-tabs>
        </ng-template>
      </zx-tab>

      <zx-tab [label]="'prod-details.tab.discussion' | translate">
        <ng-template zxTabContent>
          <zx-stack spacing="xl">
            <zx-comments-list-view [elementId]="core.elementId"></zx-comments-list-view>
            <zx-ratings-list-view [elementId]="core.elementId"></zx-ratings-list-view>
          </zx-stack>
        </ng-template>
      </zx-tab>
    </zx-tabs>
  </zx-stack>
</ng-container>

<ng-template #loading>
  <zx-prod-details-skeleton></zx-prod-details-skeleton>
</ng-template>
