@import "shared/vars";

$amount: 5;

.zx-prods-list-content {
  display: flex;
  gap: $padding-xl;
}

.zx-prods-list-left {
  flex-basis: 10%;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: $padding-md;
}

.zx-prods-list-right {
  flex-basis: 85%;
  flex-grow: 1;
}

.zx-prods {
  display: grid;
  grid-template-columns: 256px 256px 256px 256px;
  gap: $padding-lg;
}

.selectors {
  display: flex;
  gap: $padding-md;
}

app-letter-selector {
  margin: $padding-sm 0 $padding-md;
}

app-pages-selector {
  z-index: 10;
}
