@import "shared/vars";

$amount: 5;

.zx-prods-list-content {
  display: flex;
  gap: $padding-xl;
  align-items: flex-start;
}

.zx-prods-list-left {
  position: sticky;
  top: 0;
  flex-basis: 10%;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: $padding-md;
}

.zx-prods-list-right {
  flex-basis: 85%;
  flex-grow: 1;
}

.zx-prods {
  display: grid;
  grid-template-columns: 256px 256px 256px 256px;
  gap: $padding-lg;
  justify-content: space-between;
}

:host.inlays {
  .zx-prods {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.selectors {
  position: sticky;
  top: 0;
  background: $gray9;
  z-index: 100;
}

.selectors-top {
  display: flex;
  gap: $padding-md;
}

.layout-selector {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $padding-md;
}

app-letter-selector {
  margin: $padding-sm 0 $padding-md;
}

app-pages-selector {
  z-index: 10;
}
