<div *ngIf="model">
  <h1>{{ model.h1 }}</h1>
  <app-dialog-selector
    [selectorData]="model.yearsSelector"
    (newValues)="yearsChanged($event)"
  ></app-dialog-selector>
  <app-sorting-selector
    [sortingSelector]="model.sortingSelector"
    (sortingSelected)="sortingSelected($event)"
  ></app-sorting-selector>
  <app-letter-selector
    [lettersSelector]="model.lettersSelector"
    (letterSelected)="letterSelected($event)"
  ></app-letter-selector>
  <div *ngIf="model.prods" class="zxprods">
    <app-zx-prod
      class="subcontentmodule_component subcontentmodule_square zxprod_short"
      *ngFor="let zxProd of model.prods"
      [model]="zxProd"></app-zx-prod>
  </div>
  <app-pages-selector [pagesAmount]="pagesAmount" [currentPage]="currentPage"
                      (clickCallback)="setCurrentPage($event)"></app-pages-selector>

</div>
