@use "shared/vars" as vars;

.form {
  display: flex;
  gap: var(--gap-xl);

  align-items: center;
}

.description {
  font-size: var(--parser-font-size);
  margin-bottom: var(--margin-lg);
}

.error {
  color: var(--error-color);
}

.parser-top {
  margin-bottom: var(--margin-xxl);
}

.results-controls {
  display: block;
  margin-bottom: var(--margin-xxl);

  input {
    margin-right: var(--margin-md);
  }
}
