<ng-container *ngIf="vm$ | async as vm">
    <div class="parser-top">
        <div class="description">{{ 'parser.description' | translate }}</div>
        <div class="form">
            <input type="file" (change)="fileChanged($event)"/>
            <zx-button color="primary" type="button" (click)="load()" [disabled]="!!vm.error || vm.loading">
                {{ 'parser.upload' | translate }}
            </zx-button>
        </div>
        <zx-spinner *ngIf="vm.loading" size="xl"></zx-spinner>
        <div *ngIf="vm.error" class="error">{{ vm.error }}</div>
    </div>
    <div class="results" *ngIf="vm.data">
        <label class="results-controls">
            <input type="checkbox" [formControl]="notFoundOnly">{{ 'parser.not-found-only' | translate }}
        </label>
        <zx-parsed-file [notFoundOnly]="notFoundOnly.value" class="result-item" *ngFor="let file of vm.data"
                        [data]="file"></zx-parsed-file>
    </div>
</ng-container>
