:root {
  /* Semantic colors */
  --text-color: var(--secondary2);
  --text-white-color: var(--white);
  --text-light-color: var(--secondary4);
  --error-color: var(--danger6);
  --link-hover-color: var(--secondary1);

  --background-dark: var(--secondary8);
  --background-deep: var(--secondary9);
  --background-transparent: transparent;

  --badge-bg: var(--secondary2);
  --date-color: var(--secondary6);

  /* Links */
  --link-color: #83a9e7;
  --link-alt-color: #cfb580;

  /* Typography */
  --h1-font-size: var(--font-xl);
  --h2-font-size: var(--font-lg);
  --h3-font-size: var(--font-md);

  --pseudo-link-color: var(--warning2);
  --icon-yellow: var(--warning6);

  /* Comment */
  --comment-header-font-size: var(--font-sm);
}
