:root {
  /* Semantic colors */
  --text-color: var(--secondary-800);
  --text-light-color: var(--secondary-600);
  --error-color: var(--danger-400);

  --background-dark: var(--secondary-200);
  --background-deep: var(--secondary-100);
  --background-transparent: transparent;

  --date-color: var(--secondary-400);

  /* Links */
  --link-color: var(--primary-500);
  --link-alt-color: var(--warning-400);

  /* Typography */
  --h1-font-size: var(--font-xl);
  --h2-font-size: var(--font-lg);
  --h3-font-size: var(--font-md);

  --pseudo-link-color: var(--warning-800);
  --icon-yellow: var(--warning-400);

  /* Comment */
  --comment-header-font-size: var(--font-sm);
}

