:root {
  /* Forms & Inputs */
  --input-bg: var(--white);
  --input-text: var(--black);
  --input-placeholder: #999999;
  --input-error-text: var(--red);
  --input-width-md: 140px;
  --input-padding: 0 var(--space-4);
  --input-border-radius: var(--radius-md);
  --input-font-size: var(--font-md);
  --input-height: 34px;

  --textarea-width-lg: 300px;
  --textarea-padding: var(--space-4) var(--space-4) 0;
  --textarea-font-size: var(--font-sm);
  --textarea-border-radius: var(--radius-md);

  --form-label-color: var(--gray4);
  --form-label-font-size: var(--font-sm);
  --form-star-color: #a09ecf;
  --form-star-font-size: var(--font-sm);
  --form-table-padding: var(--padding-xs);
  --form-table-header-margin-top: var(--margin-xl);
  --form-label-padding-top: var(--padding-sm);
  --form-label-padding-top-mobile: var(--padding-xl);
  --form-field-padding-bottom: var(--padding-lg);
  --form-controls-padding-top: var(--padding-sm);
  /* Form Helper */
  --form-helper-margin: 0 var(--margin-xs);
  --form-helper-mark-bg: var(--gray4);
  --form-helper-mark-border-color: var(--black);
  --form-helper-mark-text-color: var(--white);
  --form-helper-mark-font-size: var(--font-xs);
  --form-helper-tip-margin: 0 var(--margin-sm);
  --form-helper-tip-padding: var(--padding-sm) var(--padding-lg);
  --form-helper-tip-border-color: var(--white);
  --form-helper-tip-bg: var(--background-light);
  --form-helper-tip-font-size: var(--font-sm);
  --form-helper-tip-text-color: var(--black);
  --dropdown-padding-right: 20px;
  --dropdown-option-hover-bg: var(--background-light);
  --dropdown-option-padding: 0 var(--space-4) 0;

  /* AjaxSelect */
  --ajaxselect-item-margin: 0 var(--space-8);
  --ajaxselect-item-margin-bottom-last: var(--space-12);
  --ajaxselect-item-border-color: var(--gray2);
  --ajaxselect-item-after-border-color: var(--white);
  --ajaxselect-item-font-size: var(--font-xs);
  --ajaxselect-item-line-height: var(--space-24);
  --ajaxselect-results-icon-margin-top: var(--space-4);
  --ajaxselect-results-icon-margin-right: var(--space-8);
  --ajaxselect-search-icon-color: var(--black);
}
