:root {
  /* ZX Prod Block */
  --zx-prod-hardware-font-size: var(--font-xs);
  --zx-prod-status-font-size: var(--font-xl);
  --zx-prod-title-font-size: var(--font-lg);
  --zx-prod-row-font-size: var(--font-sm);
}