@use './legacy/layout.theme';
@use './legacy/editing-controls.theme';
@use './legacy/emulator.theme';
@use './legacy/radio-authorship.theme';
@use './legacy/header.theme';
@use './legacy/languages.theme';
@use './legacy/main-menu.theme';
@use './legacy/stats.theme';
@use './legacy/parser.theme';
@use './legacy/rating.theme';
@use './legacy/vote.theme';
@use './legacy/zx-item.theme';
@use './legacy/zx-map.theme';
@use './legacy/linklist.theme';
@use './legacy/login.theme';
@use './legacy/press-article.theme';
@use './legacy/search.theme';
@use './legacy/user-playlists.theme';
@use './legacy/zx-music.theme';
@use './legacy/zx-picture.theme';
@use './legacy/zx-prod.theme';
@use './legacy/zx-release.theme';
@use './legacy/party.theme';
@use './legacy/letter-selector.theme';
@use './legacy/mentions.theme';
@use './legacy/playlist-controls.theme';
@use './legacy/table.theme';
@use './legacy/tip-popup.theme';
@use './legacy/user.theme';
@use './legacy/zx-prods-category.theme';
@use './legacy/controls.theme';
@use './legacy/comment.theme';
