:root {
  /* Typography Variables */
  --zx-heading-1-size: var(--font-xxl);
  --zx-heading-1-weight: 700;
  --zx-heading-1-line-height: 1.2;

  --zx-heading-2-size: var(--font-xl-sm);
  --zx-heading-2-weight: 700;
  --zx-heading-2-line-height: 1.25;

  --zx-heading-3-size: var(--font-lg);
  --zx-heading-3-weight: 700;
  --zx-heading-3-line-height: 1.3;

  --zx-body-size: var(--font-md);
  --zx-body-weight: 400;
  --zx-body-line-height: 1.5;

  --zx-body-strong-size: var(--font-md);
  --zx-body-strong-weight: 700;
  --zx-body-strong-line-height: 1.5;

  --zx-caption-size: var(--font-xs);
  --zx-caption-weight: 400;
  --zx-caption-line-height: 1.4;
  --zx-caption-color: var(--text-light-color);

  --zx-link-color: var(--primary-600);
  --zx-link-alt-color: var(--warning-400);
  --zx-link-decoration: none;
  --zx-link-hover-decoration: underline;

  --zx-input-size: var(--zx-body-size);
  --zx-input-weight: var(--zx-body-weight);
  --zx-input-line-height: var(--zx-body-line-height);
}

.dark-mode {
  --zx-link-color: var(--primary-700);
}

@mixin heading-1 {
  font-size: var(--zx-heading-1-size);
  font-weight: var(--zx-heading-1-weight);
  line-height: var(--zx-heading-1-line-height);
  margin: 0;
}

@mixin heading-2 {
  font-size: var(--zx-heading-2-size);
  font-weight: var(--zx-heading-2-weight);
  line-height: var(--zx-heading-2-line-height);
  margin: 0;
}

@mixin heading-3 {
  font-size: var(--zx-heading-3-size);
  font-weight: var(--zx-heading-3-weight);
  line-height: var(--zx-heading-3-line-height);
  margin: 0;
}

@mixin body {
  font-size: var(--zx-body-size);
  font-weight: var(--zx-body-weight);
  line-height: var(--zx-body-line-height);
}

@mixin body-strong {
  font-size: var(--zx-body-strong-size);
  font-weight: var(--zx-body-strong-weight);
  line-height: var(--zx-body-strong-line-height);
}

@mixin caption {
  font-size: var(--zx-caption-size);
  font-weight: var(--zx-caption-weight);
  line-height: var(--zx-caption-line-height);
  color: var(--zx-caption-color);
}

@mixin link {
  color: var(--zx-link-color);
  text-decoration: var(--zx-link-decoration);
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: var(--zx-link-hover-decoration);
  }
}

@mixin link-alt {
  @include link;
  color: var(--zx-link-alt-color);
}

.zx-heading-1 {
  @include heading-1;
}

.zx-heading-2 {
  @include heading-2;
}

.zx-heading-3 {
  @include heading-3;
}

.zx-body {
  @include body;
}

.zx-body-strong {
  @include body-strong;
}

.zx-caption {
  @include caption;
}

.zx-link {
  @include link;
}

.zx-link-alt {
  @include link-alt;
}
