:root {
  /* Font size tiers for component theme variables. */
  --zx-font-size-xs: 11px;
  --zx-font-size-sm: 13px;
  --zx-font-size-md: 14px;
  --zx-font-size-lg: 18px;
  --zx-font-size-xl: 21px;
  --zx-font-size-xxl: 23px;

  /* Typography Variables */
  --zx-heading-1-size: var(--zx-font-size-xxl);
  --zx-heading-1-weight: 700;
  --zx-heading-1-line-height: 1.2;

  --zx-heading-2-size: var(--zx-font-size-xl);
  --zx-heading-2-weight: 700;
  --zx-heading-2-line-height: 1.25;

  --zx-heading-3-size: var(--zx-font-size-lg);
  --zx-heading-3-weight: 700;
  --zx-heading-3-line-height: 1.3;

  --zx-body-size: var(--zx-font-size-md);
  --zx-body-weight: 400;
  --zx-body-line-height: 1.5;

  --zx-body-sm-size: var(--zx-font-size-sm);
  --zx-body-sm-weight: 400;
  --zx-body-sm-line-height: 1.4;

  --zx-body-strong-size: var(--zx-font-size-md);
  --zx-body-strong-weight: 700;
  --zx-body-strong-line-height: 1.5;

  --zx-body-sm-muted-color: var(--text-light-color);

  --zx-caption-size: var(--zx-font-size-sm);
  --zx-caption-weight: 400;
  --zx-caption-line-height: 1.4;
  --zx-caption-color: var(--text-light-color);

  --zx-link-color: var(--primary-600);
  --zx-link-alt-color: var(--warning-400);
  --zx-link-decoration: none;
  --zx-link-hover-decoration: underline;

  --zx-input-size: var(--zx-body-size);
  --zx-input-weight: var(--zx-body-weight);
  --zx-input-line-height: var(--zx-body-line-height);
}

.dark-mode {
  --zx-link-color: var(--primary-700);
}
