:root {
  /* ZxStack Component variables */
  --zx-stack-spacing-sm: var(--gap-sm);
  --zx-stack-spacing-md: var(--gap-md);
  --zx-stack-spacing-lg: var(--gap-lg);
  --zx-stack-spacing-xl: var(--gap-xl);
}
