:root {
  /* ZxPanel Component variables */
  --zx-panel-radius-sm: var(--radius-sm);
  --zx-panel-radius-md: var(--radius-md);
  --zx-panel-radius-lg: var(--radius-lg);
  --zx-panel-radius-xl: var(--radius-xl);

  --zx-panel-padding-sm: var(--padding-sm);
  --zx-panel-padding-md: var(--padding-md);
  --zx-panel-padding-lg: var(--padding-lg);

  --zx-panel-title-gap: var(--space-12);
}

.dark-mode {
  --zx-panel-bg: var(--secondary-100);
  --zx-panel-shadow: var(--shadow-md);
  --zx-panel-border: var(--border-width-thin) solid var(--border-secondary);
}

.light-mode {
  --zx-panel-bg: var(--white);
  --zx-panel-shadow: var(--shadow-md);
  --zx-panel-border: var(--border-width-thin) solid var(--border-secondary);
}
