.zx-dialog {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-color: var(--zx-panel-bg);
    --mdc-dialog-subhead-color: var(--text-color);
    --mdc-dialog-supporting-text-color: var(--text-color);
  }
}
