:root {
  --table-header-font-size: var(--font-xs);
  --table-header-font-size-mobile: var(--font-xxs);
  --table-header-color: var(--secondary-500);
  --table-header-padding: var(--space-4) var(--space-8) var(--space-4);
  --table-cell-padding: var(--space-4) var(--space-8) var(--space-4);
  --table-cell-font-size-mobile: var(--font-sm);
  --table-row-alternate-bg: var(--secondary-bg);
}

.dark-mode {
  --table-row-alternate-bg: var(--secondary-50);
}
