:root {
  /* Empty grid gap. */
  --zx-grid-gap-none: 0;
  /* Extra-small grid gap. */
  --zx-grid-gap-xs: var(--space-4);
  /* Small grid gap. */
  --zx-grid-gap-sm: var(--gap-sm);
  /* Medium grid gap. */
  --zx-grid-gap-md: var(--gap-md);
  /* Large grid gap. */
  --zx-grid-gap-lg: var(--gap-lg);
  /* Extra-large grid gap. */
  --zx-grid-gap-xl: var(--gap-xl);
  /* Double extra-large grid gap. */
  --zx-grid-gap-xxl: var(--gap-xxl);
}
