:root {
  /* Empty vertical stack gap. */
  --zx-stack-gap-none: 0;
  /* Extra-small vertical stack gap. */
  --zx-stack-gap-xs: var(--space-4);
  /* Small vertical stack gap. */
  --zx-stack-gap-sm: var(--gap-sm);
  /* Medium vertical stack gap. */
  --zx-stack-gap-md: var(--gap-md);
  /* Large vertical stack gap. */
  --zx-stack-gap-lg: var(--gap-lg);
  /* Extra-large vertical stack gap. */
  --zx-stack-gap-xl: var(--gap-xl);
  /* Double extra-large vertical stack gap. */
  --zx-stack-gap-xxl: var(--gap-xxl);
}
