:root {
  --zx-select-chevron-color: var(--text-light-color);
  --zx-select-chevron-size: var(--space-8);
  --zx-select-chevron-stroke: var(--border-width-thin);
  --zx-select-chevron-offset: var(--space-8);
  --zx-select-padding-right: var(--space-24);
}
