:root {
  /* Text color for external site links. */
  --zx-prod-external-links-color: var(--primary-600);
  /* Font size for external site links. */
  --zx-prod-external-links-font-size: var(--zx-font-size-xs);
}

.dark-mode {
  --zx-prod-external-links-color: var(--primary-700);
}
