:root {
  --zx-user-gap: var(--space-4);
  --zx-user-badge-size: 14px;
  --zx-user-badge-margin: 0 var(--space-4) 0 0;

  --zx-user-badge-supporter-color: var(--white);
  --zx-user-badge-vip-color: var(--warning-400);
  --zx-user-badge-volunteer-color: var(--white);
  --zx-user-badge-outline: none;
}

.light-mode {
  --zx-user-badge-outline:
    drop-shadow(0.5px 0 0 var(--black))
    drop-shadow(-0.5px 0 0 var(--black))
    drop-shadow(0 0.5px 0 var(--black))
    drop-shadow(0 -0.5px 0 var(--black));
}
