:root {
  --zx-user-gap: var(--space-4);
  --zx-user-badge-size: 14px;
  --zx-user-badge-margin: 0 var(--space-4) 0 0;

  --zx-user-badge-supporter-color: var(--white);
  --zx-user-badge-vip-color: var(--warning-400);
  --zx-user-badge-volunteer-color: var(--white);
}
