:root {
  /* Party list skeleton image width. */
  --zx-parties-list-skeleton-image-width: 100%;
  /* Party list skeleton image aspect ratio. */
  --zx-parties-list-skeleton-image-ratio: 4 / 3;
  /* Party list skeleton title width. */
  --zx-parties-list-skeleton-title-width: 60%;
  /* Party list skeleton year width. */
  --zx-parties-list-skeleton-year-width: 48px;
  /* Party list skeleton country/city width. */
  --zx-parties-list-skeleton-place-width: 96px;
  /* Party list skeleton text line height. */
  --zx-parties-list-skeleton-line-height: 16px;
}
