:root {
  /* ZxPanel Component variables */
  --zx-panel-radius-sm: var(--radius-sm);
  --zx-panel-radius-md: var(--radius-md);
  --zx-panel-radius-lg: var(--radius-lg);
  --zx-panel-radius-xl: var(--radius-xl);

  --zx-panel-padding-sm: var(--padding-sm);
  --zx-panel-padding-md: var(--padding-md);
  --zx-panel-padding-lg: var(--padding-lg);
}

.dark-mode {
  --zx-panel-bg: var(--secondary-100);
  --zx-panel-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.27);
  --zx-panel-border: var(--border-width-thin) solid var(--border-secondary);
}

.light-mode {
  --zx-panel-bg: var(--white);
  --zx-panel-shadow: 0px 4px 14px 0px rgba(38, 43, 67, 0.16);
  --zx-panel-border: var(--border-width-thin) solid var(--border-secondary);
}
