:root {
  /* ZxPanel Component variables */
  --zx-panel-bg: var(--secondary-200);

  --zx-panel-radius-sm: var(--radius-sm);
  --zx-panel-radius-md: var(--radius-md);
  --zx-panel-radius-lg: var(--radius-lg);
  --zx-panel-radius-xl: var(--radius-xl);

  --zx-panel-padding-sm: var(--padding-sm);
  --zx-panel-padding-md: var(--padding-md);
  --zx-panel-padding-lg: var(--padding-lg);
}
