:root {
  --input-bg: var(--white);
  --input-text: var(--secondary-800);
  --input-placeholder: var(--secondary-500);
  --input-error-text: var(--danger-400);
  --input-width-md: 140px;
  --input-padding: 0 var(--space-4);
  --input-border-radius: var(--form-border-radius);
  --input-font-size: var(--zx-body-size);
  --input-font-weight: var(--zx-body-weight);
  --input-line-height: var(--zx-body-line-height);
  --input-height: var(--zx-button-md-height);
  --input-border-color: var(--border-form);
  --input-border-focus-color: var(--border-focused);
  --input-border-error-color: var(--error-color);
  --input-range-accent: var(--primary-500);
  --input-range-height: var(--space-4);
}

.dark-mode {
  --input-bg: var(--secondary-50);
  --input-text: var(--secondary-800);
  --input-placeholder: var(--secondary-500);
  --input-border-color: var(--secondary-300);
  --input-border-focus-color: var(--white);
  --input-range-accent: var(--primary-400);
}

/* Helper tokens for MDC components */
.mat-mdc-form-field {
  font-size: var(--zx-body-size);
  font-weight: var(--zx-body-weight);
  line-height: var(--zx-body-line-height);
  --mdc-outlined-text-field-container-color: var(--input-bg);
  --mdc-outlined-text-field-label-text-color: var(--form-label-color);
  --mdc-outlined-text-field-hover-label-text-color: var(--form-label-color);
  --mdc-outlined-text-field-focus-label-text-color: var(--input-border-focus-color);
  --mdc-outlined-text-field-outline-color: var(--input-border-color);
  --mdc-outlined-text-field-hover-outline-color: var(--input-border-color);
  --mdc-outlined-text-field-focus-outline-color: var(--input-border-focus-color);
  --mdc-outlined-text-field-input-text-color: var(--input-text);
  --mdc-outlined-text-field-input-text-placeholder-color: var(--input-placeholder);
  --mdc-outlined-text-field-caret-color: var(--input-border-focus-color);
  --mdc-outlined-text-field-error-outline-color: var(--input-border-error-color);
  --mdc-outlined-text-field-error-hover-outline-color: var(--input-border-error-color);
  --mdc-outlined-text-field-error-label-text-color: var(--input-border-error-color);
  --mdc-outlined-text-field-error-focus-outline-color: var(--input-border-error-color);
  --mdc-outlined-text-field-error-focus-label-text-color: var(--input-border-error-color);
  --mdc-outlined-text-field-error-caret-color: var(--input-border-error-color);
  --mdc-outlined-text-field-input-text-size: var(--zx-body-size);
  --mdc-outlined-text-field-input-text-line-height: var(--zx-body-line-height);
  --mdc-outlined-text-field-input-text-weight: var(--zx-body-weight);
}

.dark-mode .mat-mdc-form-field {
  --mdc-outlined-text-field-container-color: var(--secondary-50);
  --mdc-outlined-text-field-outline-color: var(--secondary-300);
  --mdc-outlined-text-field-hover-outline-color: var(--secondary-400);
  --mdc-outlined-text-field-focus-outline-color: var(--white);
  --mdc-outlined-text-field-input-text-color: var(--secondary-800);
  --mdc-outlined-text-field-input-text-placeholder-color: var(--secondary-500);
  --mdc-outlined-text-field-label-text-color: var(--secondary-700);
  --mdc-outlined-text-field-hover-label-text-color: var(--secondary-700);
  --mdc-outlined-text-field-focus-label-text-color: var(--white);
  --mdc-outlined-text-field-caret-color: var(--white);
}
