:root {
  --zx-release-details-head-mb: var(--space-16);
  --zx-release-details-contribute-bg: var(--surface);
  --zx-release-details-contribute-border: var(--secondary-300);
  --zx-release-details-contribute-radius: var(--radius-md);
  --zx-release-details-contribute-p: var(--space-16);
}
