:root {
  /* ZX Prod Block */
  --zx-prod-hardware-font-size: var(--zx-font-size-xs);
  --zx-prod-status-font-size: var(--zx-font-size-xl);
  --zx-prod-title-font-size: var(--zx-font-size-lg);
  --zx-prod-row-font-size: var(--zx-font-size-sm);
  /* Screenshot selector gradient overlay color (rgb triplet) */
  --zx-prod-overlay-rgb: 0, 0, 0;
}
