@use 'shared/breakpoints' as bp;

:host {
  display: inline-flex;
  align-items: center;
}

.lt-flag {
  font-size: var(--zx-language-trigger-flag-size);
  flex-shrink: 0;
  line-height: 1;
}

.lt-label {
  @include bp.media-breakpoint-down(sm) {
    display: none;
  }
}
