<ng-container *ngIf="prods$ | async as prods; else loading">
  <ng-container *ngIf="prods.length > 0">
    <h2 zxHeading2 class="prod-related-section__title">{{ 'prod-details.seriesProds' | translate }}</h2>
    <zx-prods-list-view [items]="prods" property="seriesProds"></zx-prods-list-view>
  </ng-container>
</ng-container>

<ng-template #loading>
  <h2 zxHeading2 class="prod-related-section__title">{{ 'prod-details.seriesProds' | translate }}</h2>
  <zx-skeleton variant="prod-grid" [count]="4"></zx-skeleton>
</ng-template>
