.zx-toggle {
  display: inline-flex;
  border-radius: var(--zx-button-border-radius);
  overflow: hidden;
}

.zx-toggle__item {
  background: var(--zx-button-secondary-bg);
  color: var(--zx-button-secondary-text);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-12);

  &:hover {
    background: var(--zx-button-secondary-hover-bg);
  }

  &--active {
    background: var(--zx-button-primary-bg);
    color: var(--zx-button-primary-text);

    &:hover {
      background: var(--zx-button-primary-hover-bg);
    }
  }
}

.zx-toggle--md .zx-toggle__item {
  height: var(--zx-button-md-height);
}

.zx-toggle--md .zx-toggle__item svg-icon {
  width: 20px;
  height: 20px;
}

.zx-toggle--sm .zx-toggle__item {
  height: var(--zx-button-sm-height);
}

.zx-toggle--sm .zx-toggle__item svg-icon {
  width: 16px;
  height: 16px;
}
