<zx-firstpage-module-wrapper
  titleKey="firstpage.modules.randomGoodTunes"
  [viewAllUrl]="viewAllUrl"
  [viewAllLabel]="viewAllLabel"
  [usePanel]="false"
  [loading]="loading"
  [error]="error"
  [empty]="items.length === 0"
  skeletonVariant="tune-table"
  [skeletonCount]="settings.limit"
>
  <zx-table *ngIf="items.length > 0" titleLevel="h2">
    <ng-container *ngIf="{ id: playingTuneId$ | async } as playing">
      <table class="tunes-table">
        <tbody>
          <zx-tune-row
            *ngFor="let tune of items; index as i"
            [tune]="tune"
            [index]="i"
            [isPlaying]="tune.id === playing.id"
            (playRequested)="playTune(i)"
            (pauseRequested)="pauseTune()"
          ></zx-tune-row>
        </tbody>
      </table>
    </ng-container>
  </zx-table>
</zx-firstpage-module-wrapper>
