@if (loading() && !hasLoaded()) {
  <zx-panel>
    <zx-text-skeleton [count]="10" lineHeight="52px"></zx-text-skeleton>
  </zx-panel>
} @else if (hasLoaded() && totalCount() > 0) {
  <zx-panel [title]="'author.comments-on-works' | translate">
    <zx-stack spacing="md">
      @for (comment of comments(); track comment.id) {
        <div class="author-comment">
          @if (comment.target) {
            <a [href]="getCommentUrl(comment)" class="author-comment__link" appText="label" tone="muted-link">
              @if (comment.author) {
                <zx-user [user]="comment.author" [linkDisabled]="true" [namePrimary]="true" class="author-comment__author"></zx-user>:
              }
              <span class="author-comment__content" [innerHTML]="sanitizeHtml(displayContent(comment))"></span>
            </a>
          } @else {
            <span appText="label" tone="muted">
              @if (comment.author) {
                <zx-user [user]="comment.author" [linkDisabled]="true" [namePrimary]="true" class="author-comment__author"></zx-user>:
              }
              <span class="author-comment__content" [innerHTML]="sanitizeHtml(displayContent(comment))"></span>
            </span>
          }
        </div>
      }
    </zx-stack>
    @if (pagesAmount() > 1) {
      <zx-pagination
        [currentPage]="currentPage()"
        [pagesAmount]="pagesAmount()"
        [loading]="loading()"
        (pageChange)="onPageChange($event)">
      </zx-pagination>
    }
  </zx-panel>
}
