@use 'shared/vars' as vars;
@use 'shared/breakpoints' as breakpoints;

:host {
  display: flex;
  bottom: 0;
  right: 0;

  @include breakpoints.media-breakpoint-down(xs) {
    position: fixed;
  }
  @include breakpoints.media-breakpoint-up(sm) {
    position: sticky;
    justify-content: flex-end;
  }
}

.pages-selector {
  margin: 0;
  padding: 0;
  display: flex;
  background: var(--background-dark);
  border-top-right-radius: var(--border-radius-md);
  border-top-left-radius: var(--border-radius-md);
  box-shadow: 0px -2px 5px 2px rgba(var(--shadow-deep-rgb), 0.27);
}

.pages-item {
  text-align: center;
  user-select: none;
  list-style-type: none;
  padding: var(--padding-lg);
  border-radius: var(--border-radius-md);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.pages-button:not(.pages-button-inactive) {
  cursor: pointer;

  &:hover {
    background-color: var(--border-color-dark);
  }
}

.pages-page:not(.pages-page-selected) {
  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: var(--border-color-dark);
  }
}

.pages-page-selected {
  background-color: var(--date-color);
}

.pages-button-inactive {
  opacity: 0.3;
}

.pages-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
  transition: background-color 300ms ease-in-out;
}

.pages-button-previous {
  margin-right: var(--margin-xl);

  .pages-button-text {
    margin-left: var(--margin-md);
  }
}

.pages-button-next {
  margin-left: var(--margin-xl);

  .pages-button-text {
    margin-right: var(--margin-md);
  }
}

@include breakpoints.media-breakpoint-down(md) {
  .pages-item {
  }
  .pages-button-previous,
  .pages-button-next {
    .pages-button-text {
      display: none;
    }
  }
  .pages-button-previous {
    margin-right: 0;
  }
  .pages-button-next {
    margin-left: 0;
  }
  .pages-page {
    flex-grow: 1;
  }
}
