<ul *ngIf="pagesAmount>1" class="pages-selector">
  <li
    class="pages-item pages-button pages-button-previous"
    [ngClass]="{'pages-button-inactive': !previousPageActive()}"
    (click)="pageClicked($event, currentPage - 1)"
  >
    <svg-icon class="pages-button-icon" name="arrow-left"
              [svgStyle]="{'display':'block', 'width.rem':'0.54rem' , 'height.rem':'1' }"></svg-icon>
    <span class="pages-button-text">{{'pages.previous' | translate }}</span>
  </li>
  <li
    *ngFor="let page of pageItems"
    (click)="pageClicked($event, page.number)"
    class="pages-item"
    [ngClass]="{'pages-page-selected': page.number === currentPage, 'pages-page': page.type === 'page'}"
  >
    <a [href]="makeHref(page.number)">{{page.text}}</a>
  </li>

  <li
    class="pages-item pages-button pages-button-next"
    [ngClass]="{'pages-button-inactive': !nextPageActive()}"
    (click)="pageClicked($event,currentPage + 1)"
  >
    <span class="pages-button-text">{{'pages.next' | translate }}</span>
    <svg-icon class="pages-button-icon" name="arrow-right"
              [svgStyle]="{'display':'block', 'width.rem':'0.54rem' , 'height.rem':'1' }"></svg-icon>
  </li>
</ul>
