@use 'shared/vars' as vars;
@use 'shared/breakpoints' as breakpoints;

:host {
  display: flex;
  bottom: 0;
  right: 0;

  @include breakpoints.media-breakpoint-down(xs) {
    position: fixed;
  }
  @include breakpoints.media-breakpoint-up(sm) {
    position: sticky;
    justify-content: flex-end;
  }
}

.pages-selector {
  margin: 0;
  padding: 0;
  display: flex;
  background: vars.$gray8;
  border-top-right-radius: vars.$radius-md;
  border-top-left-radius: vars.$radius-md;
  box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.27);
}

.pages-item {
  text-align: center;
  user-select: none;
  list-style-type: none;
  padding: vars.$padding-md;
  border-radius: vars.$radius-md;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.pages-button:not(.pages-button-inactive) {
  cursor: pointer;

  &:hover {
    background-color: vars.$gray7;
  }
}

.pages-page:not(.pages-page-selected) {
  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: vars.$gray7;
  }
}

.pages-page-selected {
  background-color: vars.$gray6;
}

.pages-button-inactive {
  opacity: 0.3;
}

.pages-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: vars.$radius-md;
  transition: background-color 300ms ease-in-out;
}

.pages-button-previous {
  margin-right: vars.$padding-lg;

  .pages-button-text {
    margin-left: vars.$padding-sm;
  }
}

.pages-button-next {
  margin-left: vars.$padding-lg;

  .pages-button-text {
    margin-right: vars.$padding-sm;
  }
}

@include breakpoints.media-breakpoint-down(md) {
  .pages-item {
  }
  .pages-button-previous,
  .pages-button-next {
    .pages-button-text {
      display: none;
    }
  }
  .pages-button-previous {
    margin-right: 0;
  }
  .pages-button-next {
    margin-left: 0;
  }
  .pages-page {
    flex-grow: 1;
  }
}
