@if (isDesktop()) {
  <zx-panel>
    <zx-button href="/userfiles/file/zxart_offline.torrent" target="_blank">
      {{ 'site.download' | translate }}
    </zx-button>
  </zx-panel>

  <zx-radio-remote></zx-radio-remote>

  @if (user()?.hasAds) {
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6845376753120137"
         data-ad-slot="1817296316"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    @if (supportUrl()) {
      <zx-button color="secondary" size="sm" [href]="supportUrl()!">
        {{ 'label.remove_ads' | translate }}
      </zx-button>
    }
  }

  <zx-latest-comments></zx-latest-comments>

  <zx-recent-ratings></zx-recent-ratings>
}
