:host {
  display: flex;
  flex-direction: column;

  &.zx-stack--gap-none {
    gap: var(--zx-stack-gap-none);
  }

  &.zx-stack--gap-xs {
    gap: var(--zx-stack-gap-xs);
  }

  &.zx-stack--gap-sm {
    gap: var(--zx-stack-gap-sm);
  }

  &.zx-stack--gap-md {
    gap: var(--zx-stack-gap-md);
  }

  &.zx-stack--gap-lg {
    gap: var(--zx-stack-gap-lg);
  }

  &.zx-stack--gap-xl {
    gap: var(--zx-stack-gap-xl);
  }

  &.zx-stack--gap-xxl {
    gap: var(--zx-stack-gap-xxl);
  }

  &.zx-stack--align-center {
    align-items: center;
  }

  &.zx-stack--align-start {
    align-items: flex-start;
  }

  &.zx-stack--align-end {
    align-items: flex-end;
  }

  &.zx-stack--align-stretch {
    align-items: stretch;
  }

}
