<ng-container *ngIf="!notFoundOnly || data.notFound">
    <div class="name" [ngStyle]="{paddingLeft: level*20 + 'px'}">
        {{ data.name }}
    </div>
    <div class="type">
        <ng-container *ngIf="isZxContainer">
            <svg-icon name="disc"></svg-icon>
            {{ data.type }}
        </ng-container>
    </div>
    <div class="md5">{{ data.md5 }}</div>
    <div class="releases">
        <button mat-raised-button color="primary" type="button" (click)="showReleases()"
                *ngIf="data.releases.length > 2">{{ 'parser.show-releases' | translate }} ({{ data.releases.length }})
        </button>
        <app-parsed-release *ngIf="data.releases[0] && data.releases.length <= 2"
                            [release]="data.releases[0]"></app-parsed-release>
        <ng-container *ngIf="data.releases.length === 2">
            ,
            <app-parsed-release [release]="data.releases[1]"></app-parsed-release>
        </ng-container>
        <span class="attention"
              *ngIf="!data.releases.length && insideZx && !isZxContainer">{{ 'parser.notfound' | translate }}</span>
    </div>
    <div class="files" *ngIf="data.files.length">
        <ng-container *ngFor="let file of data.files">
            <app-parsed-file
                    *ngIf="!notFoundOnly || file.notFound"
                    class="result-item"

                    [data]="file"
                    [level]="level+1"
                    [insideZx]="isZxContainer||insideZx"
                    [notFoundOnly]="notFoundOnly"
            ></app-parsed-file>
        </ng-container>
    </div>
</ng-container>
