<td class="tune-index" *ngIf="index !== undefined">{{ index + 1 }}</td>
<td class="tune-play">
  <button
    mat-icon-button
    type="button"
    [disabled]="!isPlaying && (!tune.isPlayable || !tune.mp3Url)"
    (click)="requestPlay()"
    [attr.aria-label]="(isPlaying ? 'player.pause' : 'player.play') | translate"
  >
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
</td>
<td class="tune-main">
  <div class="tune-title-line">
    <a [href]="tune.url" class="tune-title">{{ tune.title }}</a>
    <zx-badge *ngIf="tune.isRealtime" variant="secondary" class="tune-realtime">
      {{ getRealtimeBadgeLabel() }}
    </zx-badge>
  </div>
  <div class="tune-authors" *ngIf="tune.authors.length">
    <ng-container *ngFor="let author of tune.authors; last as last">
      <a [href]="author.url">{{ author.name }}</a><span *ngIf="!last">, </span>
    </ng-container>
  </div>
</td>
<td class="tune-format">{{ tune.format }}</td>
<td class="tune-year">{{ tune.year }}</td>
<td class="tune-party">
  <ng-container *ngIf="tune.party">
    <span *ngIf="medalClass" [class]="medalClass" class="medal">{{ tune.party.place }}</span>
    <a [href]="tune.party.url">{{ tune.party.title }}</a>
  </ng-container>
  <div *ngIf="tune.release" class="tune-release">
    <a [href]="tune.release.url">{{ tune.release.title }}</a>
  </div>
</td>
<td class="tune-stats">
  <span *ngIf="tune.plays > 0" class="tune-stat">
    {{ tune.plays }}
  </span>
  <span *ngIf="tune.commentsAmount > 0" class="tune-stat">
    {{ tune.commentsAmount }}
  </span>
</td>
<td>
  <div class="tune-rating">
    <zx-rating
      *ngIf="!tune.denyVoting"
      [overallRating]="tune.votes"
      [userRating]="tune.userVote ?? undefined"
      (voted)="vote($event)"
    ></zx-rating>
    <span *ngIf="tune.votesAmount > 0" class="tune-votes-count">
      ({{ tune.votesAmount }})
    </span>
  </div>
</td>
<td class="tune-download">
  <a *ngIf="tune.originalFileUrl" [href]="tune.originalFileUrl" rel="nofollow" class="download-link" [attr.aria-label]="'tune.download.original' | translate">
    <mat-icon class="download-icon download-original">download</mat-icon>
  </a>
  <a *ngIf="tune.mp3Url" [href]="tune.mp3Url" rel="nofollow" class="download-link" [attr.aria-label]="'tune.download.mp3' | translate">
    <mat-icon class="download-icon download-mp3">music_note</mat-icon>
  </a>
</td>
