<td class="tune-index" *ngIf="index !== undefined">{{ index + 1 }}</td>
<td class="tune-play">
  <zx-button
    [square]="true"
    color="transparent"
    type="button"
    [disabled]="!isPlaying && (!tune.isPlayable || !tune.mp3Url)"
    (click)="requestPlay()"
    [ariaLabel]="(isPlaying ? 'player.pause' : 'player.play') | translate"
  >
    <svg-icon [name]="isPlaying ? 'pause' : 'play'"></svg-icon>
  </zx-button>
</td>
<td class="tune-main">
  <div class="tune-title-line">
    <a [href]="tune.url" class="tune-title">{{ tune.title }}</a>
    <zx-badge *ngIf="tune.isRealtime" variant="secondary" class="tune-realtime">
      {{ realtimeBadgeLabel }}
    </zx-badge>
  </div>
  <div class="tune-authors" *ngIf="tune.authors.length">
    <ng-container *ngFor="let author of tune.authors; last as last">
      <a [href]="author.url">{{ author.name }}</a><span *ngIf="!last">, </span>
    </ng-container>
  </div>
</td>
<td class="tune-format">{{ tune.format }}</td>
<td class="tune-year">{{ tune.year }}</td>
<td class="tune-party">
  <ng-container *ngIf="tune.party">
    <span *ngIf="medalClass" [class]="medalClass" class="medal">{{ tune.party.place }}</span>
    <a [href]="tune.party.url">{{ tune.party.title }}</a>
  </ng-container>
  <div *ngIf="tune.release" class="tune-release">
    <a [href]="tune.release.url">{{ tune.release.title }}</a>
  </div>
</td>
<td class="tune-stats">
  <span *ngIf="tune.plays > 0" class="tune-stat">
    {{ tune.plays }}
  </span>
  <span *ngIf="tune.commentsAmount > 0" class="tune-stat">
    {{ tune.commentsAmount }}
  </span>
</td>
<td>
  <zx-item-controls
    [elementId]="tune.id"
    type="zxMusic"
    [votes]="tune.votes"
    [votesAmount]="tune.votesAmount"
    [userRating]="tune.userVote"
    [denyVoting]="tune.denyVoting"
  ></zx-item-controls>
</td>
<td class="tune-download">
  <span class="tune-download-actions">
    <a *ngIf="tune.originalFileUrl" [href]="tune.originalFileUrl" rel="nofollow" class="download-link" [attr.aria-label]="'tune.download.original' | translate">
      <svg-icon name="download" class="download-icon download-original"></svg-icon>
    </a>
    <a *ngIf="tune.mp3Url" [href]="tune.mp3Url" rel="nofollow" class="download-link" [attr.aria-label]="'tune.download.ogg' | translate">
      <svg-icon name="music-note" class="download-icon download-mp3"></svg-icon>
    </a>
  </span>
</td>
