<zx-inline align="center" spacing="md" [wrap]="true">
  <zx-item-controls
    [elementId]="details.id"
    type="zxRelease"
    [votes]="details.votes.votes"
    [votesAmount]="details.votes.votesAmount"
    [userRating]="details.votes.userVote"
    [denyVoting]="details.votes.denyVoting">
  </zx-item-controls>

  <zx-inline align="center" spacing="md" [wrap]="true" appText="caption" tone="muted">
    <span><b>{{ details.downloadsCount }}</b> скачиваний</span>
    <span><b>{{ details.playsCount }}</b> запусков</span>
  </zx-inline>

  <zx-button-controls align="end" class="rp-actions">
    <zx-emulator-play-button
      [isPlayable]="details.isPlayable"
      [isDownloadable]="details.isDownloadable"
      [playUrl]="details.playUrl"
      [emulatorType]="details.emulatorType"
    >▶ Запустить</zx-emulator-play-button>

    <zx-button
      *ngIf="details.isDownloadable && details.downloadUrl"
      color="outlined"
      [href]="details.downloadUrl"
      target="_blank"
    >↓ {{ details.fileName }}</zx-button>
  </zx-button-controls>

</zx-inline>
