<div class="ratings-list">
  <h2 zxHeading2>{{ 'ratings.votes-title' | translate }}</h2>

  <ng-container *ngIf="ratings$ | async as ratings; else skeleton">
    @if (ratings.length === 0) {
      <p zxBody>{{ 'ratings.empty' | translate }}</p>
    } @else {
      <zx-table size="xs">
        <table>
          <thead>
            <tr>
              <th>{{ 'ratings.table-user' | translate }}</th>
              <th>{{ 'ratings.table-vote' | translate }}</th>
              <th>{{ 'ratings.table-date' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ratings">
              <td><zx-user [user]="item.user"></zx-user></td>
              <td><span zxCaption>{{ item.rating }}</span></td>
              <td><span zxCaption>{{ item.date }}</span></td>
            </tr>
          </tbody>
        </table>
      </zx-table>
    }
  </ng-container>
</div>

<ng-template #skeleton>
  <zx-row-skeleton [count]="3"></zx-row-skeleton>
</ng-template>
