<div class="comments-list">
  <zx-stack spacing="lg">
    <zx-stack *ngIf="isRoot" spacing="lg">
      <zx-inline spacing="md" align="center">
        <h2 appHeading="headline">{{ 'comments.title' | translate }}</h2>
        <zx-button size="sm" color="primary" (click)="toggleForm()">
          {{ (showForm() ? 'comments.cancel' : 'comments.add') | translate }}
        </zx-button>
      </zx-inline>
      <zx-panel *ngIf="showForm() && elementId" radius="lg" padding="lg">
        <zx-comment-form [targetId]="elementId" (commentSaved)="onCommentSaved($event)" (cancelled)="hideForm()"></zx-comment-form>
      </zx-panel>
    </zx-stack>

    <zx-viewport-loader [enabled]="isRoot" [loader]="getCommentsLoader" [reload$]="reloadSubject">
      <ng-template #skeleton>
        <zx-comment-skeleton [count]="3"></zx-comment-skeleton>
      </ng-template>

      <ng-template #content let-comments>
        @if (comments.length === 0) {
          <p appText="body">{{ 'comments.empty' | translate }}</p>
        } @else {
          <zx-stack spacing="lg">
            <div *ngFor="let comment of comments" class="comment-item" [id]="'comment' + comment.id">
              <zx-comment [comment]="comment" [showTarget]="showTarget" (commentChanged)="onCommentChanged($event)"></zx-comment>
            </div>
          </zx-stack>
        }
      </ng-template>
    </zx-viewport-loader>
  </zx-stack>
</div>
