@use 'shared/vars' as vars;

.comment-children {
  margin-left: var(--margin-lg);
  border-left: 1px solid var(--border-color-medium);
  padding-left: var(--padding-md);
}

.root-comment {
  margin-bottom: var(--margin-lg);
}
