<div class="comments-list">
  <div *ngIf="isRoot" class="comments-header">
    <h3 *ngIf="comments.length > 0">{{ 'comments.title' | translate }}</h3>
    <button (click)="showForm = !showForm" class="button">
      {{ (showForm ? 'comments.cancel' : 'comments.add') | translate }}
    </button>
    <app-comment-form *ngIf="showForm && elementId" [targetId]="elementId" (commentSaved)="onCommentSaved($event)" (cancelled)="showForm = false"></app-comment-form>
  </div>
  
  <div *ngFor="let comment of comments" class="comment-item" [class.root-comment]="isRoot">
    <app-comment [comment]="comment" (commentChanged)="loadComments()"></app-comment>
  </div>
</div>
