:host {
  display: block;
}

.party-image {
  display: block;
  border-top-right-radius: var(--border-radius-xl);
  border-top-left-radius: var(--border-radius-xl);
  overflow: hidden;
  aspect-ratio: 4 / 3;
  background: var(--background-deep);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.party-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-12);
  padding: var(--space-12);
}

.party-title {
  color: currentColor;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.party-year {
  color: var(--text-light-color);
  flex-shrink: 0;
}
