:host {
  display: inline-flex;
  align-items: center;
  gap: var(--zx-user-gap);
}

.zx-user__badge {
  width: var(--zx-user-badge-size);
  height: var(--zx-user-badge-size);
  font-size: var(--zx-user-badge-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zx-user__badge--supporter {
  color: var(--zx-user-badge-supporter-color);
  filter: var(--zx-user-badge-outline);
}

.zx-user__badge--vip {
  color: var(--zx-user-badge-vip-color);
}

.zx-user__badge--volunteer {
  color: var(--zx-user-badge-volunteer-color);
  filter: var(--zx-user-badge-outline);
}

.zx-user__name:not(a) {
  color: var(--zx-user-name-color);
}
