@use 'shared/breakpoints' as bp;

:host {
  display: grid;
  grid-template-columns: repeat(var(--zx-grid-columns), minmax(0, 1fr));
}

@include bp.media-breakpoint-down(lg) {
  :host {
    grid-template-columns: repeat(var(--zx-grid-tablet-columns), minmax(0, 1fr));
  }
}

@include bp.media-breakpoint-down(sm) {
  :host {
    grid-template-columns: repeat(var(--zx-grid-mobile-columns), minmax(0, 1fr));
  }
}

:host.zx-grid--rows-auto {
  grid-auto-rows: auto;
}

:host.zx-grid--rows-1 {
  grid-template-rows: minmax(0, 1fr);
}

:host.zx-grid--rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

:host.zx-grid--rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

:host.zx-grid--rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

:host.zx-grid--row-gap-none {
  row-gap: var(--zx-grid-gap-none);
}

:host.zx-grid--row-gap-xs {
  row-gap: var(--zx-grid-gap-xs);
}

:host.zx-grid--row-gap-sm {
  row-gap: var(--zx-grid-gap-sm);
}

:host.zx-grid--row-gap-md {
  row-gap: var(--zx-grid-gap-md);
}

:host.zx-grid--row-gap-lg {
  row-gap: var(--zx-grid-gap-lg);
}

:host.zx-grid--row-gap-xl {
  row-gap: var(--zx-grid-gap-xl);
}

:host.zx-grid--row-gap-xxl {
  row-gap: var(--zx-grid-gap-xxl);
}

:host.zx-grid--column-gap-none {
  column-gap: var(--zx-grid-gap-none);
}

:host.zx-grid--column-gap-xs {
  column-gap: var(--zx-grid-gap-xs);
}

:host.zx-grid--column-gap-sm {
  column-gap: var(--zx-grid-gap-sm);
}

:host.zx-grid--column-gap-md {
  column-gap: var(--zx-grid-gap-md);
}

:host.zx-grid--column-gap-lg {
  column-gap: var(--zx-grid-gap-lg);
}

:host.zx-grid--column-gap-xl {
  column-gap: var(--zx-grid-gap-xl);
}

:host.zx-grid--column-gap-xxl {
  column-gap: var(--zx-grid-gap-xxl);
}

:host.zx-grid--align-start {
  align-items: flex-start;
}

:host.zx-grid--align-center {
  align-items: center;
}

:host.zx-grid--align-end {
  align-items: flex-end;
}

:host.zx-grid--align-stretch {
  align-items: stretch;
}

:host.zx-grid--justify-start {
  justify-items: start;
}

:host.zx-grid--justify-center {
  justify-items: center;
}

:host.zx-grid--justify-end {
  justify-items: end;
}

:host.zx-grid--justify-stretch {
  justify-items: stretch;
}
