@use 'shared/breakpoints' as bp;

:host {
  display: flex;
  flex-wrap: wrap;
}

:host.zx-grid--columns-1 > * {
  flex-basis: var(--zx-grid-column-1);
}

:host.zx-grid--columns-2 > * {
  flex-basis: var(--zx-grid-column-2);
}

:host.zx-grid--columns-3 > * {
  flex-basis: var(--zx-grid-column-3);
}

:host.zx-grid--columns-4 > * {
  flex-basis: var(--zx-grid-column-4);
}

:host.zx-grid--columns-5 > * {
  flex-basis: var(--zx-grid-column-5);
}

:host.zx-grid--columns-6 > * {
  flex-basis: var(--zx-grid-column-6);
}

:host.zx-grid--rows-auto > * {
  flex-grow: 0;
}

:host.zx-grid--rows-1 > * {
  flex-grow: 1;
}

:host.zx-grid--rows-2 > * {
  flex-grow: 1;
}

:host.zx-grid--rows-3 > * {
  flex-grow: 1;
}

:host.zx-grid--rows-4 > * {
  flex-grow: 1;
}

:host.zx-grid--row-gap-none {
  row-gap: var(--zx-grid-gap-none);
}

:host.zx-grid--row-gap-xs {
  row-gap: var(--zx-grid-gap-xs);
}

:host.zx-grid--row-gap-sm {
  row-gap: var(--zx-grid-gap-sm);
}

:host.zx-grid--row-gap-md {
  row-gap: var(--zx-grid-gap-md);
}

:host.zx-grid--row-gap-lg {
  row-gap: var(--zx-grid-gap-lg);
}

:host.zx-grid--row-gap-xl {
  row-gap: var(--zx-grid-gap-xl);
}

:host.zx-grid--row-gap-xxl {
  row-gap: var(--zx-grid-gap-xxl);
}

:host.zx-grid--column-gap-none {
  column-gap: var(--zx-grid-gap-none);
  --zx-grid-active-column-gap: var(--zx-grid-gap-none);
}

:host.zx-grid--column-gap-xs {
  column-gap: var(--zx-grid-gap-xs);
  --zx-grid-active-column-gap: var(--zx-grid-gap-xs);
}

:host.zx-grid--column-gap-sm {
  column-gap: var(--zx-grid-gap-sm);
  --zx-grid-active-column-gap: var(--zx-grid-gap-sm);
}

:host.zx-grid--column-gap-md {
  column-gap: var(--zx-grid-gap-md);
  --zx-grid-active-column-gap: var(--zx-grid-gap-md);
}

:host.zx-grid--column-gap-lg {
  column-gap: var(--zx-grid-gap-lg);
  --zx-grid-active-column-gap: var(--zx-grid-gap-lg);
}

:host.zx-grid--column-gap-xl {
  column-gap: var(--zx-grid-gap-xl);
  --zx-grid-active-column-gap: var(--zx-grid-gap-xl);
}

:host.zx-grid--column-gap-xxl {
  column-gap: var(--zx-grid-gap-xxl);
  --zx-grid-active-column-gap: var(--zx-grid-gap-xxl);
}

:host.zx-grid--align-start {
  align-items: flex-start;
}

:host.zx-grid--align-center {
  align-items: center;
}

:host.zx-grid--align-end {
  align-items: flex-end;
}

:host.zx-grid--align-stretch {
  align-items: stretch;
}

@include bp.media-breakpoint-down(lg) {
  :host > * {
    flex-basis: var(--zx-grid-column-1);
  }
}
