<zx-panel
  *ngIf="!loading && !error && (people.length > 0 || groups.length > 0)"
  [title]="'author-details.collaborators.title' | translate"
  titleLevel="h2"
  variant="elevated">

  <div class="ap-collab__cols">
    <div class="ap-collab__col" *ngIf="people.length > 0">
      <div class="ap-collab__col-h">
        {{ 'author-details.collaborators.people' | translate }}
        <span class="ap-section__count">{{ people.length }}</span>
      </div>
      <div class="ap-collab__people">
        <zx-author-person-card *ngFor="let p of people" [person]="p"></zx-author-person-card>
      </div>
    </div>

    <div class="ap-collab__col" *ngIf="groups.length > 0">
      <div class="ap-collab__col-h">
        {{ 'author-details.collaborators.groups' | translate }}
        <span class="ap-section__count">{{ groups.length }}</span>
      </div>
      <div class="ap-collab__groups">
        <a *ngFor="let g of groups" [href]="g.url" class="ap-collab__group">
          <div class="ap-collab__group-head">
            <span class="ap-collab__group-name">{{ g.title }}</span>
            <span *ngIf="g.years" class="ap-collab__group-years">{{ g.years }}</span>
          </div>
          <div class="ap-collab__group-meta">
            {{ 'author-details.collaborators.members' | translate: {count: g.membersCount} }}
          </div>
        </a>
      </div>
    </div>
  </div>
</zx-panel>
