<zx-hero media="xs">
  <div zxHeroMedia class="ap-avatar--empty">
    <svg-icon name="person" aria-hidden="true"></svg-icon>
  </div>

  <zx-hero-title [title]="core.title" [entityId]="core.id">
    <zx-badge *ngFor="let badge of core.badges" variant="primary" [title]="'author-details.badges.' + badge | translate">
      {{ 'author-details.badges.' + badge | translate }}
    </zx-badge>

    <zx-chip *ngFor="let role of core.roles" variant="opaque" [color]="getRoleChipColor(role)">
      {{ 'author-details.roles.' + role | translate }}
    </zx-chip>

    <zx-author-editing-controls
      zxHeroEdit
      [elementId]="core.id"
      [entityType]="core.entityType">
    </zx-author-editing-controls>
  </zx-hero-title>

  <zx-facts>
    <zx-fact *ngIf="core.realName">{{ core.realName }}</zx-fact>

    <zx-fact *ngIf="core.location.city || core.location.country">
      <zx-location [city]="core.location.city" [country]="core.location.country"></zx-location>
    </zx-fact>

    <zx-fact *ngIf="core.joined || core.siteUser">
      <ng-container *ngIf="core.joined">{{ 'author-details.header.joined' | translate }} {{ joinedYear }}</ng-container>
      <ng-container *ngIf="core.siteUser">
        <ng-container *ngIf="core.joined"> </ng-container>({{ 'author-details.header.login' | translate }} <zx-chip variant="mono">{{ core.siteUser }}</zx-chip>)
      </ng-container>
    </zx-fact>
  </zx-facts>

  <zx-rating-strip
    *ngIf="core.ratings.artist > 0 || core.ratings.musician > 0"
    [label]="'author-details.header.rating.label' | translate"
    [items]="ratingItems">
  </zx-rating-strip>

  <zx-meta-row *ngIf="core.primaryAuthor" [label]="'author-details.header.primary-author' | translate">
    <a [routerLink]="core.primaryAuthor.url">{{ core.primaryAuthor.title }}</a>
  </zx-meta-row>

  <zx-meta-row *ngIf="core.groups.length" [label]="'author-details.header.groups' | translate">
    <zx-chip *ngFor="let group of core.groups" variant="filled" color="primary" [href]="group.url">
      {{ group.title }}<span *ngIf="group.years" class="ap-chip-years">{{ group.years }}</span>
    </zx-chip>
  </zx-meta-row>

  <zx-meta-row *ngIf="core.aliases.length" [label]="'author-details.header.aliases' | translate">
    <span *ngFor="let alias of visibleAliases; let last = last" class="ap-aliases__item">
      <a [routerLink]="alias.url">{{ alias.title }}</a><ng-container *ngIf="!last">,</ng-container>
    </span>
    <zx-button
      *ngIf="hiddenAliasCount > 0 && !showAllAliases"
      size="xs"
      color="outlined"
      (click)="toggleAliases()">
      {{ 'author-details.header.show-more' | translate: {count: hiddenAliasCount} }}
    </zx-button>
    <zx-button
      *ngIf="showAllAliases && hiddenAliasCount > 0"
      size="xs"
      color="outlined"
      (click)="toggleAliases()">
      {{ 'author-details.header.collapse' | translate }}
    </zx-button>
  </zx-meta-row>

  <zx-meta-row *ngIf="core.links.length" [label]="'author-details.header.links' | translate">
    <zx-ext-links [links]="core.links"></zx-ext-links>
  </zx-meta-row>

  <zx-tech-settings
    *ngIf="techRows.length"
    [title]="'author-details.header.tech-toggle' | translate"
    [rows]="techRows">
  </zx-tech-settings>
</zx-hero>
