@use 'shared/vars' as vars;

.comment {
  margin-bottom: var(--comment-margin-bottom);
}

.comment-header {
  margin-bottom: var(--comment-header-margin-bottom);
  font-size: var(--comment-header-font-size);
}

.comment-author {
  font-weight: var(--comment-author-font-weight);
  margin-right: var(--comment-author-margin-right);
}

.comment-badge {
  background-color: var(--badge-bg);
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--border-radius-sm);
  margin-right: var(--margin-md);
}

.comment-date {
  color: var(--comment-date-color);
  margin-right: var(--comment-date-margin-right);
}

.comment-actions {
  display: inline-block;

  ::ng-deep .p-button.p-button-link {
    padding: 0;
    margin-right: var(--margin-md);
    font-size: var(--comment-actions-font-size);
    height: auto;
    vertical-align: baseline;

    &:hover {
      text-decoration: underline;
    }

    .p-button-label {
      text-decoration: inherit;
    }
  }
}

.comment-content {
  margin-bottom: var(--comment-content-margin-bottom);
  white-space: pre-wrap;
  word-break: break-word;
}

.comment-children {
}
