@use 'shared/vars' as vars;

.comment {
  border: 1px solid var(--border-color-light);
  padding: var(--padding-md);
  margin-bottom: var(--margin-xs);
  background-color: var(--background-light);
}

.comment-header {
  margin-bottom: var(--margin-xs);
  font-size: var(--comment-header-font-size);
}

.comment-author {
  font-weight: bold;
  margin-right: var(--margin-md);
}

.comment-badge {
  background-color: var(--badge-bg);
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--border-radius-sm);
  margin-right: var(--margin-md);
}

.comment-date {
  color: var(--date-color);
}

.comment-content {
  margin-bottom: var(--margin-xs);
}
