<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="presentation === 'inline' && vm.loading" class="zx-editing-controls-skeleton">
    <zx-skeleton-bone
      *ngFor="let item of skeletonItems; index as i"
      class="zx-editing-controls-skeleton__item"
      [style.animation-delay.ms]="i * 80"
    ></zx-skeleton-bone>
  </div>

  <zx-button-controls *ngIf="presentation === 'inline' && !vm.loading" align="start" [wrap]="true">
    <zx-button
      *ngFor="let item of vm.actions"
      [color]="item.action.color || 'primary'"
      [size]="inlineButtonSize"
      (click)="runAction(item)"
    >
      {{ item.action.labelKey | translate }}
    </zx-button>
  </zx-button-controls>

  <ng-container *ngIf="presentation === 'popover' && !vm.loading && vm.actions.length">
    <zx-edit-button
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      [ariaLabel]="popoverAriaLabel"
      [title]="popoverAriaLabel"
      [size]="popoverButtonSize"
      [icon]="triggerIcon"
      [expanded]="popoverOpen"
      (editClick)="togglePopover($event)"
    ></zx-edit-button>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="popoverOpen"
      [cdkConnectedOverlayPositions]="popoverPositions"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPush]="true"
      [cdkConnectedOverlayViewportMargin]="8"
      (backdropClick)="closePopover()"
    >
      <div class="zx-editing-controls-popover" @popover (click)="$event.stopPropagation()">
        <zx-stack
          class="zx-editing-controls-popover__content"
          spacing="xs"
          align="stretch"
          (click)="closePopover()"
        >
          <zx-button
            *ngFor="let item of vm.actions"
            [color]="item.action.color || 'primary'"
            [size]="popoverButtonSize"
            [block]="true"
            (click)="runAction(item)"
          >
            {{ item.action.labelKey | translate }}
          </zx-button>
        </zx-stack>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
