@use "shared/vars" as vars;

.dialog-title {
  color: currentColor;
}

.value-groups {
  display: flex;
  flex-wrap: wrap;
}

.value-group {
  margin-right: vars.$padding-lg;
  margin-bottom: vars.$padding-lg;

  &:last-of-type {
    margin-right: 0;
  }
}

.value-group-title {
  color: vars.$gray5;
  font-weight: 500;
  margin-bottom: vars.$padding-md;
}

.value-columns {
  column-gap: vars.$padding-lg;
  column-fill: balance;
  //column
}

.value {
  padding-bottom: vars.$padding-sm;
  break-inside: avoid;
}
