<h1 class="dialog-title" mat-dialog-title [innerHtml]="data.selectValuesLabel | translate"></h1>
<div mat-dialog-content class="value-groups">
    <div class="value-group" *ngFor="let group of data.selectorData">
        <div class="value-group-title" *ngIf="group.title">{{ group.title }}</div>
        <div class="value-columns" [style.column-count]="getColumns(group.values.length)">
            <zx-checkbox-field class="value" *ngFor="let value of group.values" [(ngModel)]="selectedValues[value.value]">
                {{ value.title }}
            </zx-checkbox-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <zx-button size="sm" color="secondary" (click)="reset()">
        {{ 'prods-list.filters.reset' | translate }}
    </zx-button>
    <zx-button size="sm" color="primary" (click)="apply()">
        {{ 'prods-list.filters.apply' | translate }}
    </zx-button>
</div>
