<zx-item-data>
  <zx-item-data-item [label]="'prod-details.title' | translate">
    {{ core.title }}
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.altTitle" [label]="'prod-details.altTitle' | translate">
    {{ core.altTitle }}
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.externalLink" [label]="'prod-details.externallink' | translate">
    <a class="button"
       [class.release-sales-button]="!!externalLinkButtonClass"
       target="_blank"
       rel="noopener"
       [href]="core.externalLink">
      {{ externalLinkLabelKey | translate }}
    </a>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.categoriesPaths.length" [label]="'prod-details.categories' | translate">
    <div *ngFor="let path of core.categoriesPaths">
      <ng-container *ngFor="let cat of path.categories; let last = last">
        <a [href]="cat.url">{{ cat.title }}</a><ng-container *ngIf="!last"> / </ng-container>
      </ng-container>
    </div>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.languages.length" [label]="'prod-details.language' | translate">
    <zx-prod-language-links [languages]="core.languages"></zx-prod-language-links>
  </zx-item-data-item>

  <zx-item-data-item [label]="'prod-details.legalstatus' | translate">
    {{ core.legalStatusLabel }}
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.groups.length" [label]="'prod-details.groups' | translate">
    <ng-container *ngFor="let group of core.groups; let last = last">
      <a [href]="group.url">{{ group.title }}</a><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.publishers.length" [label]="'prod-details.publishers' | translate">
    <ng-container *ngFor="let publisher of core.publishers; let last = last">
      <a [href]="publisher.url">{{ publisher.title }}</a><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.authors.length" [label]="'prod-details.authors' | translate">
    <ng-container *ngFor="let author of core.authors; let last = last">
      <a [href]="author.url">{{ author.title }}</a><ng-container *ngIf="author.roles.length && author.roles[0] !== 'unknown'">
        (<ng-container *ngFor="let role of author.roles; let lastRole = last">{{ ('prod-details.role_' + role) | translate }}<ng-container *ngIf="!lastRole">, </ng-container></ng-container>)</ng-container><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.party as party" [label]="'prod-details.party' | translate">
    <a [href]="party.url">{{ party.title }}</a>
    <ng-container *ngIf="party.compoLabel">
      (<ng-container *ngIf="party.place != null">{{ party.place }}, </ng-container>{{ party.compoLabel }})
    </ng-container>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.year > 0" [label]="'prod-details.year' | translate">
    <a [href]="core.catalogueYearUrl">{{ core.year }}</a>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.tags.length" [label]="'prod-details.tags' | translate">
    <ng-container *ngFor="let tag of core.tags; let last = last">
      <a [href]="tag.url">{{ tag.title }}</a><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.links.length" [label]="'prod-details.links' | translate">
    <zx-prod-external-links [links]="core.links"></zx-prod-external-links>
  </zx-item-data-item>

  <zx-item-data-item [label]="'prod-details.votes' | translate">
    <zx-prod-vote-row [elementId]="core.elementId" [voting]="core.voting"></zx-prod-vote-row>
  </zx-item-data-item>

  <zx-item-data-item *ngIf="core.submitter as submitter; else justAdded" [label]="'prod-details.addedby' | translate">
    <a [href]="submitter.url">{{ submitter.userName }}</a>, {{ core.dateCreated }}
  </zx-item-data-item>
  <ng-template #justAdded>
    <zx-item-data-item [label]="'prod-details.added' | translate">
      {{ core.dateCreated }}
    </zx-item-data-item>
  </ng-template>
</zx-item-data>
