@use 'shared/breakpoints' as bp;

:host {
  display: block;
}

.language-link {
  display: inline-flex;
  align-items: center;
  gap: var(--zx-prod-language-links-inner-gap);
}

@include bp.media-breakpoint-down(md) {
  .language-link__title {
    display: none;
  }
}
