<div class="comments-page">
  <zx-stack spacing="lg">
    @if (title) {
      <h2 zxHeading2>{{ title }}</h2>
    }

    @if (initialLoading()) {
      <zx-skeleton variant="comment" [count]="5"></zx-skeleton>
    } @else {
      @if (data(); as listData) {
        <zx-pagination
          [currentPage]="listData.currentPage"
          [pagesAmount]="listData.pagesAmount"
          [urlBase]="urlBase"
          [loading]="paginationLoading()"
          (pageChange)="onPageChange($event)"
        ></zx-pagination>

        <div class="comments-content" [class.loading]="paginationLoading()">
          <zx-stack spacing="md">
            @for (comment of listData.comments; track comment.id) {
              <zx-comment [comment]="comment" (commentChanged)="onCommentChanged($event)"></zx-comment>
            }
          </zx-stack>
        </div>

        <zx-pagination
          [currentPage]="listData.currentPage"
          [pagesAmount]="listData.pagesAmount"
          [urlBase]="urlBase"
          [loading]="paginationLoading()"
          (pageChange)="onPageChange($event)"
        ></zx-pagination>
      }
    }
  </zx-stack>
</div>
