<header class="zx-article-preview__header">
  <h3 zxHeading3 class="zx-article-preview__title">
    <ng-container *ngIf="publication">
      <a
        class="zx-article-preview__link zx-article-preview__publication"
        [href]="publication.url"
      >{{ publication.title }}<ng-container *ngIf="publication.year"> ({{ publication.year }})</ng-container></a>
      <span class="zx-article-preview__publication-separator"> / </span>
    </ng-container>
    <a
      class="zx-article-preview__link"
      [href]="url"
      [innerHTML]="titleHtml ?? title"
    ></a>
  </h3>
  <zx-button
    *ngIf="readLinkLabel"
    class="zx-article-preview__read"
    size="xs"
    color="outlined"
    [href]="url"
  >{{ readLinkLabel }}</zx-button>
</header>

<div *ngIf="typeLabel || year || authors.length > 0" class="zx-article-preview__meta" zxBodySmMuted>
  <span *ngIf="typeLabel" class="zx-article-preview__type">{{ typeLabel }}</span>
  <span *ngIf="year" class="zx-article-preview__year">{{ year }}</span>
  <span *ngIf="authors.length > 0" class="zx-article-preview__authors">
    <ng-container *ngFor="let author of authors; let last = last">
      <a [href]="author.url">{{ author.title }}</a><ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </span>
</div>

<p *ngIf="snippetHtml" class="zx-article-preview__snippet" zxBody [innerHTML]="snippetHtml"></p>
