<zx-grid desktopColumns="3" tabletColumns="1" mobileColumns="1" gap="lg">
  <div #votersBlock>
    <ng-container *ngIf="voters$ | async as voters; else skeleton">
      <zx-stats-top-table
        [title]="'stats.top_title.voters' | translate"
        [unitKey]="voters.unitKey"
        [users]="voters.users"
      ></zx-stats-top-table>
    </ng-container>
  </div>

  <div #commentsBlock>
    <ng-container *ngIf="comments$ | async as comments; else skeleton">
      <zx-stats-top-table
        [title]="'stats.top_title.comments' | translate"
        [unitKey]="comments.unitKey"
        [users]="comments.users"
      ></zx-stats-top-table>
    </ng-container>
  </div>

  <div #tagsBlock>
    <ng-container *ngIf="tags$ | async as tags; else skeleton">
      <zx-stats-top-table
        [title]="'stats.top_title.tags' | translate"
        [unitKey]="tags.unitKey"
        [users]="tags.users"
      ></zx-stats-top-table>
    </ng-container>
  </div>
</zx-grid>

<ng-template #skeleton>
  <zx-stats-section-skeleton variant="top-table" [rowCount]="20"></zx-stats-section-skeleton>
</ng-template>
