@use "shared/breakpoints" as breakpoints;

.prods-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  justify-content: space-between;
  gap: var(--space-32) var(--space-16);

  @include breakpoints.media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}
