<zx-tabs>
  <zx-tab
    *ngIf="core.tabs.hasProds"
    [label]="'group-details.works.own' | translate">
    <ng-template zxTabContent>
      <zx-group-prods-tab [elementId]="core.id" scope="own" [urlBase]="urlBase"></zx-group-prods-tab>
    </ng-template>
  </zx-tab>

  <zx-tab
    *ngIf="core.tabs.hasPublished"
    [label]="'group-details.works.published' | translate">
    <ng-template zxTabContent>
      <zx-group-prods-tab [elementId]="core.id" scope="published" [urlBase]="urlBase"></zx-group-prods-tab>
    </ng-template>
  </zx-tab>

  <zx-tab
    *ngIf="core.tabs.hasReleases"
    [label]="'group-details.works.releases' | translate">
    <ng-template zxTabContent>
      <zx-group-prods-tab [elementId]="core.id" scope="releases" [urlBase]="urlBase"></zx-group-prods-tab>
    </ng-template>
  </zx-tab>
</zx-tabs>
