<zx-panel *ngIf="usePanel" radius="lg" [contentBleed]="true" variant="elevated" [title]="titleKey | translate" titleLevel="h2">
  <ng-container *ngTemplateOutlet="body"></ng-container>
</zx-panel>

<ng-container *ngIf="!usePanel">
  <div class="module-title">
    <h2 zxHeading2 class="module-title__text">{{ titleKey | translate }}</h2>
    <zx-button
      *ngIf="viewAllUrl"
      size="xs"
      color="secondary"
      [href]="viewAllUrl"
      [extraClass]="'module-title__action'"
    >
      {{ viewAllLabel }}
    </zx-button>
  </div>
  <ng-container *ngTemplateOutlet="body"></ng-container>
</ng-container>

<ng-template #body>
  <zx-skeleton
    *ngIf="loading"
    [variant]="skeletonVariant"
    [count]="skeletonCount"
  ></zx-skeleton>

  <div *ngIf="error" class="module-error" zxCaption>
    {{ 'firstpage.error' | translate }}
  </div>

  <div *ngIf="!loading && !error && empty" class="module-empty" zxCaption>
    {{ 'firstpage.empty' | translate }}
  </div>

  <ng-content *ngIf="!loading && !error && !empty"></ng-content>
</ng-template>
