:host {
  display: block;
}

.gp-header__avatar-img {
  display: block;
  width: var(--zx-group-header-avatar-size);
  height: var(--zx-group-header-avatar-size);
  border-radius: var(--zx-group-header-avatar-radius);
  object-fit: cover;
}

.gp-avatar--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--zx-group-header-avatar-size);
  height: var(--zx-group-header-avatar-size);
  border-radius: var(--zx-group-header-avatar-radius);
  background: var(--zx-group-header-avatar-bg);
  color: var(--zx-group-header-avatar-icon-color);

  svg-icon {
    width: var(--zx-group-header-avatar-icon-size);
    height: var(--zx-group-header-avatar-icon-size);
  }
}

.gp-header__slogan {
  margin: 0;
  font-style: italic;
}

.gp-aliases__item {
  white-space: nowrap;
}
