<zx-panel radius="xl" padding="none" variant="elevated">
  <div
    class="picture-image"
  >
    <img
      [src]="imageUrl$ | async"
      [alt]="picture.title"
      loading="lazy"
      [lightbox]="galleryIndex ?? 0"
      [gallery]="galleryId || defaultGalleryId"
    />
    <div class="picture-badges">
      <zx-badge *ngIf="picture.isRealtime" variant="secondary">
        {{ picture.compo ? (('picture-compo-short.' + picture.compo) | translate) : ('firstpage.realtime' | translate) }}
      </zx-badge>
      <zx-badge *ngIf="picture.type && picture.type !== 'standard'" variant="secondary">
        {{ ('picture-format-short.' + picture.type) | translate }}
      </zx-badge>
    </div>
  </div>
  <div class="picture-info">
    <a [href]="picture.url" class="picture-title" appText="body" tone="link">{{ picture.title }}</a>
    <div class="picture-authors" *ngIf="picture.authors.length" appText="caption" tone="muted">
      <ng-container *ngFor="let author of picture.authors; last as last">
        <a [href]="author.url" appText="caption" tone="muted-link">{{ author.name }}</a><span *ngIf="!last">, </span>
      </ng-container>
    </div>
    <div class="picture-party" *ngIf="picture.party">
      <zx-party-place [place]="picture.party.place"></zx-party-place>
      <a [href]="picture.party.url" appText="caption" tone="muted-link">{{ picture.party.title }}</a>
    </div>
    <div class="picture-bottom">
      <zx-item-controls
        [elementId]="picture.id"
        type="zxPicture"
        [votes]="picture.votes"
        [votesAmount]="picture.votesAmount"
        [userRating]="picture.userVote"
        [denyVoting]="picture.denyVoting"
      ></zx-item-controls>
      <span class="picture-year" *ngIf="picture.year" appText="caption" tone="link-alt">{{ picture.year }}</span>
    </div>
  </div>
</zx-panel>
