@use "shared/svg-icons";
@use "shared/vars";
@use "shared/breakpoints";

:host {
  display: flex;
  flex-wrap: nowrap;
  --star-size: 18px;
  @include breakpoints.media-breakpoint-down(md) {
    --star-size: 24px;
  }
  @include breakpoints.media-breakpoint-down(sm) {
    --star-size: 32px;
  }
}

.stars {
  position: relative;
  width: calc(var(--star-size) * 5);
}

.skip-vote {
  display: flex;
  align-items: center;

  .skip {
    color: var(--date-color);
    cursor: pointer;
    margin-right: var(--margin-md);
    width: calc(var(--star-size) * 0.6);
    transition: opacity var(--animation-sm) ease-in-out;
  }

  .skip-vote-hovered {
    color: var(--icon-yellow);
  }
}

.bg-rating {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .star {
    color: var(--date-color);
    cursor: pointer;
  }
}

.star {
  width: var(--star-size);
  height: var(--star-size);
  box-sizing: border-box;
  flex-shrink: 0;
  padding-right: var(--padding-xs);
}

.interactive {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  pointer-events: none;
  transition: width 100ms ease-out;

  .star {
    color: var(--icon-yellow);
  }
}

.user-vote {
  color: var(--icon-yellow);
  font-size: var(--rating-user-vote-font-size);
  margin-left: var(--margin-xxs);
  display: flex;
  align-items: center;
  line-height: 1;
}
