@use "shared/svg-icons";
@use "shared/vars";
@use "shared/breakpoints";

:host {
  display: flex;
  flex-wrap: nowrap;
  --star-size: 1.1rem;
  @include breakpoints.media-breakpoint-down(md) {
    --star-size: 2rem;
  }
}

.stars {
  position: relative;
  width: calc(var(--star-size) * 5);
}

.skip-vote {
  display: flex;
  align-items: center;

  .skip {
    color: vars.$gray6;
    cursor: pointer;
    margin-right: vars.$padding-sm;
    width: calc(var(--star-size) * 0.6);
    transition: opacity vars.$animation-sm ease-in-out;
  }

  .skip-vote-hovered {
    color: vars.$yellow;
  }
}

.bg-rating {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .star {
    color: vars.$gray6;
    cursor: pointer;
  }
}

.star {
  width: var(--star-size);
  height: var(--star-size);
  box-sizing: border-box;
  flex-shrink: 0;
  padding-right: vars.$padding-xxs;
}

.interactive {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  pointer-events: none;
  transition: width 100ms ease-out;

  .star {
    color: vars.$yellow;
  }
}

.user-vote {
  color: vars.$yellow;
  font-size: vars.$font-sm;
  margin-left: vars.$padding-sm;
  display: flex;
  align-items: center;
  line-height: 1;
}
