<div class="bg-rating">
  <svg-icon [ngClass]="{'voted': activeStar > 0}" class="star" name="star" (pointerup)="starPressed(1)" (pointerenter)="starPointed(1)" (pointerleave)="starLeft()"></svg-icon>
  <svg-icon [ngClass]="{'voted': activeStar > 1}" class="star" name="star" (pointerup)="starPressed(2)" (pointerenter)="starPointed(2)" (pointerleave)="starLeft()"></svg-icon>
  <svg-icon [ngClass]="{'voted': activeStar > 2}" class="star" name="star" (pointerup)="starPressed(3)" (pointerenter)="starPointed(3)" (pointerleave)="starLeft()"></svg-icon>
  <svg-icon [ngClass]="{'voted': activeStar > 3}" class="star" name="star" (pointerup)="starPressed(4)" (pointerenter)="starPointed(4)" (pointerleave)="starLeft()"></svg-icon>
  <svg-icon [ngClass]="{'voted': activeStar > 4}" class="star" name="star" (pointerup)="starPressed(5)" (pointerenter)="starPointed(5)" (pointerleave)="starLeft()"></svg-icon>
</div>
<div class="interactive"
     [ngStyle]="{'width.%': getWidth()}"
>
  <svg-icon class="star" name="star"></svg-icon>
  <svg-icon class="star" name="star"></svg-icon>
  <svg-icon class="star" name="star"></svg-icon>
  <svg-icon class="star" name="star"></svg-icon>
  <svg-icon class="star" name="star"></svg-icon>
</div>
