:host {
  display: inline-block;
}

select {
  background-color: var(--input-bg);
  border: var(--border-width-thin) solid var(--input-border-color);
  border-radius: var(--form-border-radius);
  color: var(--input-text);
  height: var(--input-height);
  line-height: calc(var(--input-height) - 2px);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  cursor: pointer;

  &:focus {
    border-color: var(--input-border-focus-color);
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
