:host {
  display: block;
}

.zx-stats-bar-chart__canvas {
  position: relative;
  width: 100%;
}

.zx-stats-bar-chart__canvas--sm {
  height: var(--zx-stats-chart-height-sm);
}

.zx-stats-bar-chart__canvas--md {
  height: var(--zx-stats-chart-height-md);
}

.zx-stats-bar-chart__canvas--lg {
  height: var(--zx-stats-chart-height-lg);
}
