<div class="zx-drop">
  <input #fileInput type="file" [accept]="accept" hidden (change)="onFileSelected($event)" />
  <span class="zx-drop__thumb">
    <img *ngIf="displayUrl" [src]="displayUrl" class="zx-drop__img" alt="" />
  </span>
  <span class="zx-drop__body">
    <span class="zx-drop__title">{{ displayName || ('form.drop-image' | translate) }}</span>
    <span class="zx-drop__hint">{{ 'form.drop-hint' | translate }}</span>
  </span>
  <zx-button size="sm" color="outlined" (click)="fileInput.click()">{{ 'common.choose-file' | translate }}</zx-button>
  <zx-button *ngIf="displayUrl || displayName" size="sm" color="danger" (click)="onRemove()">{{ 'common.remove' | translate }}</zx-button>
</div>
