@use "../shared/vars" as vars;
@use "../shared/mixins" as mixins;
@use "../shared/breakpoints" as breakpoints;

$amount: 5;
.zx-prods-list-presets {
  display: flex;
  gap: vars.$padding-md;
  margin-bottom: vars.$padding-xl;
  flex-wrap: wrap;
}

.zx-prods-list-content {
  @include breakpoints.media-breakpoint-up(sm) {
    display: flex;
    align-items: flex-start;
    gap: vars.$padding-xl;
  }
}

.zx-prods-list-left {
  display: flex;
  gap: vars.$padding-md;
  overflow: auto;
  transition: opacity vars.$animation-md ease-out;
  @include breakpoints.media-breakpoint-up(sm) {
    position: sticky;
    top: 0;
    width: 15%;
    min-width: 15rem;
    flex-direction: column;
    max-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  @include breakpoints.media-breakpoint-down(sm) {
    flex-wrap: wrap;
    app-categories-tree-selector {
      flex-basis: 100%;
    }
  }
}

.zx-prods-list-right {
  @include breakpoints.media-breakpoint-up(sm) {
    width: calc(85% - 3rem);
    flex-grow: 1;
  }
}

.zx-prods-list-center {
  position: relative;
}

.zx-prods-list-spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: 0;
  right: 0;
}

.zx-prods-gallery {
  transition: opacity vars.$animation-md ease-out;
  display: grid;
  gap: vars.$padding-lg;
  justify-content: space-between;
}

:host:not(.inlays) {
  .zx-prods-gallery {
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 256px 256px;
    }
    @media (min-width: 1420px) {
      grid-template-columns: 256px 256px 256px;
    }
    @media (min-width: 1850px) {
      grid-template-columns: 256px 256px 256px 256px;
    }
  }
}

:host.inlays {
  .zx-prods-gallery {
    @include breakpoints.media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
    @include breakpoints.media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoints.media-breakpoint-up(xxl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}

.include-subcategories-prods-selector {
  font-size: vars.$font-sm;
}

.selectors {
  background: vars.$gray9;
  padding-top: vars.$padding-md;
  padding-bottom: vars.$padding-md;
  box-shadow: vars.$shadow-md;
  transition: opacity vars.$animation-md ease-in-out;
  @include breakpoints.media-breakpoint-up(sm) {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.selectors-top {
  display: flex;
  gap: vars.$padding-md;

  @media (max-width: 1640px) {
    flex-wrap: wrap;
  }
}

.releases-selector {
  display: flex;
  align-items: center;
  gap: vars.$padding-sm;
  flex-wrap: nowrap;
}

.layout-selector {
  display: flex;
  align-items: center;
  gap: vars.$padding-md;
  @include breakpoints.media-breakpoint-up(sm) {
    justify-content: flex-end;
    flex-grow: 1;
  }
}

app-letter-selector {
  margin: vars.$padding-md 0 0;
}

app-pages-selector {
  z-index: 10;
  @include breakpoints.media-breakpoint-up(sm) {
    margin-top: vars.$padding-xl;
  }
}

.zx-prods-table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;

  thead td {
    padding: vars.$padding-sm vars.$padding-md;
    font-size: vars.$font-sm;
    color: vars.$text-light-color;
    vertical-align: bottom;

    &.zx-prods-table-sortable {
      @include mixins.pseudo-link;
    }

  }

  ::ng-deep app-zx-prod-row td {
    padding: vars.$padding-sm vars.$padding-md;
  }

  ::ng-deep app-zx-prod-row:nth-of-type(2n-1) td {
    background-color: vars.$gray8;
  }
}

mat-spinner {
  display: block;
  margin: vars.$padding-xl auto;
}

.selectors-top {
  app-dialog-selector {
    max-width: 15%;
  }
}
