<div *ngIf="model">
  <h1>{{ model.h1 }}</h1>
  <div class="zx-prods-list-content">
    <div
      class="zx-prods-list-left"
      [ngClass]="{'disabled': loading}"
    >
      <app-categories-tree-selector
        [selectorData]="model.categoriesSelector"
        (categoryChanged)="categoryChanged($event)"
      ></app-categories-tree-selector>
      <app-dialog-selector
        [selectorData]="model.countriesSelector"
        (newValues)="countriesChanged($event)"
        [width]="'60rem'"
        [selectedValuesLabel]="'prods-list.filters.countries.selected' | translate"
        [selectValuesLabel]="'prods-list.filters.countries.select' | translate"
      ></app-dialog-selector>
      <app-dialog-selector
        [selectorData]="model.formatsSelector"
        (newValues)="formatsChanged($event)"
        [width]="'60rem'"
        [selectedValuesLabel]="'prods-list.filters.formats.selected' | translate"
        [selectValuesLabel]="'prods-list.filters.formats.select' | translate"
      ></app-dialog-selector>
      <app-dialog-selector
        [selectorData]="model.languagesSelector"
        (newValues)="languagesChanged($event)"
        [width]="'50rem'"
        [selectedValuesLabel]="'prods-list.filters.languages.selected' | translate"
        [selectValuesLabel]="'prods-list.filters.languages.select' | translate"
      ></app-dialog-selector>
      <app-dialog-selector
        [selectorData]="model.legalStatusesSelector"
        (newValues)="legalStatusesChanged($event)"
        [selectedValuesLabel]="'prods-list.filters.legal-statuses.selected' | translate"
        [selectValuesLabel]="'prods-list.filters.legal-statuses.select' | translate"
      ></app-dialog-selector>
    </div>
    <div class="zx-prods-list-right">
      <div
        class="selectors"
        [ngClass]="{'disabled': loading}"
      >
        <div class="selectors-top">
          <app-dialog-selector
            [selectorData]="model.yearsSelector"
            (newValues)="yearsChanged($event)"
            [width]="'40rem'"
            [selectedValuesLabel]="'prods-list.filters.year.selected' | translate"
            [selectValuesLabel]="'prods-list.filters.year.select' | translate"
          ></app-dialog-selector>
          <app-dialog-selector
            [selectorData]="model.hardwareSelector"
            (newValues)="hardwareChanged($event)"
            [width]="'60rem'"
            [selectedValuesLabel]="'prods-list.filters.hardware.selected' | translate"
            [selectValuesLabel]="'prods-list.filters.hardware.select' | translate"
          ></app-dialog-selector>
          <app-tags-selector
            [tagsSelector]="model.tagsSelector"
            (tagsSelected)="tagsSelected($event)"
          ></app-tags-selector>
          <app-sorting-selector
            [sortingSelector]="model.sortingSelector"
            (sortingSelected)="sortingSelected($event)"
          ></app-sorting-selector>
          <div class="layout-selector">
            {{ 'prods-list.layout.select' | translate }}
            <mat-button-toggle-group [(ngModel)]="layout">
              <mat-button-toggle value="loading">
                <mat-icon>photo</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="screenshots">
                <mat-icon>videogame_asset</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="inlays">
                <mat-icon>photo_camera</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="table">
                <mat-icon>list</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <app-letter-selector
          [lettersSelector]="model.lettersSelector"
          (letterSelected)="letterSelected($event)"
        ></app-letter-selector>
      </div>
      <mat-spinner *ngIf="loading" diameter="100" strokeWidth="10"></mat-spinner>
      <ng-container *ngIf="!loading">
        <div *ngIf="model.prods && layout!=='table'" class="zx-prods-gallery">
          <app-zx-prod-block
            *ngFor="let zxProd of model.prods"
            [model]="zxProd"
            [imagesLayout]="layout"
            (categoryChanged)="categoryChanged($event)"
            (yearChanged)="yearsChanged($event)"
            (hardwareChanged)="hardwareChanged($event)"
            (languageChanged)="languagesChanged($event)"
          ></app-zx-prod-block>
        </div>
        <table *ngIf="layout==='table'" class="zx-prods-table">
          <thead>
          <tr>
            <td class="zx-prods-table-sortable"
                (click)="tableSortingClicked('title')">{{'zx-prod.title' | translate}}</td>
            <td>{{'zx-prod.categories' | translate}}</td>
            <td>{{'zx-prod.developers' | translate}}</td>
            <td>{{'zx-prod.publishers' | translate}}</td>
            <td class="zx-prods-table-sortable"
                (click)="tableSortingClicked('year')">{{'zx-prod.year' | translate}}</td>
            <td class="zx-prods-table-sortable"
                (click)="tableSortingClicked('date')">{{'zx-prod.date-created' | translate}}</td>
          </tr>
          </thead>
          <app-zx-prod-row
            *ngFor="let zxProd of model.prods"
            [model]="zxProd"
            (categoryChanged)="categoryChanged($event)"
            (yearChanged)="yearsChanged($event)"
            (hardwareChanged)="hardwareChanged($event)"
            (languageChanged)="languagesChanged($event)"
          ></app-zx-prod-row>
        </table>
        <app-pages-selector [pagesAmount]="pagesAmount" [currentPage]="currentPage"
                            (clickCallback)="setCurrentPage($event)"></app-pages-selector>
      </ng-container>
    </div>
  </div>
</div>
