:host {
  display: block;
}

:host.zx-table-xs {
  --zx-table-cell-padding: var(--zx-table-cell-padding-xs);
  --zx-table-font-size: var(--zx-table-font-size-xs);
}

:host.zx-table-sm {
  --zx-table-cell-padding: var(--zx-table-cell-padding-sm);
  --zx-table-font-size: var(--zx-table-font-size-sm);
}

:host.zx-table-md {
  --zx-table-cell-padding: var(--zx-table-cell-padding-md);
  --zx-table-font-size: var(--zx-table-font-size-md);
}

:host ::ng-deep .zx-table-panel {
  overflow-x: auto;
}

:host ::ng-deep .zx-table-content table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    font-size: var(--zx-table-header-font-size);
    color: var(--zx-table-header-color);
    padding: var(--zx-table-header-padding);
    text-align: left;
    font-weight: 600;
    background: var(--zx-table-header-bg);
    vertical-align: bottom;
  }

  tbody td {
    padding: var(--zx-table-cell-padding);
    font-size: var(--zx-table-font-size);
  }

  tbody > :nth-child(odd) th,
  tbody > :nth-child(odd) td {
    background: var(--zx-table-row-bg);
  }

  tbody > :nth-child(even) th,
  tbody > :nth-child(even) td {
    background: var(--zx-table-row-alternate-bg);
  }

  @media (max-width: 600px) {
    thead th {
      font-size: var(--zx-table-header-font-size-mobile);
    }

    tbody td {
      font-size: var(--zx-table-cell-font-size-mobile);
    }
  }
}
