<zx-stack spacing="xxl">
  <zx-nav-chips [chips]="letterChips"></zx-nav-chips>

  <zx-active-authors [items]="items"></zx-active-authors>

  <zx-stack spacing="sm">
    <h2 appHeading="title">{{ 'authors-page.top.' + items | translate }}</h2>
    <zx-author-browser mode="simple" [loadOnViewport]="true" [sorting]="popularSorting" limit="50" types="author" [items]="items"></zx-author-browser>
  </zx-stack>

  <zx-stack spacing="sm">
    <h2 appHeading="title">{{ 'authors-page.latest.' + items | translate }}</h2>
    <zx-author-browser mode="simple" [loadOnViewport]="true" sorting="id,desc" limit="100" [items]="items"></zx-author-browser>
  </zx-stack>
</zx-stack>
