.release-card__layout {
  display: flex;
  flex-direction: column;
}

.release-card__cover {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  background: var(--zx-prod-release-card-cover-bg);
  overflow: hidden;
}


.release-card__body {
  display: flex;
  flex-direction: column;
  gap: var(--zx-prod-release-card-body-gap);
}

.release-card__title {
  font-weight: 700;
  color: var(--zx-prod-release-card-title-color);
  text-decoration: none;
  font-size: var(--zx-prod-release-card-title-size);

  &:hover {
    text-decoration: underline;
  }
}

.release-card__meta {
  font-size: var(--zx-prod-release-card-meta-size);
  color: var(--zx-prod-release-card-meta-color);
}

.release-card__hw-item {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
  font-size: var(--zx-prod-release-card-meta-size);
  color: var(--zx-prod-release-card-meta-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.release-card__bottom {
  margin-top: auto;
}

.release-card__stats {
  margin-left: auto;
}

.release-card__stat {
  font-size: var(--zx-prod-release-card-stat-size);
  color: var(--zx-prod-release-card-stat-color);
}

.release-card__stat-icon {
  width: var(--zx-prod-release-card-stat-icon-size);
  height: var(--zx-prod-release-card-stat-icon-size);
}
