<zx-panel [title]="'tune-details.info' | translate" titleLevel="h3">
  <zx-stack spacing="md">
    <zx-stack spacing="sm">
      <zx-item-data-item *ngIf="tune.year" [label]="'tune-details.year' | translate">
        {{ tune.year }}
      </zx-item-data-item>
      <zx-item-data-item [label]="'tune-details.format' | translate">
        <a *ngIf="musicBaseUrl$ | async as baseUrl; else plainFormat"
           [href]="baseUrl + 'format:' + tune.format + '/'" appText="body" tone="link">{{ tune.format }}</a>
        <ng-template #plainFormat>{{ tune.format }}</ng-template>
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.chip" [label]="'tune-details.chip' | translate">
        {{ tune.chip }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.channelsType" [label]="'tune-details.channels-type' | translate">
        {{ tune.channelsType }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.channels" [label]="'tune-details.channels' | translate">
        {{ tune.channels }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.duration" [label]="'tune-details.duration' | translate">
        {{ tune.duration }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.container" [label]="'tune-details.container' | translate">
        {{ tune.container }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.tracker" [label]="'tune-details.tracker' | translate">
        {{ tune.tracker }}
      </zx-item-data-item>
      <zx-item-data-item *ngIf="tune.partyContext" [label]="'tune-details.compo' | translate">
        <a [href]="tune.partyContext.url" appText="body" tone="link">{{ tune.partyContext.title }}</a>
        <span *ngIf="tune.partyContext.compoLabel" appText="body" tone="muted"> · {{ tune.partyContext.compoLabel }}</span>
      </zx-item-data-item>
    </zx-stack>

    <zx-tech-settings
      *ngIf="techRows.length"
      [title]="'tune-details.tech-info' | translate"
      [rows]="techRows">
    </zx-tech-settings>
  </zx-stack>
</zx-panel>
