@use 'shared/breakpoints' as bp;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--zx-filter-bar-gap);

  @include bp.media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-end;
  }
}

:host(.zx-filter-bar--scrollable) {
  @include bp.media-breakpoint-down(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    scrollbar-width: none;
  }
}

:host(.zx-filter-bar--gap-lg) {
  gap: var(--zx-filter-bar-gap-lg);
}
