<ng-container *ngIf="vm$ | async as vm">
  <zx-firstpage-module-wrapper
    titleKey="firstpage.modules.randomGoodPictures"
    [viewAllUrl]="vm.viewAllUrl"
    [viewAllLabelKey]="vm.viewAllLabelKey"
    [usePanel]="false"
    [loading]="vm.loading"
    [error]="vm.error"
    [empty]="vm.empty"
  >
    <zx-picture-grid-skeleton loadingSkeleton [count]="settings.limit"></zx-picture-grid-skeleton>
    <div zxPicturesGrid>
      <zx-picture-card
        *ngFor="let pic of vm.items; let i = index"
        [picture]="pic"
        [galleryIndex]="i"
        galleryId="zx-picture-lightbox-random-good-pictures"
      ></zx-picture-card>
    </div>
  </zx-firstpage-module-wrapper>
</ng-container>
