<ng-container *ngIf="profile$ | async as profile; else notAuthed">
  <zx-page-layout>
    <h1 zxPageHeader appHeading="display">{{ profile.userName }}</h1>
    <zx-button zxPageHeader color="primary" routerLink="/profile/edit">{{ 'profile.edit' | translate }}</zx-button>
    <dl class="profile__details">
      <ng-container *ngFor="let row of rows(profile)">
        <dt>{{ row.labelKey | translate }}</dt>
        <dd>{{ row.value }}</dd>
      </ng-container>
    </dl>
  </zx-page-layout>
</ng-container>

<ng-template #notAuthed>
  <zx-page-layout>
    <h1 zxPageHeader appHeading="display">{{ 'profile.title' | translate }}</h1>
    <p class="profile__notice">{{ 'profile.please-log-in' | translate }}</p>
  </zx-page-layout>
</ng-template>
