<a
  href="{{ model.url }}"
  class="zx-prod-images"
>
  <img
    *ngIf="model.loadingImageUrl"
    class="zx-prod-loading"
    src="{{ model.loadingImageUrl }}"
    alt="{{ model.title }}"
    loading="lazy"
  />
  <span *ngIf="model.imagesUrls && displayScreenshots" class="zx-prod-screenshots">
    <ng-container *ngFor="let imageUrl of model.imagesUrls">
    <img
      *ngIf="imageUrl === activeScreenshotUrl"
      class="zx-prod-screenshot"
      src="{{ imageUrl }}"
      alt="{{ model.title }}"
      loading="lazy"
    />
      </ng-container>
    <span class="zx-prod-screenshots-selector" *ngIf="model.imagesUrls.length > 1">
      <span
        *ngFor="let imageUrl of model.imagesUrls"
        class="zx-prod-screenshots-button"
        (pointerenter)="setActiveScreenshotUrl(imageUrl)"
      >*</span>
    </span>
  </span>
  <span
    *ngIf="model.hardware.length > 0"
    class="zx-prod-hardware"
  >
    <span
      *ngFor="let item of model.hardware"
      class="zx-prod-hardware-item"
    >
      {{item}}
    </span>
  </span>
</a>
<a class="zxprod-title" href="{{ model.url }}">{{ model.title }}</a>
<div class="zx-prod-year">{{model.year}}</div>
<ng-container *ngIf="model.groupsTitles.length">
  <div *ngFor="let group of model.groupsTitles">{{group}} </div>
</ng-container>
<ng-container *ngIf="!model.groupsTitles.length && model.publishersTitles.length">
  <div *ngFor="let publisher of model.publishersTitles">{{publisher}} </div>
</ng-container>
<div class="zx-prod-additional" *ngIf="displayAdditions">
  <ng-container *ngIf="model.publishersTitles.length">
    <div *ngFor="let publisher of model.publishersTitles">{{publisher}} </div>
  </ng-container>
  <ng-container *ngIf="model.categoriesTitles.length">
    <div *ngFor="let category of model.categoriesTitles">{{category}} </div>
  </ng-container>
  <ng-container *ngIf="model.languageTitles.length">
    <div *ngFor="let language of model.languageTitles">{{language}} </div>
  </ng-container>
  <ng-container *ngIf="model.partyTitle">
    <span *ngIf="model.partyPlace > 0">{{model.partyPlace}}{{"prod.at" | translate}}</span>
    <span>{{model.partyTitle}}</span>
  </ng-container>
  <div class="zx-prod-buttons">
    <button mat-raised-button>{{"prod.play" | translate}}</button>
    <button mat-raised-button>{{"prod.video" | translate}}</button>
    <a href="" mat-raised-button>{{"prod.open" | translate}}</a>
  </div>
</div>
