@import "shared/vars";

$amount: 5;
$margin: $amount * $padding-md/($amount - 1);

$width: 100%/$amount;

:host {
  display: block;
  width: calc(#{$width} - #{$margin});
}

.zx-prod-images {
  display: block;
  position: relative;
  width: 256px;
  height: 192px;
}

.zx-prod-loading {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.zx-prod-screenshots {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.zx-prod-screenshot {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.zx-prod-screenshots-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.zx-prod-screenshots-button {
  width: 1rem;
  height: 1rem;
  background: #fff;
  display: block;
}

.zx-prod-hardware {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.zx-prod-hardware-item {
  display: block;
}

.zx-prod-title {
  display: block;
}

.zx-prod-additional {

}
