
/********************************************************
/*  ZXPROD SHORT
/********************************************************/
.zxprod_short {
}

.zxprod_short_images {
  position: relative;
  display: block;
  margin: 0 auto 1em;
  flex-basis: 100%;
}

.zxprod_short_image {
  display: block;
  max-width: 100%;
}

.zxprod_short_image_second {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  max-width: 100%;

  .zxprod_short:hover & {
    opacity: 1;
  }

  transition: opacity 0.5s;
}

.zxprod_short_title {
  display: block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
}

.zxprod_short_title_controls {
  float: right;
  margin: 0 0 0.5em 0.5em;
  display: flex;
  align-items: center;

  .vote_controls {
    margin-right: 0.5em;
  }
}

.zxprod_short_party {
  vertical-align: middle;
  text-align: left;
}

.zxprod_short_party img {
  vertical-align: middle;
  display: inline-block;
}
//
//@media (max-width: @screen_breakpoint_sm_max) {
//  .zxprod_short_images {
//    margin: 0 0 1em;
//  }
//
//  .zxprod_short_image {
//    width: 100%;
//  }
//
//  .zxprod_short_image_second {
//    width: 100%;
//  }
//}
