@use "shared/vars";

.zx-prods-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 256px), 256px));
  gap: var(--gap-xl);
  justify-content: space-between;
}

.zx-prods-year {
  margin-bottom: var(--margin-xxl);
}
