<zx-table [title]="title" titleLevel="h2">
  <zx-skeleton *ngIf="loading" variant="tune-table" [count]="settings.limit"></zx-skeleton>
  <div *ngIf="error" class="module-error" zxCaption>{{ 'firstpage.error' | translate }}</div>
  <div *ngIf="!loading && !error && items.length === 0" class="module-empty" zxCaption>{{ 'firstpage.empty' | translate }}</div>
  <ng-container *ngIf="{ id: playingTuneId$ | async } as playing">
    <table *ngIf="!loading && !error && items.length > 0" class="tunes-table">
      <tbody>
        <zx-tune-row
          *ngFor="let tune of items; index as i"
          [tune]="tune"
          [index]="i"
          [isPlaying]="tune.id === playing.id"
          (playRequested)="playTune(i)"
          (pauseRequested)="pauseTune()"
        ></zx-tune-row>
      </tbody>
    </table>
  </ng-container>
</zx-table>
