<ng-container *ngIf="core$ | async as core; else headerLoading">
  <zx-stack spacing="xl">
    <zx-breadcrumbs
      [parentItem]="core.parentTitle && core.parentUrl ? { title: core.parentTitle, url: core.parentUrl } : null"
      [currentTitle]="core.title">
    </zx-breadcrumbs>
    <zx-author-header [core]="core"></zx-author-header>
    <zx-author-mini-dashboard
      *ngIf="core.tabs.hasPictures || core.tabs.hasTunes || core.tabs.hasProds"
      [elementId]="core.id"
      [tabs]="core.tabs">
    </zx-author-mini-dashboard>
    <zx-author-works
      *ngIf="core.tabs.hasPictures || core.tabs.hasTunes || core.tabs.hasProds"
      [elementId]="core.id"
      [tabs]="core.tabs">
    </zx-author-works>
    <zx-author-collaborators [elementId]="core.id"></zx-author-collaborators>
    <zx-inline gap="xl" align="start">
      <zx-author-ratings class="author-details__activity-column" [elementId]="core.id"></zx-author-ratings>
      <zx-author-comments class="author-details__activity-column" [elementId]="core.id"></zx-author-comments>
    </zx-inline>
  </zx-stack>
</ng-container>

<ng-template #headerLoading>
  <zx-panel>
    <zx-inline gap="lg" align="start">
      <zx-skeleton-bone class="author-details-skeleton__avatar"></zx-skeleton-bone>
      <zx-stack spacing="sm" class="author-details-skeleton__header-body">
        <zx-skeleton-bone class="author-details-skeleton__title"></zx-skeleton-bone>
        <zx-skeleton-bone class="author-details-skeleton__meta"></zx-skeleton-bone>
        <zx-skeleton-bone class="author-details-skeleton__rating"></zx-skeleton-bone>
        <zx-skeleton-bone class="author-details-skeleton__line"></zx-skeleton-bone>
        <zx-skeleton-bone class="author-details-skeleton__line author-details-skeleton__line--short"></zx-skeleton-bone>
      </zx-stack>
    </zx-inline>
  </zx-panel>
</ng-template>
