<span *ngIf="label" zxCaption class="zx-filter-picker__label">{{ label }}</span>
<div
  class="zx-filter-picker__control"
  [class.zx-filter-picker__control--active]="hasSelection"
  [class.zx-filter-picker__control--open]="popoverOpen"
>
  <button
    type="button"
    class="zx-filter-picker__trigger"
    [attr.aria-expanded]="popoverOpen"
    [attr.aria-label]="label || summaryText"
    (click)="togglePopover($event)"
  >
    <span
      zxBody
      class="zx-filter-picker__summary"
      [class.zx-filter-picker__summary--placeholder]="summaryIsPlaceholder"
    >
      {{ summaryText }}
    </span>
    <span class="zx-filter-picker__chevron" aria-hidden="true"></span>
  </button>
  <button
    *ngIf="hasSelection"
    type="button"
    class="zx-filter-picker__clear"
    [attr.aria-label]="'player.filters.clear' | translate"
    (click)="clearSelection($event)"
  >
    <span aria-hidden="true">x</span>
  </button>
</div>

<div
  #popoverEl
  class="zx-filter-picker__popover"
  [class.zx-filter-picker__popover--drop-up]="dropUp"
  *ngIf="popoverOpen"
  (click)="$event.stopPropagation()"
>
  <div class="zx-filter-picker__menu-content">
    <zx-input
      *ngIf="searchEnabled"
      [placeholder]="'player.filters.search' | translate"
      [(ngModel)]="searchTerm"
    ></zx-input>

    <div class="zx-filter-picker__list" role="listbox">
      <zx-checkbox-field
        *ngFor="let item of filteredItems; trackBy: trackById"
        class="zx-filter-picker__item"
        [label]="item.label"
        [fullWidth]="true"
        [ngModel]="isSelected(item.id)"
        (ngModelChange)="toggleSelection(item.id, $event)"
      ></zx-checkbox-field>
    </div>

    <zx-button
      size="sm"
      color="outlined"
      [disabled]="!hasSelection"
      class="zx-filter-picker__clear-all"
      (click)="clearSelection($event)"
    >
      {{ 'player.filters.clearAll' | translate }}
    </zx-button>
  </div>
</div>
