@use 'shared/vars' as vars;

:host {
  display: block;
}

.letters {
  display: flex;
  flex-wrap: wrap;
}

.letter {
  padding: 0 var(--padding-lg);
  min-width: var(--font-md);
}

.transparent {
  color: var(--text-white-color);
}
