@use 'shared/vars' as vars;

:host {
  display: block;
}

.letters {
  display: flex;
  flex-wrap: wrap;
}

.letter {
  padding: 0 vars.$padding-md;
  min-width: 1rem;
}

.transparent {
  color: #fff;
}
