<div class="letters" *ngIf="lettersSelector[0]">
    <zx-button
            size="md"
            [square]="true"
            [color]="selectedLetter === '' ? 'primary' : 'secondary'"
            (click)="selectLetter('')"
    >{{ "prods-list.filters.letters.all" | translate }}</zx-button>
    <zx-button
            *ngFor="let letter of lettersSelector[0].values"
            size="md"
            [square]="true"
            [color]="letter.selected ? 'primary' : 'secondary'"
            (click)="selectLetter(letter.value)"
    >{{ letter.title }}</zx-button>
</div>
