@use 'shared/vars' as vars;

:host {
  display: block;
}

.letters {
  display: flex;
  flex-wrap: wrap;
}

.letter {
  padding: 0 var(--padding-lg);
  min-width: var(--letter-selector-min-width);
}

.transparent {
  color: var(--text-color);
}
