<a [href]="person.url" class="person-card">
  <div class="person-card__avatar">
    <svg-icon name="person" aria-hidden="true" class="person-card__avatar-icon"></svg-icon>
  </div>
  <div class="person-card__body">
    <span appText="bodySm" tone="strong" [truncate]="true">{{ person.title }}</span>
    <div class="person-card__stats">
      <span *ngIf="person.jointPictures > 0" class="person-card__stat person-card__stat--gfx">
        <svg-icon name="image" aria-hidden="true" class="person-card__stat-icon"></svg-icon>
        <span appText="caption" tone="inherit">{{ person.jointPictures }}</span>
      </span>
      <span *ngIf="person.jointTunes > 0" class="person-card__stat person-card__stat--music">
        <svg-icon name="music-note" aria-hidden="true" class="person-card__stat-icon"></svg-icon>
        <span appText="caption" tone="inherit">{{ person.jointTunes }}</span>
      </span>
      <span *ngIf="person.jointProds > 0" class="person-card__stat person-card__stat--soft">
        <svg-icon name="gamepad" aria-hidden="true" class="person-card__stat-icon"></svg-icon>
        <span appText="caption" tone="inherit">{{ person.jointProds }}</span>
      </span>
    </div>
  </div>
  <div class="person-card__total">
    <span appHeading="title" class="person-card__total-value">{{ person.jointTotal }}</span>
    <span appText="caption" tone="muted">{{ 'author-details.collaborators.joint' | translate }}</span>
  </div>
</a>
