@import "shared/vars";

.dialog-title {
  color: currentColor;
}

.value-groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.value-group {
  margin-right: $padding-lg;
  margin-bottom: $padding-lg;

  &:last-of-type {
    margin-right: 0;
  }
}

.value-group-title {
  color: $gray5;
  font-weight: 500;
  margin-bottom: $padding-md;
}

.value-columns {
  column-gap: $padding-lg;
  column-fill: balance;
  //column
}

.value {
  padding-bottom: $padding-sm;
  break-inside: avoid;
}
