@import "../../../../shared/dialogs";
@import "../../../../shared/vars";

.groups {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.group {
}

.value {
  padding-bottom: $padding-sm;
  break-inside: avoid;
}
