<h1 mat-dialog-title [innerHtml]="'prods-list.filters.year.title' | translate"></h1>
<div mat-dialog-content class="groups">
  <div class="group" *ngFor="let group of selectorData">
    <div class="group-title" *ngIf="group.title">{{group.title}}</div>
    <div class="value" *ngFor="let value of group.values">
      <mat-checkbox class="example-margin" [(ngModel)]="selectedValues[value.value]">{{ value.title }}</mat-checkbox>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class=""
          mat-dialog-close>{{'prods-list.filters.reset' | translate}}</button>
  <button mat-raised-button class=""
          [mat-dialog-close]="selectedValues">{{'prods-list.filters.apply' | translate}}</button>
</div>
