<div class="prod-series-section">
  <ng-container *ngIf="prods$ | async as prods; else loading">
    <ng-container *ngIf="prods.length > 0">
      <div class="prod-series-section__header">
        <h2 zxHeading2 class="prod-series-section__title">{{ 'prod-details.series' | translate }}</h2>
        <zx-button
          *ngIf="seriesUrl$ | async as seriesUrl"
          size="xs"
          color="outlined"
          [href]="seriesUrl"
        >{{ 'prod-details.openSeries' | translate }}</zx-button>
      </div>
      <zx-prods-list-view
        [items$]="prods$"
        property="seriesProds"
        [skeletonCount]="4"
      ></zx-prods-list-view>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <div class="prod-series-section__header">
    <h2 zxHeading2 class="prod-series-section__title">{{ 'prod-details.series' | translate }}</h2>
  </div>
  <zx-prods-list-skeleton [count]="4"></zx-prods-list-skeleton>
</ng-template>
