@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons';
  display: inline-block;
  text-align: center;

  &:after {
    content: '\e909';
  }
}

.icon_logo {


}

.icon_addnew {
  &:after {
    content: "\e916";
  }
}

.icon_edit {
  &:after {
    content: "\e90b";
  }
}

.icon_delete {
  &:after {
    content: "\e90f";
  }
}

.icon_system {
  &:after {
    content: "\e920";
  }
}

.icon_folder {
  &:after {
    content: '\e909';
  }
}

.icon_banners,
.icon_banner {

}

.icon_seo {

}

.icon_translations {

}

.icon_translation {

}

.icon_adminTranslations {

}

.icon_adminTranslation {

}

.icon_folder {

}

.icon_article {

}

.icon_productCatalogue {
}

.icon_product_icon {
  &:after {
    content: '\e925';
  }
}

.icon_mail,
.icon_feedback {

}

.icon_productFilters,
.icon_productFilter {

}

.icon_productParameters,
.icon_productParameter {
  &:after {
    content: '\e919';
  }
}

.icon_portfolio,
.icon_gallery {

}

.icon_categories {
  &:after {
    content: '\e912';
  }
}

.icon_category {

}

.icon_companies,
.icon_company {

}

.icon_language {
  &:after {
    content: '\e907';
  }
}

.icon_adminLanguages {

}

.icon_privilege {

}

.icon_service {

}

.icon_privileges {
  &:after {
    content: '\e927';
  }
}

.icon_show {

}

.icon_positions {

}

.icon_catalogue,
.icon_product {
  &:after {
    content: '\e926';
  }
}

.icon_catalogues,
.icon_productCatalogue {
  &:after {
    content: '\e926';
  }
}

.icon_users,
.icon_userGroups,
.icon_userGroup {
  &:after {
    content: '\e91b';
  }
}

.icon_news,
.icon_newsList,
.icon_latestNews {
  &:after {

  }
}

.icon_newsMails {

}

.icon_newsMailsAddresses {

}

.icon_newsMailsText {

}

.icon_newsMailsTexts {

}

.icon_newsMailAddress {

}

.icon_newsMailForm {

}

.icon_user {
  &:after {
    content: '\e91c';
  }
}

.icon_root {
  &:after {
    content: '\e90c';
  }
}

.icon_search {
  &:after {
    content: '\e921';
  }
}

.icon_edit {

}

.icon_list {
  &:after {
    content: '\e902';
  }
}

.icon_positions {
  &:after {
    content: '\e928';
  }
}

.icon_copy {
  &:after {
    content: '\e911';
  }
}

.icon_paste {

}

.icon_save {

}

.icon_move {
  &:after {
    content: '\e92b';
  }
}

.icon_clone {
  &:after {
    content: '\e911';
  }
}

.icon_export {
  &:after {
    content: '\00a9';
  }
}

.icon_marketing {
  &:after {
    content: '\e901';
  }
}

.icon_events,
.icon_event,
.icon_eventsList,
.icon_selectedEvents,
.icon_calendar {
  &:after {
    content: '\e90a';
  }
}

.icon_shoppingBasketSettings {
  &:after {
    content: '\e91f';
  }
}

.icon_shoppingBasket {
  &:after {
    content: '\e91e';
  }
}

.icon_userSystem {
  &:after {
    content: '\e91b';
  }
}

.icon_mall {

}

.icon_headerContent {
  &:after {
    content: '\e908';
  }
}

.icon_leftColumn {
  &:after {
    content: '\e905';
  }
}

.icon_bottomMenu {
  &:after {
    content: '\e915';
  }
}

.icon_rightColumn {
  &:after {
    content: '\e922';
  }
}

.icon_login {
  &:after {
    content: '\e904';
  }
}

.icon_logout {
  &:after {
    content: '\e903';
  }
}

.icon_brands,
.icon_brandsList,
.icon_brand {
  &:after {
    content: '\e914';
  }
}

.icon_sort {
  display: none;

  &:after {
    content: '\e91d';
  }
}

.icon_mobileMenu {
  &:after {
    content: '\e900';
  }
}

.icon_campaignsList,
.icon_selectedCampaigns,
.icon_discount,
.icon_discounts,
.icon_discountsList {
  &:after {
    content: '\e90d';
  }
}


.icon_layout {
  &:after {
    content: '\e906';
  }
}

.icon_username {
  &:after {
    content: '\e91c';
  }
}

.icon_currencies {
  &:after {
    content: '\e910';
  }
}

.icon_payments,
.icon_payment {
  &:after {
    content: '\e929';
  }
}

.icon_deliveryTypes,
.icon_deliveryType,
.icon_deliveryCountries {
  &:after {
    content: '\e90e';
  }
}

.icon_paymentMethods {
  &:after {
    content: '\e92a';
  }
}

.icon_registrationFields {
  &:after {
    content: '\e923';
  }
}

.icon_settings {
  &:after {
    content: '\e920';
  }
}

.icon_password {
  &:after {
    content: '\e918';
  }
}

.icon_website {
  &:after {
    content: '\e91a';
  }
}

.icon_page_link {
  &:after {
    content: '\e917';
  }
}