@import "shared/vars";

:host {
  overflow-y: auto;
  max-height: 80vh;
  display: block;
  background-color: $gray8;
  padding: $padding-md;
}

.releases {
  display: grid;
  grid-gap: $padding-md;
  grid-template-columns: 1fr;
}

.app-parsed-release {
  display: block;
}
