@use "shared/vars" as vars;

:host {
  overflow-y: auto;
  max-height: 80vh;
  display: block;
  background-color: vars.$gray8;
  padding: vars.$padding-md;
}

.releases {
  display: grid;
  grid-gap: vars.$padding-md;
  grid-template-columns: 1fr;
}

.app-parsed-release {
  display: block;
}
