<zx-table size="sm" [title]="title">
  <table>
    <thead>
      <tr>
        <th class="col-rank"></th>
        <th class="col-user">{{ 'stats.top.user' | translate }}</th>
        <th class="col-count">{{ unitKey | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td class="col-rank">
          <zx-medal *ngIf="medalVariant(i) as variant; else plainRank" [variant]="variant">{{ i + 1 }}</zx-medal>
          <ng-template #plainRank><span appText="caption" tone="muted" class="zx-stats-top-table__rank">{{ i + 1 }}</span></ng-template>
        </td>
        <td class="col-user">
          <zx-user [user]="user"></zx-user>
        </td>
        <td class="col-count">{{ user.count | statsNumber }}</td>
      </tr>
    </tbody>
  </table>
</zx-table>
