:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-12);
}

.external-link {
  color: var(--zx-prod-external-links-color);
  text-decoration: none;
  font-size: var(--zx-prod-external-links-font-size);

  &:hover {
    text-decoration: underline;
  }
}
