@use 'shared/breakpoints' as bp;

:host {
  display: block;
}

.pp-header__logo-img {
  display: block;
  width: var(--zx-party-header-logo-width);
  height: var(--zx-party-header-logo-height);
  border-radius: var(--zx-party-header-logo-radius);
  background: var(--zx-party-header-logo-bg);
  object-fit: contain;

  @include bp.media-breakpoint-down(md) {
    width: 100%;
  }
}
