@use 'shared/breakpoints' as bp;

:host {
  display: block;
}

.filter-search {
  @include bp.media-breakpoint-up(md) {
    flex: 0 1 var(--zx-filter-bar-search-width);
    min-width: 0;
  }
}

.filter-picker {
  @include bp.media-breakpoint-up(md) {
    flex: 0 1 var(--zx-filter-bar-item-width);
    min-width: 0;
  }
}

zx-pagination {
  margin-top: var(--zx-author-browser-pagination-margin);
}
