<zx-filter-bar *ngIf="mode === 'full'">
  <zx-input
    class="filter-search"
    [placeholder]="'author-browser.search.placeholder' | translate"
    [ngModel]="search"
    (ngModelChange)="onSearchInput($event)"
  ></zx-input>
  <zx-filter-picker
    class="filter-picker"
    [label]="'author-browser.filters.country' | translate"
    [items]="countryOptions"
    [selectedIds]="selectedCountryIds"
    [multi]="false"
    [searchEnabled]="true"
    [disabled]="countryOptions.length === 0"
    (selectedIdsChange)="onCountryChange($event)"
  ></zx-filter-picker>
  <zx-filter-picker
    class="filter-picker"
    [label]="'author-browser.filters.city' | translate"
    [items]="cityOptions"
    [selectedIds]="selectedCityIds"
    [multi]="false"
    [searchEnabled]="true"
    [disabled]="cityOptions.length === 0"
    (selectedIdsChange)="onCityChange($event)"
  ></zx-filter-picker>
</zx-filter-bar>

<zx-skeleton *ngIf="authors === null && !error" variant="row" [count]="8"></zx-skeleton>

<div *ngIf="error" zxCaption>{{ 'author-browser.error' | translate }}</div>
<div *ngIf="!loading && !error && authors !== null && authors.length === 0"
     zxCaption>{{ 'author-browser.empty' | translate }}
</div>

<zx-authors-table
  *ngIf="authors !== null && authors.length > 0"
  [authors]="authors"
  [rowStartIndex]="rowStartIndex"
  [loading]="loading"
></zx-authors-table>

<zx-pagination
  *ngIf="mode === 'full' && pagesAmount > 1"
  [currentPage]="currentPage"
  [pagesAmount]="pagesAmount"
  [urlBase]="urlBase"
  [loading]="loading"
  (pageChange)="onPageChange($event)"
></zx-pagination>
