
.info_table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-style: none;
	max-width: 100%;
}

@media (max-width: @screen_breakpoint_sm_max) {

	.info_table {
		width: 100%;
	}
}

.info_table .info_table_label {
	padding: var(--padding-xs) var(--padding-lg) var(--padding-sm) var(--padding-lg);
	border-collapse: collapse;
	font-weight: bold;
	text-align: right;
}

.info_table .info_table_value {
	padding: var(--padding-xs) var(--padding-lg) var(--padding-sm) 0;
	border-collapse: collapse;

}