.mentions_block {
  margin: var(--mentions-margin);
}

.mentions_articles {
  display: flex;
  flex-direction: column;
  gap: var(--mentions-articles-gap);
}

.mentions_article_description {
  margin-top: var(--mentions-article-description-margin-top);
  font-size: var(--mentions-article-description-font-size);
  max-width: var(--mentions-article-description-max-width);
  color: var(--mentions-article-description-color);
}
