.zxitem_images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--zxitem-images-gap);
}

.zxitem_image_block {
  position: relative;
  max-width: var(--zxitem-image-max-width);

  &:hover .zxitem_image_controls {
    opacity: 1;
  }
}

.zxitem_image_controls {
  display: flex;
  gap: var(--zxitem-image-controls-gap);
  position: absolute;
  top: var(--zxitem-image-controls-top);
  right: var(--zxitem-image-controls-right);
  opacity: 0;
  transition: opacity var(--controls-transition-time) ease-in-out;
}

.zxitem_image {
  max-width: 100%;
}

.zxitem_image_link {
  display: block;
}

.zxitem_image_button {
  display: block;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: var(--zxitem-image-button-size);
  height: var(--zxitem-image-button-size);
  background-color: var(--zxitem-image-button-bg);
  border: var(--zxitem-image-button-border);
  border-radius: var(--zxitem-image-button-border-radius);
  transition: background-color var(--controls-transition-time) ease-in;

  &:hover {
    background-color: var(--zxitem-image-button-hover-bg);
  }
}

.zxitem_image_left {
  background-image: url(getImageUrl('left.svg'));
}

.zxitem_image_right {
  background-image: url(getImageUrl('left.svg'));
  transform: rotate(180deg);
}

.zxitem_image_download {
  background-image: url(getImageUrl('download.svg'));
}

.zxitem_file_block {
  display: block;
  margin-bottom: var(--zxitem-file-block-margin-bottom);
}