.user-name {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: var(--user-name-gap);
  align-items: center;

  &.supporter .user-icon {
    .svg-bg(star, #ffffff, #ffffff);
  }

  &.vip .user-icon {
    .svg-bg(star, #ffc933, #ffc933);
    width: var(--user-icon-size-sm);
    height: var(--user-icon-size-sm);
  }

  &.volunteer .user-icon {
    .svg-bg(volunteer, #ffffff, #ffffff);
    width: var(--user-icon-size-sm);
    height: var(--user-icon-size-sm);
  }
}


.user-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--user-icon-size);
  height: var(--user-icon-size);
}

.user-badges {
  display: flex;
  gap: var(--user-badges-gap);
  justify-content: flex-end;
}

.user-badge {
  display: block;
  width: var(--user-badge-width);
  text-align: center;

  &.supporter .user-badge-image {
    .svg-bg(star, var(--user-icon-color-supporter), var(--user-icon-color-supporter));
  }

  &.vip .user-badge-image {
    .svg-bg(star, var(--user-icon-color-vip), var(--user-icon-color-vip));
  }

  &.volunteer .user-badge-image {
    .svg-bg(volunteer, var(--user-icon-color-volunteer), var(--user-icon-color-volunteer));
  }
}

.user-badge-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: var(--user-badge-image-size);
  height: var(--user-badge-image-size);
  margin: 0 auto var(--user-badge-image-margin-bottom);
}

.user-badge-title {
  display: block;
  text-transform: capitalize;
}