/********************************************************
/*  MENU BLOCK
/********************************************************/
.menu_block {
  position: relative;
  margin: var(--mainmenu-margin);
}

.submenu_item {
  display: inline-block;
  outline: none;
  padding: var(--mainmenu-item-padding);
  margin: var(--mainmenu-item-margin);
  font-size: var(--mainmenu-item-font-size);
  line-height: inherit;
  min-width: 0;
  text-align: left;
}

.submenu_item:hover,
.submenu_item.submenu_item_selected {
  text-decoration: none;
  background-color: var(--mainmenu-item-hover-bg);
}

.submenu_item_link {
  color: var(--link-color);
}

.submenuitem_popup_block {
  background: var(--mainmenu-popup-bg);
  font-size: var(--mainmenu-popup-font-size);
}

.submenuitem_popup_content {
	columns: 2;
}