/********************************************************
/*  COMPONENT
/********************************************************/
.button {
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--button-border-radius);
  min-height: var(--button-height);
  line-height: 28px;
  padding: var(--button-padding);
  color: var(--button-text);
  text-decoration: none;
  transition: background-color var(--button-transition-time) ease-in-out, border var(--button-transition-time) ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--button-hover-bg);
  }
}

.delete_button {
  border: var(--button-danger-border);
  background: var(--button-danger-bg);
  color: var(--button-danger-text);
}