/********************************************************
/*  FORM TABLE
/********************************************************/
.form_table {
  margin-left: 0;
}

.form_table td {
  padding: var(--padding-xs);
}

.form_table h3 {
  margin-top: var(--margin-xl);
}

.form_table .form_label {
  width: auto;
  font-size: var(--font-sm);
  color: var(--form-label-color);
  padding-top: var(--padding-sm);
  @media (max-width: @screen_breakpoint_md_max) {
    padding-top: var(--padding-xl);
  }
}

.form_star {
  font-size: var(--font-sm);
  color: var(--form-star-color);
}

.form_field {
  width: auto;
  padding-bottom: var(--padding-lg);
}

.form_table tr.form_error td {
  color: var(--error-color);
}

.form_table .form_controls {
  text-align: right;
  padding-top: var(--padding-sm);
}

.form_deletefile {
  .button;
  .delete_button;
  text-decoration: none;
}