/********************************************************
/*  COMPONENT
/********************************************************/
.ajaxselect_container {
  display: inline-block;

  .ajaxselect_item:last-of-type {
    margin-bottom: var(--space-12);
  }

  .icon_search {
    color: var(--black);
    position: absolute;
    top: 0;
    right: 13px;
  }
}

.ajaxselect_searchinput {
  .input_component();
  width: 100%;
}

.ajaxselect_item {
  border-bottom: 1px solid var(--gray2);
  font-size: var(--font-xs);
  font-weight: bold;
  line-height: var(--space-24);
  margin: var(--ajaxselect-item-margin);
  white-space: nowrap;
  overflow: hidden;
}

.ajaxselect_item:after {
  content: "";
  border-bottom: 1px solid var(--white);
  display: block;
}

.ajaxselect_item_description {
}

.ajaxselect_item_remover,
.ajaxitemsearch_result_remover {
  cursor: pointer;
  float: right;
  margin-top: 3px;
  height: 19px;
  width: 19px;
  .icon;
  .icon_delete;
}

.ajaxsearch_results_item .icon {
  margin-top: var(--ajaxselect-results-icon-margin-top);
  flex-shrink: 0;
  margin-right: var(--ajaxselect-results-icon-margin-right);
  width: 16px;
  height: 16px;
  display: inline-block;
}