/********************************************************
/*  HEADER BLOCK
/********************************************************/
.header_block {
  position: sticky;
  background-color: var(--header-bg);
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--header-shadow);
}

@media (max-width: @screen_breakpoint_sm_max) {
  .header_block {
    position: fixed;
  }
}

.header_inner {
  padding: var(--header-padding);
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.header_column {
  display: flex;
  margin: var(--header-column-margin);

  @media (max-width: 991.98px) {
    margin: 0;
  }
}

.logo_block {
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;

  img {
    height: 35px;
  }
}

.settings_block {
  font-size: var(--settings-font-size);
}

.menu_block {
  @media (max-width: 991.98px) {
    display: none;
  }
}
