/********************************************************
/*  FORM TABLE
/********************************************************/
.form_table {
  margin-left: 0;
}

.form_table td {
  padding: var(--form-table-padding);
}

.form_table h3 {
  margin-top: var(--form-table-header-margin-top);
}

.form_table .form_label {
  width: auto;
  font-size: var(--form-label-font-size);
  color: var(--form-label-color);
  padding-top: var(--form-label-padding-top);
  @media (max-width: @screen_breakpoint_md_max) {
    padding-top: var(--form-label-padding-top-mobile);
  }
}

.form_star {
  font-size: var(--form-star-font-size);
  color: var(--form-star-color);
}

.form_field {
  width: auto;
  padding-bottom: var(--form-field-padding-bottom);
}

.form_table tr.form_error td {
  color: var(--error-color);
}

.form_table .form_controls {
  text-align: right;
  padding-top: var(--form-controls-padding-top);
}

.form_deletefile {
  .button;
  .delete_button;
  text-decoration: none;
}