/********************************************************
/*  HEADER BLOCK
/********************************************************/
.header_block {
  padding: var(--header-padding);
  position: relative;
  background-color: @secondary_color;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.header_column {
  margin: var(--header-column-margin);
}

.logo_block {
  position: relative;
  margin-top: var(--logo-margin-top);
  color: inherit;
  text-decoration: none;
  display: block;
}

.settings_block {
  font-size: var(--settings-font-size);

  .button {
    padding: var(--settings-button-padding);
    line-height: 1.1em;
    min-height: 20px;
  }
}