/********************************************************
/*  COMPONENT
/********************************************************/
.button {
  background-color: var(--zx-button-secondary-bg);
  border: none;
  border-radius: var(--zx-button-border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: var(--zx-button-md-height);
  line-height: 28px;
  padding: var(--zx-button-md-padding);
  color: var(--zx-button-secondary-text);
  text-decoration: none;
  text-align: center;
  transition: background-color var(--zx-button-transition-time) ease-in-out, border var(--zx-button-transition-time) ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--zx-button-secondary-hover-bg);
  }
}

.delete_button {
  border: var(--zx-button-danger-border);
  background: var(--zx-button-danger-bg);
  color: var(--zx-button-danger-text);
}