.authorship_form_component {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--authorship-form-margin-bottom);
}

.authorship_form_title {
    flex-grow: 1;
    max-width: var(--authorship-form-title-max-width);
    margin-right: var(--authorship-form-title-margin-right);
}

.select_multiple.authorship_form_roles {
    width: var(--authorship-form-roles-width);
    height: var(--authorship-form-roles-height);
}

.authorship_form_remove {
    font-size: var(--font-sm);
    margin-right: var(--authorship-form-remove-margin-right);
}

.input_component.authorship_form_startdate {
    margin-right: var(--authorship-form-input-margin-right);
    max-width: var(--authorship-form-input-max-width);
}

.input_component.authorship_form_enddate {
    margin-right: var(--authorship-form-input-margin-right);
    max-width: var(--authorship-form-input-max-width);
}