/********************************************************
/*  LANGUAGE BLOCK
/********************************************************/
.languages_block {
	position: relative;
}

.language_item {
	font-size: 0.9em;
	position: relative;
	display: inline-block;
	outline: none;
	padding: 0.7em;
	margin: 0.1em;
}

.language_item:hover {
	background-color: @secondary_color;
}

.language-link {
	white-space: nowrap;
	display: inline-flex;
	gap: 0.5rem;
}

.language-link-icon {

}