/********************************************************
/*  TIP POPUP
/********************************************************/
.tip_popup {
	z-index: 120;
	position: absolute;
	padding: var(--tip-popup-padding);
	color: var(--tip-popup-color);
	background-color: var(--tip-popup-bg);
	font-weight: bold;
	border-radius: var(--tip-popup-border-radius);
	box-shadow: var(--tip-popup-shadow);
	text-shadow: var(--tip-popup-text-shadow);
	border-bottom: var(--tip-popup-border-bottom);
}

.tip_popup_content {
	background: transparent;
	box-shadow: none;
	border: 0;
}
