.zxmap {
    height: var(--zxmap-height);
    margin-bottom: var(--zxmap-margin-bottom);

    .leaflet-div-icon {
        background: none;
        border: none;
    }
}


.map_icon_cluster {
    background-color: var(--zxmap-cluster-bg);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    position: relative;
    left: -1rem;
    top: -1rem;
    padding: 0.25rem;
    box-sizing: border-box;
}

.map_icon_cluster_inner {
    background-color: var(--zxmap-cluster-inner-bg);
    width: 2rem;
    height: 2rem;
    font-size: var(--zxmap-cluster-inner-font-size);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map_icon {
    .svg-bg(map_marker, var(--zxmap-marker-color), var(--zxmap-marker-icon-color));
    background-size: contain;
    background-position: center;
}

.map_icon_amount {
    text-align: center;
    color: var(--zxmap-marker-text-color);
    top: 6px;
    position: relative;
    font-size: var(--font-md);
}

.zxmap_locations {
    .columned();

}

.zxmap_location {
    display: block;
    padding-bottom: var(--zxmap-location-padding-bottom);
    page-break-inside: avoid;
    break-inside: avoid;
}