/********************************************************
/*  DROPDOWN BLOCK
/********************************************************/
.dropdown_block {
  background-color: var(--input-bg);
  border: var(--border-width-thin) solid var(--input-border-color);
  border-radius: var(--form-border-radius);
  width: var(--input-width-md);
  height: var(--controls-height);
  line-height: var(--controls-height);
  color: var(--input-text);
  padding-right: var(--dropdown-padding-right);
  box-sizing: border-box;

  &:focus {
    border-color: var(--input-border-focus-color);
    outline: none;
  }
}

.dropdown_block,
.dropdown_block:hover {
  text-decoration: none;
}

.dropdown_title {
  line-height: var(--controls-height);
}

.dropdown_list_content {
  color: var(--input-text);
}

.dropdown_option {
  color: var(--input-text);
  text-decoration: none;
  padding: var(--dropdown-option-padding);
}

.dropdown_option,
.dropdown_option:hover {
  text-decoration: none;
}

.dropdown_option:hover {
  background-color: var(--dropdown-option-hover-bg);
}