/********************************************************
/*  LETTERS SELECTOR
/********************************************************/
.letters_selector {
	margin: var(--margin-lg) 0 var(--margin-xl);
}

.letters_selector_item {
	display: inline-block;
	width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	vertical-align: middle;
}

.letters_selector_item:hover {
	background-color: var(--secondary-bg);
}