/********************************************************
/*  DEBUG BLOCK
/********************************************************/

.debugBlock {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	padding: var(--debug-padding);
	font-family: Lucida Sans, Courier New, monospace;
	font-size: var(--debug-font-size);
	background-color: var(--debug-bg);
	border: 1px solid var(--debug-border-color);
	color: var(--debug-color);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}