/********************************************************
/*  FORM HELPER COMPONENT
/********************************************************/
.form_helper {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 var(--margin-xs);
	width: auto;
	height: 100%;
}

.form_helper_mark {
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-color: var(--gray4);
	border: 1px solid var(--black);
	border-radius: 50%;
	line-height: 18px;
}

.form_helper_mark:after {
	content: "?";
	color: var(--white);
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: var(--font-xs);
	font-weight: bold;
	display: block;
}

.form_helper_tip {
	display: block;
	visibility: hidden;
	position: absolute;
	left: 28px;
	top: 0;
	margin: 0 var(--margin-sm);
	padding: var(--padding-sm) var(--padding-lg);
	border: 1px solid var(--white);
	background-color: var(--background-light);
	box-shadow: var(--shadow-thin);
	z-index: 100;
	min-width: 280px;
	font-size: var(--font-sm);
	color: var(--black);
}
