/********************************************************
/*  INPUT BLOCK
/********************************************************/
.input_component {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: var(--input-bg);
  border-radius: var(--input-border-radius);
  border-style: none;
  color: var(--input-text);
  line-height: var(--input-height);
  min-height: var(--input-height);
  margin: 0;
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  width: var(--input-width-md);
  box-sizing: border-box;

  ::placeholder {
    color: var(--input-placeholder);
  }
}

input.form_error {
  color: var(--input-error-text);
  font-weight: bold;
}

/********************************************************
/*  TEXTAREA BLOCK
/********************************************************/
.textarea_component,
.select_multiple {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: var(--input-bg);
  border-style: none;
  border-radius: var(--textarea-border-radius);
  z-index: 5;
  padding: var(--textarea-padding);
  font-size: var(--textarea-font-size);
  color: var(--input-text);
  width: var(--textarea-width-lg);
}