/********************************************************
/*  STATS COMPONENT
/********************************************************/
.stats_section_graphs {
  @media (min-width: @screen_breakpoint_xl) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(50% - var(--gap-lg))');
    }
  }
}

.stats_sections {
  @media (min-width: @screen_breakpoint_md) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_md) {
      width: e('calc(33% - var(--gap-lg))')
    }
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(25% - var(--gap-lg))');
    }
  }
}

.stats_section {
  margin-bottom: var(--margin-xl);
}

.chart_component {
  background: var(--white);
  height: 210px;
}