/********************************************************
/*  PAGER BLOCK
/********************************************************/
.pager_block {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-4);
	margin-bottom: var(--margin-lg);
}

.pager_disabled {
	opacity: var(--zx-button-disabled-opacity);
	pointer-events: none;
	cursor: not-allowed;
}
