/********************************************************
/*  COMPONENT
/********************************************************/
.tab_button {
	.button;
	margin-right: var(--tab-button-margin-right);
	font-size: var(--tab-button-font-size);
	&.tab_button_active {
		font-weight: normal;
		background: var(--tab-button-active-bg);
		color: var(--tab-button-active-text);
	}
}
