/********************************************************
/*  CHECKBOX
/********************************************************/
.checkbox_placeholder {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.checkbox {
	position: relative;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
	background-color: var(--checkbox-bg);
	border: var(--border-width-thin) solid var(--checkbox-border-color);
	border-radius: var(--border-radius-sm);
}

.checkbox:hover,
.checkbox:focus {
	border-color: var(--checkbox-border-focus-color);
}

.checkbox.checked:after {
	content: "✓";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 110%;
	text-align: center;
	font-weight: bold;
	color: var(--checkbox-check-color);
}