/********************************************************
/*  MENU BLOCK
/********************************************************/
.menu_block {
  position: relative;
  margin-left: var(--margin-lg);
  margin-right: var(--margin-lg);
}

.submenu_item {
  display: inline-block;
  outline: none;
  padding: var(--padding-sm);
  margin: 0 var(--margin-xs);
  font-size: var(--font-sm);
  line-height: inherit;
  min-width: 0;
  text-align: left;
}

.submenu_item:hover,
.submenu_item.submenu_item_selected {
  text-decoration: none;
  background-color: var(--secondary-bg);
}

.submenu_item_link {
  color: var(--link-alt-color);
}

.submenuitem_popup_block {
  background: var(--secondary-bg);
  font-size: var(--font-sm);
}

.submenuitem_popup_content {
	columns: 2;
}