/********************************************************
/*  DEBUG BLOCK
/********************************************************/

.debugBlock {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	padding: var(--space-8) var(--space-16);
	font-family: Lucida Sans, Courier New, monospace;
	font-size: var(--font-xs);
	background-color: var(--white);
	border: 1px solid var(--gray4);
	color: var(--gray5);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}