/********************************************************
/*  STATS COMPONENT
/********************************************************/
.stats_section_graphs {
  @media (min-width: @screen_breakpoint_xl) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--stats-section-gap);
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(50% - var(--stats-section-gap))');
    }
  }
}

.stats_sections {
  @media (min-width: @screen_breakpoint_md) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--stats-section-gap);
  }

  .stats_section {
    @media (min-width: @screen_breakpoint_md) {
      width: e('calc(33% - var(--stats-section-gap))')
    }
    @media (min-width: @screen_breakpoint_xl) {
      width: e('calc(25% - var(--stats-section-gap))');
    }
  }
}

.stats_section {
  margin-bottom: var(--stats-section-margin-bottom);
}

.chart_component {
  background: var(--stats-chart-bg);
  height: 210px;
}