.pressarticles_list {

}

.pressarticles_list_item {
	margin-bottom: var(--pressarticle-list-item-margin-bottom);
}

.pressarticles_list_top {
	display: flex;
	justify-content: stretch;
}

.pressarticles_list_left {
	flex-grow: 1;
}

.pressarticles_list_right {
	font-size: var(--pressarticle-list-right-font-size);
	display: flex;
	gap: var(--pressarticle-list-right-gap);
}

.pressarticles_list_status {
	&:before {
		content: "✔";
	}
}

.pressarticles_list_description {
	display: block;
	margin-top: var(--pressarticle-list-description-margin-top);
	font-size: var(--pressarticle-list-description-font-size);
	max-width: var(--pressarticle-list-description-max-width);
	color: var(--pressarticle-list-description-color);
}

.pressarticle-external-link {
	margin-bottom: var(--pressarticle-list-item-margin-bottom);
}

@media (min-width: @screen_breakpoint_md) {
	.pressarticle-layout {
		display: flex;
		gap: var(--pressarticle-layout-gap);
		width: 100%;
	}

	.pressarticle-layout-left {
		flex-grow: 1;
	}

	.pressarticle-layout-right {
		flex-grow: 0;
		flex-shrink: 0;

		.zxitem_images {
			flex-direction: column;
		}
	}
}

.pressarticle_content {
	font-family: "Roboto Mono", monospace;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.7;
}

.search_result_set_pressArticle {
	.search_result_set_title {
		margin-top: var(--space-32);
	}

	.search_result_set_items {
		gap: var(--space-32);
	}

	.subcontentmodule_component {
		flex-basis: e('calc(50% - var(--space-16))');
	}
}

.pressarticle-mentions-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--pressarticle-mentions-gap);
}

.pressarticle-mentions {
	margin-bottom: var(--pressarticle-mentions-margin-bottom);
}

.pressarticle-mentions h3 {
	margin-bottom: var(--pressarticle-mentions-header-margin-bottom);
}

.pressarticle-mentions-list {

}

.pressarticle-mentions-item {
	break-inside: avoid;
}

@media (min-width: @screen_breakpoint_md) {
	.pressarticle-mentions-list-columns {
		column-count: 3;
		column-gap: var(--pressarticle-layout-gap);
	}
}