/********************************************************
/*  SEARCH FORM
/********************************************************/
.center_block .header_search {
  position: absolute;
  white-space: nowrap;
  right: var(--search-header-right);
  top: var(--search-header-top);
  z-index: 1;
}

@media (max-width: @screen_breakpoint_sm_max) {
  .center_block .header_search {
    display: none;
  }
}

.header_search_controls {
  margin-left: var(--search-header-controls-margin-left);
  display: inline-block;
}

.search_button {
  .button;
  color: var(--search-button-color);
}

.header_search .input_component {
  width: 15em;
}


.search_emphasized {
	color: var(--search-emphasized-color);
}