/********************************************************
/*  SEARCH FORM
/********************************************************/
.header_search .search_form {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: var(--search-header-controls-margin-left);
}

.header_search_controls {
}

.search_button {
  .button;
  .button_primary;
}

.header_search .input_component {
  flex-grow: 1;
}


.search_emphasized {
	color: var(--search-emphasized-color);
}