/********************************************************
/*  USER PLAYLISTS COMPONENT
/********************************************************/
.userplaylists_table {
	width: 100%;
}

.userplaylists_item:hover td {
	background-color: var(--userplaylists-item-hover-bg);
}

.userplaylists_item_delete_cell {
	text-align: right;
}