/********************************************************
/*  PARTIES LIST
/********************************************************/
.partieslist_parties {
	.grid_container;
}

/********************************************************
/*  PARTY SHORT
/********************************************************/
.party_short {
	.grid_item(6);
}

.party_short_image {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

/********************************************************
/*  PARTY DETAILS
/********************************************************/
.party_details {
}

.party_compos {
	clear: both;
	margin: var(--party-compos-margin);
}

.party_compos_item {
	margin-bottom: var(--party-compos-item-margin-bottom);
}

.party_details_logo_image {
	max-width: 100%;
}

.party_details_logo {
	max-width: 30%;
	float: right;
	margin-left: var(--party-details-logo-margin-left);
	margin-bottom: var(--party-details-logo-margin-bottom);
}

@media (max-width: @screen_breakpoint_sm_max) {
	.party_details_logo {
		float: none;
		width: 100%;
		max-width: var(--party-details-logo-max-width);
		margin: 0 auto var(--party-details-logo-margin-bottom);
	}
}