/********************************************************
/*  TAGS COMPONENT
/********************************************************/
.tagslist_item {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 10px;
}

.picturetags_form {
  .picturetags_input {
    width: 40em;
    max-width: 100%;
  }

  .form_table {
    width: auto;
  }
}

.tagslist_block {
  text-align: justify;
}

.tag_suggestions {
  margin: 1em 0 1em;
}

.tag_suggestion_button {
  margin: var(--space-4);
}

.tag_suggestion_text {
  vertical-align: middle;
}