/********************************************************
/*  COMMENT FORM
/********************************************************/
.comment_form {
}

.comment_form .form_table {
    max-width: 50em;
}

/********************************************************
/*  COMMENT
/********************************************************/
.comment {
    margin: var(--comment-margin);
}

.vote_negative_transparent {
    .comment_content {
        opacity: 0.1;

        &:hover {
            opacity: 1;
        }

        transition: opacity var(--controls-transition-time) ease-in;
    }
}

.comment_content_link {
    text-decoration: none;
    display: block;
    color: var(--comment-content-link-color);
    font-weight: bold;
    font-size: var(--comment-content-link-font-size);
    margin-bottom: var(--comment-content-link-margin-bottom);
}

.comment_content_link:hover {
    text-decoration: underline;
}

.comment_image {
    @media (min-width: @screen_breakpoint_md) {
        float: left;
        margin: var(--comment-image-margin);
    }
    @media (max-width: @screen_breakpoint_sm_max) {
        width: 100%;
        margin: var(--space-8) 0;
        img {
            display: block;
            width: 100%;
        }
    }

}

.comments_comments {
    margin-left: var(--comment-nested-margin-left);
}

/********************************************************
/*  COMMENT SHORT
/********************************************************/
.comment.comment_short {
    margin-top: 0;
    margin-bottom: var(--comment-short-margin-bottom);
    font-size: var(--comment-short-font-size);
}

.comment_short .comment_author {
    font-weight: normal;
    color: var(--comment-short-author-color);
    margin-right: 0;
}

.comment_short .comment_content {
    line-height: 120%;
      overflow-wrap: anywhere;
}
