.linklist_list {
	background: var(--linklist-bg);
	display: inline-block;
	min-height: 16em;
	width: 23%;
	padding: var(--linklist-padding);
}

@media (max-width: @screen_breakpoint_sm_max) {
	.linklist_list {
		width: 49%;
	}
}

.linklist_list_item {
	color: var(--linklist-item-color);
	margin-bottom: var(--linklist-item-margin-bottom);
}

.linklist_list_image_wrap {
	margin-right: var(--linklist-image-wrap-margin-right);
	width: 25%;
}