/********************************************************
/*  SHARED WITH CKEDITOR
/********************************************************/
@ppx: 14.5rem;
@primary_color: var(--main-background);
@secondary_color: var(--secondary-bg);
@header_background_color: @primary_color;
@mobileheader_height: 4em;

img {
  border-style: none;
}

html, input, textarea, select {
  font-family: Roboto, Helvetica Neue, sans-serif;
}

html {
  color: var(--text-color);
}

td {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  margin: var(--heading-margin-top) 0 var(--heading-margin-bottom) 0;
  padding: 0;
  color: var(--text-color);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: normal;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: normal;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: normal;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

iframe {
  display: block;
  padding: 0;
  margin: 0;
  border-style: none;
}

strong {
}

ul {
}

ul li ul {
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.html_content img[align="left"],
.html_content img[style*="float: left"],
.html_content img[style*="float:left"],
.html_content figure[align="left"],
.html_content figure[style*="float: left"],
.html_content figure[style*="float:left"] {
  margin: var(--html-content-image-margin) var(--html-content-image-margin) var(--html-content-image-margin) 0;
}

.html_content img[align="right"],
.html_content img[style*="float: right"],
.html_content img[style*="float:right"],
.html_content figure[align="right"],
.html_content figure[style*="float: right"],
.html_content figure[style*="float:left"] {
  margin: var(--html-content-image-margin) 0 var(--html-content-image-margin) var(--html-content-image-margin);
}