<zx-dialog titleKey="emulator.title" (closeClick)="close()">
  <div class="zx-emulator-dialog__content">
    <div class="zx-emulator-dialog__canvas-wrap">
      <canvas #canvas class="zx-emulator-dialog__canvas" id="canvas" tabindex="0" width="960" height="720"></canvas>
      <div *ngIf="loading" class="zx-emulator-dialog__overlay">
        <span appText="label" tone="muted">{{ 'emulator.loading' | translate }}</span>
      </div>
      <div *ngIf="error" class="zx-emulator-dialog__overlay">
        <span appText="label" tone="danger">{{ error }}</span>
      </div>
    </div>
    <p *ngIf="showSamcoupeNote" class="zx-emulator-dialog__note" appText="label" tone="muted">
      {{ 'emulator.samcoupe' | translate }}
    </p>
  </div>

  <div zxDialogFooter>
    <zx-button-controls align="end" class="zx-emulator-dialog__controls">
      <label *ngIf="showScreenshotControls" class="zx-emulator-dialog__selector">
        <span appText="label" tone="muted">{{ 'emulator.screenshot-format-label' | translate }}</span>
        <select [(ngModel)]="screenshotSelection">
          <option value="48">48</option>
          <option value="128">128</option>
          <option value="giga">giga</option>
        </select>
      </label>
      <zx-button color="outlined" (click)="setFullscreen()">{{ 'emulator.fullscreen' | translate }}</zx-button>
    </zx-button-controls>
  </div>
</zx-dialog>
