<header class="zx-dialog__header">
  <ng-template #defaultHeader>
    <h2 class="zx-dialog__title" zxHeading2 *ngIf="titleKey || title">
      {{ titleKey ? (titleKey | translate) : title }}
    </h2>
    <zx-button
      *ngIf="showClose"
      color="transparent"
      [square]="true"
      ariaLabel="Close"
      (click)="closeClick.emit()"
    >
      <svg-icon name="close" class="zx-dialog__close-icon"></svg-icon>
    </zx-button>
  </ng-template>
  <ng-container *ngIf="customHeader; else defaultHeader">
    <ng-content select="[zxDialogHeader]"></ng-content>
  </ng-container>
</header>
<div class="zx-dialog__body">
  <ng-content></ng-content>
</div>
<footer class="zx-dialog__footer">
  <ng-content select="[zxDialogFooter]"></ng-content>
</footer>
