<div *ngIf="model">
    <h1>{{ model.h1 }}</h1>
    <div class="zx-prods-list-presets" #contentElement>
        <zx-button color="outlined" (click)="updatesPresetClicked()">{{ 'prods-list.presets.updates' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="yearPresetActive()" (click)="yearPresetClicked()">{{ 'prods-list.presets.year' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="recentPresetActive()" (click)="recentPresetClicked()">{{ 'prods-list.presets.recent' | translate }}</zx-button>
        <zx-button color="outlined" (click)="topPresetClicked()">{{ 'prods-list.presets.top' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['zxnext'])" (click)="hwPresetClicked(['zxnext'])">{{ 'prods-list.presets.next' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['tsconf', 'baseconf', 'zxevolution'])" (click)="hwPresetClicked(['tsconf', 'baseconf', 'zxevolution'])">{{ 'prods-list.presets.evolution' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['zx8116', 'zx811', 'zx812', 'zx8132', 'zx8164', 'lambda8300', 'zx80'])" (click)="hwPresetClicked(['zx8116', 'zx811', 'zx812', 'zx8132', 'zx8164', 'lambda8300', 'zx80'])">{{ 'prods-list.presets.zx81' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['samcoupe'])" (click)="hwPresetClicked(['samcoupe'])">{{ 'prods-list.presets.samcoupe' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['elementzxmb'])" (click)="hwPresetClicked(['elementzxmb'])">{{ 'prods-list.presets.elementzxmb' | translate }}</zx-button>
        <zx-button color="outlined" *ngIf="hwPresetActive(['gs'])" (click)="hwPresetClicked(['gs'])">{{ 'prods-list.presets.gs' | translate }}</zx-button>
    </div>
    <div class="zx-prods-list-content"
    >
        <div
                class="zx-prods-list-left"
                [ngClass]="{'disabled': loading}"
        >
            <zx-categories-tree-selector
                    [selectorData]="model.categoriesSelector"
                    (categoryChanged)="categoryChanged($event)"
            ></zx-categories-tree-selector>
            <zx-dialog-selector
                    [selectorData]="model.countriesSelector"
                    (newValues)="countriesChanged($event)"
                    [width]="'60rem'"
                    [selectedValuesLabel]="'prods-list.filters.countries.selected' | translate"
                    [selectValuesLabel]="'prods-list.filters.countries.select' | translate"
            ></zx-dialog-selector>
            <zx-dialog-selector
                    [selectorData]="model.languagesSelector"
                    (newValues)="languagesChanged($event)"
                    [width]="'50rem'"
                    [selectedValuesLabel]="'prods-list.filters.languages.selected' | translate"
                    [selectValuesLabel]="'prods-list.filters.languages.select' | translate"
            ></zx-dialog-selector>
            <zx-dialog-selector
                    [selectorData]="model.legalStatusesSelector"
                    (newValues)="legalStatusesChanged($event)"
                    [selectedValuesLabel]="'prods-list.filters.legal-statuses.selected' | translate"
                    [selectValuesLabel]="'prods-list.filters.legal-statuses.select' | translate"
            ></zx-dialog-selector>
            <zx-dialog-selector
                    [selectorData]="model.formatsSelector"
                    (newValues)="formatsChanged($event)"
                    [width]="'60rem'"
                    [selectedValuesLabel]="'prods-list.filters.formats.selected' | translate"
                    [selectValuesLabel]="'prods-list.filters.formats.select' | translate"
            ></zx-dialog-selector>
            <zx-dialog-selector
                    [selectorData]="model.releaseTypesSelector"
                    (newValues)="releaseTypesChanged($event)"
                    [selectedValuesLabel]="'prods-list.filters.release-types.selected' | translate"
                    [selectValuesLabel]="'prods-list.filters.release-types.select' | translate"
            ></zx-dialog-selector>
            <zx-checkbox-field
                class="include-subcategories-prods-selector"
                [(ngModel)]="includeSubcategoriesProds"
                (ngModelChange)="includeSubcategoriesProdsSelected()">
                {{ 'prods-list.include-subcategories-prods' | translate }}
            </zx-checkbox-field>
        </div>
        <div class="zx-prods-list-right">
            <div
                    class="selectors"
                    [ngClass]="{'disabled': loading}"
            >
                <div class="selectors-top">
                    <zx-dialog-selector
                            [selectorData]="model.yearsSelector"
                            (newValues)="yearsChanged($event)"
                            [width]="'40rem'"
                            [selectedValuesLabel]="'prods-list.filters.year.selected' | translate"
                            [selectValuesLabel]="'prods-list.filters.year.select' | translate"
                    ></zx-dialog-selector>
                    <zx-dialog-selector
                            [selectorData]="model.hardwareSelector"
                            (newValues)="hardwareChanged($event)"
                            [width]="'60rem'"
                            [selectedValuesLabel]="'prods-list.filters.hardware.selected' | translate"
                            [selectValuesLabel]="'prods-list.filters.hardware.select' | translate"
                    ></zx-dialog-selector>
                    <zx-tags-selector
                            [tagsSelector]="model.tagsSelector"
                            (tagsSelected)="tagsSelected($event)"
                    ></zx-tags-selector>
                    <zx-checkbox-field
                        class="releases-selector"
                        [(ngModel)]="releases"
                        (ngModelChange)="releasesSelected()">
                        {{ 'prods-list.releases' | translate }}
                    </zx-checkbox-field>
                    <zx-sorting-selector
                            [sortingSelector]="model.sortingSelector"
                            (sortingSelected)="sortingSelected($event)"
                    ></zx-sorting-selector>
                    <div class="layout-selector">
                        <zx-toggle
                            [options]="layoutOptions"
                            [(value)]="layout"
                        ></zx-toggle>
                    </div>
                </div>
                <zx-letter-selector
                        [lettersSelector]="model.lettersSelector"
                        (letterSelected)="letterSelected($event)"
                ></zx-letter-selector>
            </div>
            <div class="zx-prods-list-center">
                <zx-spinner class="zx-prods-list-spinner" *ngIf="loading" size="xl"></zx-spinner>
                <div *ngIf="model.prods && layout!=='table'" class="zx-prods-gallery" [ngClass]="{'disabled': loading}">
                    <zx-prod-block
                            *ngFor="let zxProd of model.prods"
                            [model]="zxProd"
                            [imagesLayout]="layout"
                            (categoryChanged)="categoryChanged($event)"
                            (yearChanged)="yearsChanged($event)"
                            (hardwareChanged)="hardwareChanged($event)"
                            (languageChanged)="languagesChanged($event)"
                    ></zx-prod-block>
                </div>
                <table *ngIf="layout==='table'" class="zx-prods-table" [ngClass]="{'disabled': loading}">
                    <thead>
                    <tr>
                        <td class="zx-prods-table-sortable"
                            (click)="tableSortingClicked('title')">{{ 'zx-prod.title' | translate }}
                        </td>
                        <td>{{ 'zx-prod.categories' | translate }}</td>
                        <td>{{ 'zx-prod.developers' | translate }}</td>
                        <td>{{ 'zx-prod.publishers' | translate }}</td>
                        <td class="zx-prods-table-sortable"
                            (click)="tableSortingClicked('year')">{{ 'zx-prod.year' | translate }}
                        </td>
                        <td class="zx-prods-table-sortable"
                            (click)="tableSortingClicked('date')">{{ 'zx-prod.date-created' | translate }}
                        </td>
                    </tr>
                    </thead>
                    <zx-prod-row
                            *ngFor="let zxProd of model.prods"
                            [model]="zxProd"
                            (categoryChanged)="categoryChanged($event)"
                            (yearChanged)="yearsChanged($event)"
                            (hardwareChanged)="hardwareChanged($event)"
                            (languageChanged)="languagesChanged($event)"
                    ></zx-prod-row>
                </table>
                <zx-pagination
                        [pagesAmount]="pagesAmount"
                        [currentPage]="currentPage"
                        (pageChange)="setCurrentPage($event)"
                        [urlBase]="urlBase"
                ></zx-pagination>
            </div>
        </div>
    </div>
</div>
