@use '@angular/material' as mat;

@use 'app/shared/theme';

@include mat.core();

$zxart-primary: mat.m2-define-palette(mat.$m2-gray-palette, 800, 900, 300);
$zxart-accent: $zxart-primary;
$ng-zxart-warn: mat.m2-define-palette(mat.$m2-red-palette);

$zxart-typography: mat.m2-define-typography-config(
        $font-family: Roboto,
        $body-1: mat.m2-define-typography-level(
                $font-weight: 400,
                $font-size: 14px,
                $line-height: 1.5,
                $letter-spacing: normal,
        ),
);

$zxart-theme: mat.m2-define-dark-theme((
        color: (
                primary: $zxart-primary,
                accent: $zxart-accent,
        ),
        typography: $zxart-typography,
        density: 0,
));
$zxart-tree-theme: mat.m2-define-dark-theme((
        color: (
                primary: $zxart-primary,
                accent: $zxart-accent,
        ),
        typography: $zxart-typography,
        density: -3
));

@include mat.all-component-themes($zxart-theme);

// Apply specific typography for tree and other components if needed
@include mat.tree-typography($zxart-tree-theme);

.cdk-overlay-pane.g-overlay lightbox .g-image-item,
.cdk-overlay-pane.g-overlay lightbox gallery-image img {
  image-rendering: pixelated !important;
}

.g-backdrop {
  background: var(--black) !important;
  opacity: var(--zx-lightbox-backdrop-opacity) !important;
}
