
$mat-tree-node-height: 24px;
@import '~@angular/material/theming';
@include mat-core();
$ng-zxart-primary: mat-palette($mat-gray, 800, 900, 300);
$ng-zxart-accent: $ng-zxart-primary;
$ng-zxart-warn: mat-palette($mat-red);

$ng-zxart-theme: mat-light-theme((
  color: (
    primary: $ng-zxart-primary,
    accent: $ng-zxart-accent,
    warn: $ng-zxart-warn,
  )
));
@include angular-material-theme($ng-zxart-theme);
