:host {
  display: block;
  padding-bottom: var(--zx-release-section-heading-pb);
  border-bottom: 1px solid var(--zx-release-section-heading-border);
  margin-bottom: var(--zx-release-section-heading-mb);
}
