<div class="inlay-tile__img" (click)="imageClick.emit()">
  <img
    *ngIf="inlay.imageUrl"
    loading="lazy"
    [src]="inlay.imageUrl"
    [alt]="inlay.title"
  />
</div>
<div class="inlay-tile__meta">
  <span class="inlay-tile__title" appText="caption">{{ inlay.title }}</span>
  <a
    *ngIf="showReleaseInfo && inlay.releaseTitle"
    class="inlay-tile__release"
    [href]="inlay.releaseUrl"
    appText="caption"
    tone="muted-link"
    (click)="$event.stopPropagation()"
  >{{ inlay | prodReleaseLabel }}</a>
</div>
