<zx-dialog [title]="data.title" (closeClick)="close()">
  <div class="file-viewer-dialog__body">
    <ng-container *ngIf="isPdf">
      <ngx-extended-pdf-viewer
        [src]="data.downloadUrl"
        [showToolbar]="true"
        [showSidebarButton]="false"
        [showFindButton]="true"
        [showPagingButtons]="true"
        [showZoomButtons]="true"
        [showPresentationModeButton]="false"
        [showOpenFileButton]="false"
        [showPrintButton]="true"
        [showDownloadButton]="true"
        [showSecondaryToolbarButton]="false"
        height="75vh">
      </ngx-extended-pdf-viewer>
    </ng-container>

    <ng-container *ngIf="!isPdf">
      <div *ngIf="loading" class="file-viewer-dialog__loading">{{ 'prod-details.instructions-loading' | translate }}</div>
      <pre *ngIf="!loading && textContent !== null" class="file-viewer-dialog__text">{{ textContent }}</pre>
      <p *ngIf="!loading && textContent === null" class="file-viewer-dialog__error">{{ 'prod-details.instructions-error' | translate }}</p>
    </ng-container>
  </div>
</zx-dialog>
