@use "shared/vars" as vars;
@use "shared/mixins" as mixins;

:host {
  display: table-row;
}

.zx-prod-year {
  width: 3rem;
}

.zx-prod-date {
  width: 8rem;
  white-space: nowrap;
  text-align: right;
}

.zx-prod-category-link {
  @include mixins.pseudo-link;
}

.zx-prod-year-link {
  @include mixins.pseudo-link;
}
