:host {
  display: block;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  height: var(--input-range-height);
  padding: 0;
  border: none;
  background: var(--input-range-track);
  border-radius: var(--input-range-height);
  accent-color: var(--input-range-accent);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
