@use "shared/vars" as vars;

.categories-tree-invisible {
  display: none;
}

.categories-tree ul,
.categories-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

.mat-tree {
  background: transparent;
  color: var(--text-color);
}

.mat-tree-node, .mat-nested-tree-node {
  color: var(--text-color);
}

.mat-tree-node-selected {
  font-weight: bold;
}
