<zx-picture-gallery-host></zx-picture-gallery-host>

<zx-stack spacing="lg">
  <zx-picture-grid-skeleton *ngIf="loading" [count]="6"></zx-picture-grid-skeleton>

  <div *ngIf="error" zxCaption>{{ 'firstpage.error' | translate }}</div>
  <div *ngIf="!loading && !error && yearGroups.length === 0" zxCaption>{{ 'firstpage.empty' | translate }}</div>

  <ng-container *ngIf="!loading && !error && yearGroups.length > 0">
    <div *ngFor="let group of yearGroups">
      <h2 zxHeading2>{{ group.year > 0 ? group.year : ('tune.unknownYear' | translate) }}</h2>
      <div zxPicturesGrid>
        <zx-picture-card
          *ngFor="let pic of group.pictures; let i = index"
          [picture]="pic"
          [galleryIndex]="group.startIndex + i"
          [galleryId]="galleryId"
        ></zx-picture-card>
      </div>
    </div>
  </ng-container>
</zx-stack>
