:host {
  display: block;
  margin-bottom: var(--zx-release-hero-mb);
}

.rp-formats {
  margin-bottom: var(--zx-release-hero-formats-mb);
}

.rp-hw {
  margin-bottom: var(--zx-release-hero-hw-mb);
}
