<zx-page-layout>
<h1 zxPageHeader appHeading="display">
  {{ (creating ? 'parties-page.add-party' : 'party-details.action.showPublicForm') | translate }}
</h1>
<div *ngIf="loading" class="party-edit__loading">
  <zx-spinner size="lg"></zx-spinner>
</div>

<form *ngIf="!loading" zxForm [columns]="2" [formGroup]="form" (ngSubmit)="onSubmit()">
  <zx-form-section [title]="'form.identification' | translate" icon="calendar">
    <zx-form-field [fullWidth]="true">
      <zx-form-label for="party-title" [required]="true">{{ 'party-form.title' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-input id="party-title" formControlName="title" type="text"></zx-input>
        <zx-control-errors [control]="form.controls['title']" [messages]="titleMessages"></zx-control-errors>
      </zx-form-control>
    </zx-form-field>

    <zx-form-field>
      <zx-form-label for="party-abbreviation">{{ 'party-form.abbreviation' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-input id="party-abbreviation" formControlName="abbreviation" type="text"></zx-input>
      </zx-form-control>
    </zx-form-field>
  </zx-form-section>

  <zx-form-section [title]="'form.geography' | translate" icon="location">
    <zx-form-field>
      <zx-form-label>{{ 'party-form.country' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-entity-autocomplete
          formControlName="country"
          types="country"
          [placeholder]="'party-form.search-placeholder' | translate"
        ></zx-entity-autocomplete>
      </zx-form-control>
    </zx-form-field>

    <zx-form-field>
      <zx-form-label>{{ 'party-form.city' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-entity-autocomplete
          formControlName="city"
          types="city"
          [placeholder]="'party-form.search-placeholder' | translate"
        ></zx-entity-autocomplete>
      </zx-form-control>
    </zx-form-field>
  </zx-form-section>

  <zx-form-section [title]="'form.image' | translate" icon="image">
    <zx-form-field [fullWidth]="true">
      <zx-form-label>{{ 'party-form.image' | translate }}</zx-form-label>
      <zx-form-control>
        <zx-image-upload [imageUrl]="imageUrl" (changed)="onImageChanged($event)"></zx-image-upload>
      </zx-form-control>
    </zx-form-field>
  </zx-form-section>

  <zx-form-message *ngIf="errorMessage" variant="error">{{ errorMessage | translate }}</zx-form-message>

  <zx-form-actions [sticky]="true" align="end">
    <zx-button-controls>
      <zx-button color="secondary" type="button" (click)="onCancel()">{{ 'form.cancel' | translate }}</zx-button>
      <zx-button color="primary" type="submit" [disabled]="submitting">{{ 'party-form.save' | translate }}</zx-button>
    </zx-button-controls>
  </zx-form-actions>
</form>
</zx-page-layout>
